.brz-resizable__resize-e,
.brz-resizable__resize-s,
.brz-resizable__resize-n,
.brz-resizable__resize-w,
.brz-resizable__resize-se,
.brz-resizable__resize-ne,
.brz-resizable__resize-sw,
.brz-resizable__resize-nw {
  position: absolute;
}

.brz-resizable__resize-n {
  left: 10px;
  right: 20px;
  top: 0;
  height: 8px;
  cursor: ns-resize;
}

.brz-resizable__resize-e {
  top: 10px;
  bottom: 20px;
  right: 0;
  width: 8px;
  cursor: ew-resize;
}

.brz-resizable__resize-s {
  left: 10px;
  right: 20px;
  bottom: 0;
  height: 8px;
  cursor: ns-resize;
}

.brz-resizable__resize-w {
  top: 10px;
  bottom: 20px;
  left: 0;
  width: 8px;
  cursor: ew-resize;
}

.brz-resizable__resize-se {
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
}

.brz-resizable__resize-ne {
  right: 0;
  top: 0;
  width: 14px;
  height: 14px;
  cursor: nesw-resize;
}

.brz-resizable__resize-sw {
  left: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  cursor: nesw-resize;
}

.brz-resizable__resize-nw {
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  cursor: nwse-resize;
}
