.cm-wrapper {
  width: 100%;
  font-family: monospace;
  direction: ltr;
  border-radius: 4px;
  height: 30px;
}
.cm-editor {
  padding: 3px;
  height: inherit;
  overflow: hidden;
}
.cm-scroller {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 25px;
  box-sizing: content-box;
}

.cm-line span::selection,
.cm-line::selection {
  color: white;
}

.cm-line {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: 19px;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.brz-ed-control__codeMirror {
  // Line size
  &--short {
    &:focus-within {
      height: 200px;
    }
  }

  &--medium {
    &:focus-within {
      height: 300px;
    }
  }

  &--large {
    &:focus-within {
      height: 400px;
    }
  }

  &--auto {
    &:focus-within {
      height: auto;
    }
  }
}

.cm-placeholder {
  color: $toolbar__code_mirror-text-color;
}
