.cm-wrapper {
  width: 100%;
  font-family: monospace;
  direction: ltr;
  border-radius: 4px;
  height: 30px;
}
.cm-editor {
  padding: 3px 0 3px 8px;
  height: inherit;
  overflow: hidden;
}

.cm-scroller {
  box-sizing: content-box;

  &::-webkit-scrollbar {
    width: 24px; /* Total width including `border-width` of scrollbar thumb */
    height: 24px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vw;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 9px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick with margin for scroll*/
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: var(--toolbars-icons-separators, #4a5058);
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.cm-editor:not(.cm-focused):not(:active):not(:focus-within) {
  padding: 3px 8px 3px 8px;

  .cm-scroller {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
}

.cm-line span::selection,
.cm-line::selection {
  color: white;
}

.cm-line {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: 19px;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.brz-ed-control__codeMirror {
  // Line size
  &--short {
    &:focus-within {
      height: 200px;
    }
  }

  &--medium {
    &:focus-within {
      height: 300px;
    }
  }

  &--large {
    &:focus-within {
      height: 400px;
    }
  }

  &--auto {
    &:focus-within {
      height: auto;
    }
  }
}

.cm-placeholder {
  color: $toolbar__code_mirror-placeholder-text-color;
}
