.cm-s-idea {
  background: $modal_email__template__code_mirror-bg;
  color: $modal_email__template__code_mirror-color;
}

.cm-s-idea span.cm-meta {
  color: $modal_email__template__code_mirror__meta;
}

.cm-s-idea span.cm-number {
  color: $modal_email__template__code_mirror__number;
}

.cm-s-idea span.cm-keyword {
  line-height: 1em;
  font-weight: bold;
  color: $modal_email__template__code_mirror__keyword;
}

.cm-s-idea span.cm-atom {
  font-weight: bold;
  color: $modal_email__template__code_mirror__atom;
}

.cm-s-idea span.cm-def {
  color: $modal_email__template__code_mirror__def;
}

.cm-s-idea span.cm-variable {
  color: $modal_email__template__code_mirror__variable;
}

.cm-s-idea span.cm-variable-2 {
  color: $modal_email__template__code_mirror__variable;
}

.cm-s-idea span.cm-variable-3,
.cm-s-idea span.cm-type {
  color: $modal_email__template__code_mirror__variable;
}

.cm-s-idea span.cm-property {
  color: $modal_email__template__code_mirror__property;
}

.cm-s-idea span.cm-operator {
  color: $modal_email__template__code_mirror__operator;
}

.cm-s-idea span.cm-comment {
  color: $modal_email__template__code_mirror__comment;
}

.cm-s-idea span.cm-string {
  color: $modal_email__template__code_mirror__string;
}

.cm-s-idea span.cm-string-2 {
  color: $modal_email__template__code_mirror__string;
}

.cm-s-idea span.cm-qualifier {
  color: $modal_email__template__code_mirror__qualifier;
}

.cm-s-idea span.cm-error {
  color: $modal_email__template__code_mirror__error;
}

.cm-s-idea span.cm-attribute {
  color: $modal_email__template__code_mirror__attribute;
}

.cm-s-idea span.cm-tag {
  color: $modal_email__template__code_mirror__tag;
}

.cm-s-idea span.cm-link {
  color: $modal_email__template__code_mirror__link;
}

.cm-s-idea .CodeMirror-activeline-background {
  background: $modal_email__template__code_mirror__activeline-bg;
}

.cm-s-idea span.cm-builtin {
  color: $modal_email__template__code_mirror__builtin;
}

.cm-s-idea span.cm-bracket {
  color: $modal_email__template__code_mirror__bracket;
}

.cm-s-idea {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-s-idea .CodeMirror-matchingbracket {
  outline: 1px solid $modal_email__template__code_mirror__matchingbracket-outline;
  color: $modal_email__template__code_mirror__matchingbracket-color !important;
}

.cm-s-idea .CodeMirror-cursor {
  border-left: 1px solid $modal_email__template__code_mirror__cursor;
}

.CodeMirror-hints.idea {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: $modal_email__template__code_mirror__hints-color;
  background-color: $modal_email__template__code_mirror__hints-bg !important;
}

.CodeMirror-hints.idea .CodeMirror-hint-active {
  background-color: $modal_email__template__code_mirror__hints-bg--active !important;
  color: $modal_email__template__code_mirror__hints--active !important;
}
