<div class="tp-latest-comments" >
    {% for comment in apiData %}
    <div class="tp-comment">
        <img data-brz-toolbar="avatar" class="tp-comment-avatar" src="{{ comment.avatar }}">
        <div class="tp-comment-content">
            <div class="tp-comment-author">{{ comment.author }}</div>
            <div data-brz-toolbar="content" class="tp-comment-text">{{ comment.content }}</div>
        </div>
    </div>
    {% endfor %}
</div>