{% set staticUrl = editorData.urls.static %}
{% spaceless %}
    <div id="brz-ed-root"></div>
    <script src="{{ staticUrl }}/visual/brizy-init.js"></script>
    <script>
        var config = JSON.parse("{{ editorData | json_encode | e("js") }}");
        Brizy.init(config);
    </script>
    {% if not DEBUG %}
        <script> (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
                h._hjSettings = {hjid: 808817, hjsv: 6};
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv='); </script>
    {% endif %}
{% endspaceless %}
