{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="brz brz-ed" style="margin: 0;">
    <div id="page" class="brz-ed-page">
        <iframe id="brz-ed-iframe" class="brz-ed-page" style="border: 0; width: 100%; min-height: 100vh; margin: 0 auto;" src="{{ iframe_url }}"></iframe>
    </div>
    </body>
    </html>
{% endspaceless %}
