{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="brz brz-ed">
    <div id="page" class="brz-ed-page">
        <iframe id="brz-ed-iframe" class="brz-ed-page" style="border: 0" src="{{ iframe_url }}"></iframe>
    </div>
    </body>
    </html>
{% endspaceless %}
