<div class="brz-wp__postinfo">
    <ul>
        <li class="brz-li">
            <svg class="brz-icon-svg">            
                <svg id="nc_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve">
                    <g fill="currentColor">
                        <path d="M13.9850002,11.4390442 L10.9218002,10.6698291 C10.4166834,10.5427595 10.0350164,10.1777695 9.93340018,9.72461757 L9.74580018,8.89386527 C11.2393081,8.29382448 12.1980559,6.98365131 12.2000002,5.54008745 L12.2000002,3.84904498 C12.2352768,1.81462889 10.4395078,0.117617453 8.12880019,0.00173874965 C6.99274598,-0.0289028374 5.89106848,0.3465296 5.07533472,1.04230642 C4.25960095,1.73808324 3.79946563,2.69479274 3.80000021,3.69397121 L3.80000021,5.54008745 C3.80139727,6.98409704 4.76023183,8.29486966 6.25420019,8.89509601 L6.0666002,9.72461757 C5.96451159,10.1772982 5.58293081,10.5417305 5.0782002,10.6685983 L2.01500021,11.4378134 C1.41389518,11.5889601 0.99965277,12.072165 1.00000022,12.6217893 L1.00000022,15.3860407 C1.00000022,15.7259013 1.31340089,16.0014128 1.70000022,16.0014128 L14.3000002,16.0014128 C14.6865995,16.0014128 15.0000002,15.7259013 15.0000002,15.3860407 L15.0000002,12.6217893 C14.9997226,12.0726212 14.5856062,11.5900654 13.9850002,11.4390442 Z"></path>
                    </g>
                </svg>
            </svg>
            {{ author }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg">
                <svg id="nc_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve">
                    <g fill="currentColor">
                        <path d="M15,2 C15.552,2 16,2.448 16,3 L16,5 L0,5 L0,3 C0,2.448 0.448,2 1,2 L3,2 L3,0 L5,0 L5,2 L11,2 L11,0 L13,0 L13,2 L15,2 Z M0,6 L16,6 L16,15 C16,15.6 15.6,16 15,16 L1,16 C0.4,16 0,15.6 0,15 L0,6 Z"></path>
                    </g>
                </svg>
            </svg>
            {{ date }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg">
                <svg id="nc_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve">
                    <g fill="currentColor">
                        <path d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 Z M12,9 L7,9 L7,4 L9,4 L9,7 L12,7 L12,9 Z"></path>
                    </g>
                </svg>
            </svg>
            {{ time }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg">
                <svg id="nc_icon"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve">
                    <g fill="currentColor">
                        <path d="M8,0 C3.6,0 0,3.1 0,7 C0,10.9 3.6,14 8,14 C8.4,14 8.8,14 9.1,13.9 L14,16 L14,11.6 C15.2,10.4 16,8.8 16,7 C16,3.1 12.4,0 8,0 Z" transform="translate(8.000000, 8.000000) scale(-1, 1) translate(-8.000000, -8.000000) "></path>
                    </g>
                </svg>
            </svg>
            {{ comments }}
        </li>
    </ul>
</div>