// Animation
.brz-ed-animated {
  animation-duration: 0.15s;
  animation-fill-mode: both;

  &--fadeInDown {
    animation-name: brz-ed-fadeInDown;
  }

  &--fadeInUp {
    animation-name: brz-ed-fadeInUp;
  }

  &--fadeIn {
    animation-name: brz-ed-fadeIn;
  }

  &--fadeInLeft {
    animation-name: brz-ed-fadeInLeft;
  }

  &--spin {
    animation-name: brz-ed-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

// React Animation
.brz-ed-fade {
  transition: opacity 150ms ease-in;

  &.preEnter {
    opacity: 0.01;
  }

  &.exiting {
    opacity: 0.01;
  }
}

// Fix to access toolbar column/row
.brz-animated {
  animation-fill-mode: none;
}
