@import "../../variables";

// Badges
.brz-ed-badge {
  font-family: $font-family-1;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  background-color: $brand-primary;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  padding: 4px 5px;

  &--pro {
    background-color: $brand-primary-pro;
  }
  &--new {
    background-color: $green;
  }
}

// Delete Badge
.brz-ed-badge__delete {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 28px;
  background-color: #fff;
  color: #03080f;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.2s linear opacity, 0.2s linear color;

  &:hover {
    color: #ed2164;
    transition: 0.2s linear color;
  }
}
