@import "../../variables";

// Badges
.brz-ed-badge {
  font-family: $default-font-family;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  background-color: $brand__primary;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  padding: 4px 5px;

  &--pro {
    background-color: $brand__primary__pro;
  }

  &--new {
    background-color: $green;
  }
}

// Delete Badge
.brz-ed-badge__delete {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 24px;
  background-color: $popup__fonts__icon__delete-bg;
  color: $popup__fonts__icon__delete-color;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.2s linear opacity, 0.2s linear color;

  &:hover {
    color: $popup__fonts__icon__delete-color--hover;
    transition: 0.2s linear color;
  }
}

