// Default Buttons
.brz-ed-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: $font-family-1;
  font-size: 14px;
  padding: 12px 18px;
  line-height: 1;
  outline: none;

  &:active {
    outline: 0;
    background-image: none;
  }
  &:focus {
    outline: none;
  }

  // Button with icon
  &-icon {
    .brz-icon-svg {
      margin-left: 10px;
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-icon--left {
    .brz-icon-svg {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  // Loading
  &--loading {
    pointer-events: none !important;
    transition: none;

    .brz-icon-svg {
      margin: 0;
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  // Disabled
  &--disabled {
    pointer-events: none !important;
    color: #fff !important;
    background-color: rgba(#292e37, 0.5) !important;
    border-color: transparent !important;
  }
}

// Corners
.brz-ed-btn-rounded {
  border-radius: 3px;
}
.brz-ed-btn-round {
  border-radius: 100px;
}

// Size
.brz-ed-btn-sm {
  padding: 11px 17px;
  font-size: 14px;

  &.brz-ed-btn-icon {
    .brz-icon-svg {
      font-size: 12px;
    }
  }
  &.brz-ed-btn--loading {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.brz-ed-btn-xs {
  font-size: 10px;
  padding: 9px 18px;
}
.brz-ed-btn-xs-2 {
  font-size: 13px;
  padding: 6px 18px;
  line-height: 1.1;
}
.brz-ed-btn-full {
  width: 100%;
}
.brz-ed-btn-width-1 {
  min-width: 130px;
}
.brz-ed-btn-width-2 {
  min-width: 176px;
}
.brz-ed-btn-width-3 {
  min-width: 102px;
}
.brz-ed-btn-width-4 {
  min-width: 116px;
}

// Colors
//
// Default
.brz-ed-btn-default {
  border-color: transparent;
  background-color: transparent;
  color: #626b70;

  &:hover {
    border-color: transparent;
    background-color: transparent;
  }
}

// Dark
.brz-ed-btn-dark {
  border-color: #3b474b;
  background-color: #3b474b;
  color: #fff;

  &:hover {
    border-color: #283337;
    background-color: #283337;
  }
}
.brz-ed-btn-dark-outline {
  color: #3b474b;
  border-color: #3b474b;
  background-color: #fff;

  &:hover {
    background-color: #3b474b;
    color: #fff !important;
  }
}

// Teal
.brz-ed-btn-teal {
  border-color: transparent !important;
  background-color: $floating-button-tail !important;
  color: #fff !important;

  &:hover {
    border-color: transparent !important;
    background-color: rgba($floating-button-tail, 0.8) !important;
  }
}
.brz-ed-btn-teal-outline {
  color: #34beea;
  border-color: #34beea;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #34beea;
    color: #fff !important;
  }
}

// Blue
.brz-ed-btn-blue {
  border-color: $floating-button-blue !important;
  background-color: $floating-button-blue !important;
  color: #fff !important;

  &:hover {
    border-color: #0092cc !important;
    background-color: #0092cc !important;
  }
}

// Green
.brz-ed-btn-green {
  border-color: #8dc63f;
  background-color: #8dc63f;
  color: #fff !important;

  &:hover,
  &:focus {
    border-color: #8dc63f;
    background-color: #8dc63f;
  }
}
.brz-ed-btn-green-outline {
  color: #8dc63f;
  border-color: #8dc63f;
  background-color: transparent;

  &:hover {
    background-color: #8dc63f;
    color: #fff !important;
  }
}

// Gray
.brz-ed-btn-gray {
  border-color: transparent;
  background-color: #818a91;
  color: #fff !important;

  &:hover,
  &:focus {
    border-color: transparent;
    background-color: rgba(129, 138, 145, 0.8);
  }
}
.brz-ed-btn-gray-outline {
  color: rgba(#292e37, 0.5);
  border-color: rgba(#292e37, 0.5);
  background-color: transparent;

  &:hover {
    background-color: rgba(#292e37, 0.5);
    color: #fff !important;
  }
}

// Red
.brz-ed-btn-red {
  border-color: $floating-button-red;
  background-color: $floating-button-red;
  color: #fff !important;

  &:hover,
  &:focus {
    border-color: transparent;
    background-color: #df3c3c;
  }
}
.brz-ed-btn-red-outline {
  color: #df3c3c;
  border-color: #df3c3c;
  background-color: transparent;

  &:hover {
    background-color: #df3c3c;
    color: #fff !important;
  }
}

// PRO
.brz-ed-btn-pro {
  border-color: transparent;
  background-color: $brand-primary-pro;
  color: #fff;
  font-size: 14px;
  font-weight: 600;

  &:hover,
  &:focus {
    border-color: transparent;
    background-color: rgba($brand-primary-pro, 0.8);
  }
}

// Hover
//
// Teal
.brz-ed-btn-teal--hover:hover {
  border-color: $floating-button-tail !important;
  background-color: $floating-button-tail !important;
}
.brz-ed-btn-red--hover:hover {
  border-color: $floating-button-red !important;
  background-color: $floating-button-red !important;
}
