.brz-shopify-quantity-style2 {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    text-align: center;

    &:focus {
      outline: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}
