@use "sass:color";

// Buttons Size
@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $line-height
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

// Variant hover/focus/active
@mixin button-variant($bg-default, $color-default, $border-default) {
  color: $color-default;
  background-color: $bg-default;
  border-color: $border-default;

  &:focus,
  &.focus {
    color: $color-default;
    background-color: color.adjust($bg-default, $lightness: -10%);
    border-color: color.adjust($border-default, $lightness: -15%);
  }

  &:hover {
    color: $color-default;
    background-color: color.adjust($bg-default, $lightness: -10%);
    border-color: color.adjust($border-default, $lightness: -10%);
  }
  &:active,
  &.active {
    color: $color-default;
    background-color: color.adjust($bg-default, $lightness: -10%);
    border-color: color.adjust($border-default, $lightness: -10%);
  }
}
