.brizy-editor-enabled #insert-media-button,
.brizy-editor-enabled #wp-content-editor-tools .wp-editor-tabs,
.brizy-editor-enabled #wp-content-editor-container .quicktags-toolbar,
.brizy-editor-enabled #wp-content-editor-container .wp-editor-area {
    display: none;
}

#brizy-admin-enable,
#brizy-admin-disable {
    float: left;
}

#brizy-admin-disable,
.brizy-editor-enabled #brizy-admin-enable {
    display: none;
}

.brizy-editor-enabled #brizy-admin-disable {
    display: block;
}

.brizy-editor {
    padding: 10% 0;
    display: none;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.brizy-editor-enabled .brizy-editor {
    display: flex;
}

.brizy-logo {
    max-height: 22px;
    margin-left: 4px;
    margin-right: 4px;
    transform: translateY(2px);
}

.brizy-button--arrow {
    max-height: 14px;
    margin-right: 11px;
}

.brizy-buttons {
    height: 40px;
    text-align: left;
}

.brizy-buttons-gutenberg {
    height: 300px;
    border: 1px solid #dedede;
    background: #f9f9f9;
    margin-top: 10px;
    line-height: 300px;
    text-align: center;
}

.brizy-buttons-gutenberg .brizy-button {
}

.brizy-buttons-gutenberg .brizy-button:hover {
}

.brizy-button {
    padding: 0px 30px 0px;
    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-radius: 3px;
    background-color: #d62c64;
    box-shadow: 0px 2px 0px 0px #981e46;
    text-shadow: none;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #fff !important;
    font-style: italic;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: all 200ms linear;
    height: 33px;
}

.brizy-button img {
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.brizy-button--default {
    font-size: 15px;
    color: #444;
    border-color: #e5e5e5;
    background-color: #fff;
    box-shadow: 0px 2px 0px 0px #e3e3e3;
}

.brizy-button--primary {
    height: 33px;
    color: #fff !important;
    border-color: #d62c64 !important;
    background-color: #d62c64 !important;
    box-shadow: 0px 2px 0px 0px #981e46 !important;
}

.brizy-button:hover,
.brizy-button:focus,
.brizy-button:active {
    transform: none;
}

.brizy-button--primary:hover,
.brizy-button--primary:focus,
.brizy-button--primary:active {
    color: #fff !important;;
    background-color: #d62c64 !important;;
    border-color: #d62c64 !important;;
    box-shadow: 0px 2px 0px 0px #981e46 !important;;
}

.brizy-button--default:hover,
.brizy-button--default:focus,
.brizy-button--default:active {
    color: #444;
    border-color: #e5e5e5;
    background-color: #fff;
    box-shadow: 0px 2px 0px 0px #e3e3e3;
}

/**
 * Style Brizy Templates
 */

.brizy-template-rules input[type="text"],
.brizy-template-rules select {
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: none;
}

.brizy-rule-select,
.brizy-rule-select ~ .select2-container {
    margin-right: 5px;
}

.brizy-template-rules .rule:not(:first-of-type) {
    margin-top: 10px;
}

.brizy-delete-rule {
    border: 0;
    padding: 0;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    color: #a00;
}

#template-rules .inside {
    padding-bottom: 20px;
}

.brizy-rule-select > select {
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
}

.brizy-rule-select > select:disabled {
    color: #444;
    background-color: #eee;
    border: 1px solid #aaa;
}

.brizy-rule-select--options {
    min-width: 175px;
}

.brizy-rule-select {
    position: relative;
}

.brizy-rule-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 7px;
    height: 0;
    width: 0;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

.brizy-rule-new-condition .brizy-rule-select2::after {
    content: none;
}

.brizy-featured-image {

}

.brizy-featured-image .wrapper {
    position: relative;
}

.brizy-featured-image .focal-point {
    position: absolute;
    z-index: 10;
    width: 14px;
    height: 14px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #2eb0d8;
    border: 2px solid #fff;
    border-radius: 18px;
    cursor: pointer;
}

.brizy-featured-image .deleteImage {
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: 11;
    font-size: 16px;
    width: 16px;
    height: 16px;
    background-color: #2d323b;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.brizy-featured-image .deleteImage svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    color: #efefef;
    fill: #efefef;
    stroke: none;
}

#brizy_dashboard .brizy-overview__feed {
    font-size: 14px;
    font-weight: 500;
}

#brizy_dashboard .e-brizy__feed .e-overview__post-link {
    padding-bottom: 5px;
}

#brizy_dashboard .brizy-overview__recently-edited .brizy-overview__heading, #brizy_dashboard .brizy-overview__feed .brizy-overview__heading {
    font-weight: 700;
    border-bottom: 1px solid #eee;
    margin: 0 -12px;
    padding: 6px 12px;
}

#brizy_dashboard .brizy-overview__badge {
    background: #39b54a;
    color: #fff;
    font-size: .75em;
    padding: 3px 6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase
}

.brizy-dashboard-widget-footer {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 12px 12px 0;
    border-top: 1px solid #eee;
}

.brizy-dashboard-widget-footer__go-pro {
    display:inline-flex;
    fill: #0073aa;
}

.brizy-dashboard-widget-footer__go-pro:hover {
    fill: #00a0d2;
}

/* Admin notice give us a rating */
.brz-review-notice-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.brz-review-notice-container .dashicons {
    font-size: 1.4em;
    padding-left: 10px;
}
.brz-review-notice-container a {
    padding-left: 5px;
    text-decoration: none;
}
.brz-review-notice-container .dashicons:first-child {
    padding-left: 0;
}
.brz-notice-image {
    max-width: 100px;
}

.brz-notice-content .brz-notice-heading {
    padding-bottom: 5px;
}
.brz-notice-content {
    margin-left: 15px;
}
.brz-notice-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Admin deactivate plugin modal */
.brz-deactivate-modal {
    border-radius:3px;
    animation: brz-feedback-modal-fadein .5s linear;
}
.brz-deactivate-overlay {
    animation: brz-feedback-overlay-fadein .5s linear;
}
.brz-deactivate-feedback-dialog-logo {
    width: 40px;
    vertical-align: middle;
}
.brz-deactivate-modal .ui-dialog-titlebar {
    display: none;
}
.brz-deactivate-modal .ui-dialog-content {
    padding: 0;
}
.brz-deactivate-feedback-dialog-header {
    padding: 18px 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    text-align: left;
}
.brz-deactivate-feedback-dialog-header-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 5px;
    color: #495157;
}
.brz-deactivate-feedback-dialog-form {
    padding: 30px;
    text-align: left;
}
.brz-deactivate-feedback-dialog-form-caption {
    font-weight: 700;
    font-size: 15px;
    color: #495157;
    line-height: 1.4;
    margin-bottom: 30px;
}
.brz-deactivate-feedback-dialog-input {
    float: left;
    margin: 0 15px 0 0;
    box-shadow: none;
}
.brz-deactivate-feedback-dialog-label {
    display: block;
    font-size: 13px;
    color: #6d7882;
}
#brz-deactivate-feedback-dialog .brz-deactivate-feedback-dialog-input {
    float: left;
    margin: 0 15px 0 0;
    box-shadow: none;
}
.brz-deactivate-feedback-dialog-input-wrapper {
    line-height: 1.3;
    overflow: hidden;
    margin-bottom: 15px;
}
.brz-deactivate-modal .ui-dialog-buttonpane {
    border: none;
    padding-bottom: 30px;
    border-radius:3px;
}
.brz-deactivate-modal .ui-dialog-buttonset {
    float:none;
}
.brz-feedback-submit {
    background-color: #05b3e6;
    color: #fff;
    width: 180px;
    height: 38px;
    border:none;
}
.brz-feedback-submit:hover,
.brz-feedback-submit:focus {
    opacity: 0.9;
    background-color: #05b3e6;
    color: #fff !important;
}
.brz-feedback-submit:disabled:hover {
    color: #a4afb7 !important;
}
.brz-feedback-skip {
    font-size: 12px;
    color: #a4afb7;
    background: none;
    float: right;
    width: auto;
    border:none;
    box-shadow: none;
}
.brz-feedback-skip:hover,
.brz-feedback-skip:active,
.brz-feedback-skip:focus {
    opacity: 0.8;
    color: #a4afb7;
    background: none;
    box-shadow: none;
}
.brz-feedback-text {
    margin: 10px 0 0 30px;
    padding: 5px;
    font-size: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    width: 92%;
}
.brz-feedback-text-alert {
    max-width: fit-content;
    color: #b01b1b;
    padding: 0;
}
@-webkit-keyframes brz-feedback-modal-fadein {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes brz-feedback-overlay-fadein {
    0% {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes brz-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes brz-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.brz-loading:before {
    display: inline-block;
    content: "\f463";
    font: 18px dashicons;
    animation: brz-rotation 2s linear infinite;
    margin-top:10px;
}
