<li class="brz-li brz-ed-popup-two-sidebar-list brz-ed-tab-item" data-tab-name="{{ item.id }}-content">
    <span class="brz-span brz-ed-popup-two-sidebar-list__span-icon">
        <i class="brz-icon-svg">
            <svg class="brz-icon-svg">
                <use xlink:href="{{ base_url~ 'fonts/' ~ item.icon }}"></use>
            </svg>
        </i>
    </span>
    <span class="brz-span brz-ed-popup-two-sidebar-list__span-text">{{ item.name }}</span>
</li>