@import "theme";

// from brizy-ui
@import "@brizy/ui/lib/Button/style/index";
@import "@brizy/ui/lib/Card/style/index";
@import "@brizy/ui/lib/Divider/style/index";
@import "@brizy/ui/lib/Dropdown/style/index";
@import "@brizy/ui/lib/EditorIcon/style/index";
@import "@brizy/ui/lib/Icon/style/index";
@import "@brizy/ui/lib/Inline/style/index";
@import "@brizy/ui/lib/Input/style/index";
@import "@brizy/ui/lib/Layout/style/index";
@import "@brizy/ui/lib/Space/style/index";
@import "@brizy/ui/lib/Input/style/textarea";
@import "@brizy/ui/lib/Typography/style/index";
@import "@brizy/ui/lib/SelectEditable2/style/index";
@import "@brizy/ui/lib/IconSet/style/index";
