/**
  Paths at directory build/${template}/visual/fonts
*/

@font-face {
  font-family: "Nucleo Outline";
  src: url("../fonts/icons/nucleo-outline.eot");
  src: url("../fonts/icons/nucleo-outline.eot") format("embedded-opentype"),
    url("../fonts/icons/nucleo-outline.woff2") format("woff2"),
    url("../fonts/icons/nucleo-outline.woff") format("woff"),
    url("../fonts/icons/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nucleo Glyph";
  src: url("../fonts/icons/nucleo-glyph.eot");
  src: url("../fonts/icons/nucleo-glyph.eot") format("embedded-opentype"),
    url("../fonts/icons/nucleo-glyph.woff2") format("woff2"),
    url("../fonts/icons/nucleo-glyph.woff") format("woff"),
    url("../fonts/icons/nucleo-glyph.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
