// Visual Container Plus for popup blocks
.brz-ed-container-adder {
  max-width: $block__adder__container__sm-width;
  height: auto;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $block__adder__container-bg;
  border: 2px dashed $block__adder__container-border;
  border-radius: $block__adder__container-border-radius;

  .floating-action-button {
    margin: 0 35px;
    flex: 1 0 54px;
  }

  .brz-span {
    width: 100%;
  }
}

.brz-ed-block-adder-title {
  font-family: $default-font-family;
  font-size: $block__adder-font-size;
  font-weight: bolder;
  text-transform: uppercase;
  color: $block__adder__title-color;
  margin-top: 50px;
  margin-bottom: 25px;
}

.brz-ed-block-adder-desc {
  font-family: $default-font-family;
  font-size: $block__adder-font-size;
  font-style: italic;
  color: $block__adder__desc-color;
  margin-top: 25px;
  margin-bottom: 50px;
}

// Hide adder when device mode is Mobile
&.brz-ed--mobile,
&.brz-ed--tablet {
  .brz-ed-container-adder {
    display: none;
  }
}

// --- Responsive
@include media-breakpoint-up(sm) {
  .brz-ed-container-adder {
    max-width: $block__adder__container-width;
    height: $block__adder__container-height;
    flex-direction: row;
  }

  .brz-ed-block-adder-title,
  .brz-ed-block-adder-desc {
    margin: 0;
    min-width: 165px;
  }

  .brz-ed-block-adder-title {
    text-align: end;
  }
}
