.brz-ed-popup-authorization {
  height: 100%;

  .brz-ed-popup-integrations__connect-head {
    padding-top: 37px;
  }
  .brz-ed-popup-integrations__connect-body {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__buttons {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}
