@import "../../variables";

// Blocks
.brz-ed-popup-two {
  &-btn-close {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 0;
    inset-inline-end: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 17px;
      border-top: 2px solid $block_layout__btn-color;
      top: 45%;
      inset-inline-start: 50%;
      margin-inline-start: -8px;
      transition: all 0.2s ease;
    }

    &:before {
      transform: rotateZ(45deg);
    }

    &:after {
      transform: rotateZ(-45deg);
    }

    &:hover:before,
    &:hover:after {
      border-color: $block_layout__btn-color-hover;
    }
  }

  &-btn-help {
    position: absolute;
    color: $block_layout__btn-color;
    top: 19px;
    inset-inline-end: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $block_layout__btn-color-hover;
    }
  }

  &-header {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  &-header__search {
    position: relative;
    width: 256px;
    height: 100%;

    .brz-ed-popup-two__input {
      width: 100%;
      height: 100%;
      padding-inline-start: 70px;
      background-color: $right_sidebar__header__tabs-bg;
      color: $left_sidebar__main__search-text-color;
      font-family: $default-font-family;
      font-size: 15px;
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      outline: none;
      border: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &::placeholder {
        color: $left_sidebar__main__search-text-color;
        font-style: italic;
      }
    }

    .brz-icon-svg {
      position: absolute;
      top: 0;
      bottom: 0;
      inset-inline-start: 40px;
      margin: auto;
      color: $left_sidebar__main__search-text-color;
    }

    &--hidden {
      background-color: $white;
    }

    &--hidden * {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-header__import-kit {
    background-color: $white;
    display: flex;
    align-items: center;
    padding-inline-end: 60px;
    height: 100%;
    cursor: pointer;
  }

  &-header__tabs {
    flex: 1 1 auto;
    height: 60px;
    display: flex;
    justify-content: center;
    background: $white;

    &-fullWidth {
      width: 100%;
    }

    .brz-ed-popup-two-tab {
      &-item {
        display: flex;
        align-items: center;
        color: $gray-19;
        font-size: 14px;
        font-weight: 600;
        font-family: $default-font-family;
        padding: 0 25px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #151920;
        }

        &-active {
          background: #ececec;
          color: #151920;
        }
      }

      &-icon {
        position: relative;
        margin-inline-end: 10px;
        top: 1px;
      }
    }
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 60px); // 60px is Header
  }

  &-body__sidebar {
    flex-basis: 256px;
    max-width: 256px;
    background-color: $sidebar__content-bg;
    height: 100%;
    padding-bottom: 10px;
  }

  &-body__content {
    flex: 1 1 auto;
    background-color: #ececec;
    height: 100%;
    display: flex;
  }

  &-body__content--loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $gray-2;
    font-size: 35px;
  }

  &-body__content--import {
    margin-inline-start: 30px;
  }

  // Footer
  &__footer {
    display: flex;
    min-height: 60px;
    background-color: $white;
    padding-left: 75px;
    padding-right: 75px;
  }

  &__footer--y-top {
    align-items: flex-start;
  }

  &__footer--y-middle {
    align-items: center;
  }

  &__footer--y-bottom {
    align-items: flex-end;
  }

  &__footer--x-left {
    justify-content: flex-start;
  }

  &__footer--x-middle {
    justify-content: center;
  }

  &__footer--x-right {
    justify-content: flex-end;
  }

  // Sidebar
  &-sidebar {
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 0;
    }

    &-body {
      padding: 40px 40px 0;
    }

    &-list {
      cursor: pointer;
      color: $left_sidebar__elements__content-color;
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      font-family: $default-font-family;
      font-size: 14px;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: $blocks_sidebar__elements-color--active;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &-active {
        color: $brand__primary;

        &:hover {
          color: $brand__primary;
        }
      }

      &--new {
        .brz-ed-popup-two-sidebar-list__span-new {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
      }

      .brz-span {
        display: flex;
      }

      &__span {
        &-icon {
          margin-inline-end: 10px;
          font-size: 16px;
        }

        &-text {
          max-width: 59%;
        }

        &-new {
          width: 32px;
          height: 16px;
          margin-inline-start: 15px;
          background-color: #d62c2c;
          justify-content: center;
          align-items: center;
          font-family: $default-font-family;
          font-size: 9px;
          text-transform: uppercase;
          color: $white;
          border-radius: 8px;
          padding-top: 1px;
          opacity: 0;
          pointer-events: none;
        }

        &-quantity {
          margin-inline-start: auto;
          font-size: 13px;
          padding-top: 1px;
        }
      }
    }

    &-title {
      color: $blocks_sidebar__main__separator__title-color;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 14px;
      font-family: $default-font-family;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 23px;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $blocks_sidebar__main__separator__line-bg;
        margin-inline-start: 20px;
        display: block;
      }
    }

    &-title--error {
      color: $red-1;
      font-family: $default-font-family;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    &-separator {
      width: 100%;
      height: 1px;
      background-color: #424951;
      margin-bottom: 29px;
    }
  }

  // Blooks
  &-blocks {
    position: absolute;
    width: 85.9375%;
    height: 89.537037%;
    max-width: 1650px;
    max-height: 967px;
    inset: 0;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 45px 10px rgba(3, 8, 15, 0.2);

    &__grid {
      padding: 40px 22.5px;
      position: relative;
      display: flex;

      &__column {
        width: 100%;

        &-stories {
          padding: 0 17.5px;
        }
      }

      &-clear {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      &-clear-text {
        opacity: 0.9;
        color: $gray-19;
        font-family: $default-font-family;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        margin: 0 0 20px;
      }

      &-clear-image-saved {
        width: 322px;
        margin-top: -21px;
        pointer-events: none;
      }

      &-clear-image-global {
        width: 524px;
        margin-top: -28px;
        pointer-events: none;
      }
    }
  }

  &-block {
    position: relative;
    margin: 0 17.5px 35px;
    cursor: pointer;
    outline: 3px solid transparent;
    transition: outline 0.3s ease-in-out;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .brz-ed-popup-two-block-remove {
      opacity: 1;
      transform: scale(1);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &:hover .brz-ed-popup-two-block__bottom-control-downline,
    &:focus-within .brz-ed-popup-two-block__bottom-control-downline {
      opacity: 1;
    }

    &:hover .brz-ed-popup-two-block-item,
    &:focus-within .brz-ed-popup-two-block-item {
      &:before {
        border-color: $brand__primary;
      }

      &:after {
        border-color: $brand__primary;
      }
    }

    &-tags-opened {
      .brz-ed-popup-two-block-item {
        &:before {
          border-color: $brand__primary;
        }

        &:after {
          border-color: $blue-21;
        }
      }

      .brz-ed-popup-two-block__bottom-control-downline {
        opacity: 1;
      }

      .brz-ed-popup-two-block__bottom-control {
        z-index: 5;
      }
    }

    &__span-pro {
      height: 16px;
      width: 28px;
      border-radius: 4px;
      background-color: $brand__primary__pro;
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: $default-font-family;
      font-size: 9px;
      text-transform: uppercase;
      padding-top: 1px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &__span-lock {
      position: absolute;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      color: $brand__primary__pro;
      opacity: 0;
      z-index: 4;
      transition: opacity 0.3s ease-in-out;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--pro {
      .brz-ed-tooltip__content {
        flex: 1 1 100%;
      }

      &:hover .brz-ed-popup-two-block__span-lock,
      .brz-ed-popup-two-block__span-pro {
        opacity: 1;
      }

      &:hover .brz-ed-popup-two-block-item:before {
        border-color: $brand__primary__pro;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }

    &--layout {
      overflow: hidden;
    }

    &--layout .brz-ed-popup-two-block-item:before,
    &--layout .brz-ed-popup-two-block-item:hover:before {
      background-color: transparent;
    }

    &-item {

      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        pointer-events: none;
        border: 3px solid transparent;
        transition: border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
      }

      &:before {
        z-index: 3;
        border-radius: 3px;
        background-color: transparent;
      }

      &:after {
        z-index: 2;
      }

      .brz-ed-badge {
        position: absolute;
        top: 7px;
        right: 7px;
        z-index: 3;
      }
    }

    &-item--active {
      .brz-ed-popup-two-block__span-lock {
        opacity: 1;
      }

      &:before {
        border-color: $brand__primary__pro;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }

    &__blank-first {
      height: 163px;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      .brz-p:not(.brz-ed-badge) {
        color: rgba(3, 8, 15, 0.92);
        font-family: $default-font-family;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        padding-inline-start: 10px;
      }

      .brz-ed-container-trigger--small {
        position: relative;
        display: block;
        inset: auto;
        margin: 0;

        &:after,
        &:before {
          width: 3px;
          height: 13px;
          margin: -7px 0 0 -1px;
        }
      }

      &:after {
        border: 3px solid $brand__primary;
        opacity: 0;
      }

      &:before {
        border: 2px dashed $brand__primary;
        opacity: 1;
      }

      &:hover:after {
        border-radius: 3px;
        border-color: $brand__primary;
        opacity: 1;
      }

      &:hover:before {
        opacity: 0;
      }
    }

    &__blank--pro {

      &:after,
      &:before,
      &:hover:after {
        border-color: $brand__primary__pro !important;
        transition: border-color 0.3s ease-in-out;
      }

      &:hover:before {
        opacity: 0;
      }

      .brz-icon-svg {
        color: $brand__primary__pro;
      }

      .brz-p:not(.brz-ed-badge) {
        padding: 2px;
      }

      .brz-p:not(.brz-ed-badge) .brz-icon-svg {
        margin-inline-end: 7px;
      }
    }

    &-remove {
      position: absolute;
      z-index: 4;
      top: -7px;
      right: -7px;
      opacity: 0;
      transform: scale(0.7);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &-info {
      width: calc(100% - 35px);
      height: 300px;
      position: relative;
      margin: 13px 17.5px 48px;
      z-index: 1;
      opacity: 0; // need for animation

      .brz-ed-option__block-thumbnail-loading {
        height: 300px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .brz-ed-popup-two-block {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        margin: 0;

        &-item:before,
        &-item:after {
          border-top-width: 3px;
          border-right-width: 3px;
          border-bottom-width: 38px;
          border-left-width: 3px;
        }

        &-item:hover:before {
          border-color: $brand__primary;
        }

        &-item:hover:after {
          border-color: #ececec;
        }

        &__span-lock {
          display: none;
        }
      }

      &-downline {
        width: 100%;
        height: 38px;
        padding: 0 17px;
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        display: flex;
        z-index: 3;
        opacity: 0;
        justify-content: space-between;
        align-items: center;
        border-radius: 0 0 3px 3px;
        transition: opacity 0.4s ease-in-out;
        pointer-events: none;
      }

      &:hover .brz-ed-popup-two-block-info-downline {
        opacity: 1;
      }

      &-title {
        color: rgba(3, 8, 15, 0.92);
        font-family: $default-font-family;
        font-size: 14px;
        font-weight: 600;
      }

      &-color {
        height: 7px;
        position: absolute;
        top: -7px;
        left: 15px;
        right: 15px;
        z-index: 0;
        pointer-events: none;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);

        &-opacity {
          height: 7px;
          opacity: 0.35;
          position: absolute;
          top: -6px;
          right: 15px;
          left: 15px;
          border-radius: 3px 3px 0 0;
        }
      }
    }

    &__bottom-control {
      position: relative;

      &-downline {
        width: 100%;
        height: 28px;
        padding: 0 10px;
        position: absolute;
        bottom: -28px;
        display: flex;
        opacity: 0;
        justify-content: flex-end;
        gap: 5px;
        align-items: center;
        border-radius: 0 0 3px 3px;
        transition: opacity 0.4s ease-in-out;
        color: #2c3039;
        background-color: $brand__primary;

        .brz-icon-svg {
          font-size: 13px;
        }
      }

      &-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-family: $default-font-family;
        font-weight: 600;

        .brz-input {
          width: 100%;
          font-size: 14px;
          background-color: transparent;
          outline: 0;
          border: 0;
          font-weight: 600;

          &::placeholder {
            color: #2c3039d4;
          }
        }
      }

      &-title-pen {
        padding-inline-start: 7px;
      }

      .brz-ed-tooltip__overlay {
        background-color: $control-bg;
      }

      &-categories-element {
        display: grid;
        grid-template-columns: 13px 1fr;
        align-items: center;
        font-size: 13px;
        color: #5b5f68;
        transition: color 0.15s linear;
        cursor: pointer;
        padding: 7px 10px;
        gap: 10px;

        &:hover .brz-ed-popup-two-block__bottom-control-categories-element-name {
          color: $brand__primary;
          transition: color 0.15s linear;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $control-border;
        }

        &:last-child {
          color: $gray-19;
        }

        .brz-input {
          color: $white;
          width: 100%;
          background-color: transparent;
          outline: 0;
          border: 0;

          &::placeholder {
            color: #788189;
          }
        }

        &-name {
          color: $white;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__selected {
          color: $brand__primary;

          span {
            color: $brand__primary;
          }
        }
      }
    }

    &-sync {
      font-size: 0;
      color: $brand__primary;
      border: 2px solid $white;
      background-color: $white;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      margin: 7px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &-sync--uploaded {
      color: $green;
    }

    &-sync .brz-icon-svg {
      font-size: 16px;
    }

    &--loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0;
    }

    &--loading .brz-icon-svg {
      font-size: 20px;
    }

    &-info-stories {
      height: auto;
      padding-top: 200%;
      margin: 13px 0 48px;
      width: 100%;
    }

    .brz-observer__image {
      position: relative;

      .brz-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-start: 0;
      }
    }
  }

  &-block-stories {
    margin: 13px 0 48px;

    .brz-observer__image .brz-img {
      height: unset;
    }

    .brz-ed-popup-two-block__blank-first {
      height: auto;
      padding-top: 94%;
      padding-bottom: 94%;
    }
  }

  // Details
  &-details {
    justify-content: center;
    padding-top: 43px;
    padding-bottom: 60px;

    &-left {
      width: 600px;
      margin-block: 0;
      margin-inline-start: 17px;
      margin-inline-end: 37px;
    }

    &-back {
      height: 32px;
      line-height: 20px;
      color: $gray-19;
      font-family: $default-font-family;
      font-size: 15px;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: #151920;
      }

      &-icon {
        height: 20px;
        margin-inline-end: 15px;
      }
    }

    &-preview {
      height: 84.71%;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      pointer-events: var(--previewPointer);

      .brz-ed-animated--spin {
        position: absolute;
        inset: 0;
        color: rgba(94, 100, 111, 0.6);
        font-size: 24px;
        margin: auto;
      }

      &-img {
        width: 100%;
        transform: translateY(0);
        transition: var(--transitionPreview);
      }

      &-img-stories {
        width: auto;
        max-height: 100%;
        max-width: 100%;
        transform: none;
        transition: none;
      }

      &:hover > .brz-img {
        transform: translateY(calc(-100% + var(--thumbnailHeight)));
      }
    }

    &-preview-stories {
      box-shadow: none;

      &:hover > .brz-img {
        transform: none;
      }
    }

    &-right {
      width: 520px;
    }

    &-right-stories {
      width: 666px;
    }

    &-title {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 25px 0 10px;
      margin-bottom: 20px;

      &-name {
        color: rgba(3, 8, 15, 0.92);
        font-family: $default-font-family;
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        margin: 0;
      }

      &-count {
        color: $gray-19;
        font-family: $default-font-family;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
      }
    }

    &-page {
      height: 84.71%;

      &-select {
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 0 10px 20px;
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        display: inline-block;
        cursor: pointer;

        .brz-ed-animated--spin {
          position: absolute;
          inset: 0;
          color: rgba(94, 100, 111, 0.6);
          font-size: 24px;
          margin: auto;
        }

        &:before,
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          inset-inline-start: 0;
          border-radius: 3px;
          pointer-events: none;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }

        &:before {
          border: 3px solid $brand__primary;
          z-index: 2;
        }

        &:after {
          border: 3px solid #ececec;
          z-index: 1;
        }

        &:hover:before,
        &:hover:after {
          opacity: 1;
        }

        &-active {
          width: 100%;
          height: 30px;
          background: $brand__primary;
          position: absolute;
          bottom: 0;
          inset-inline-start: 0;
          color: rgba(3, 8, 15, 0.92);
          font-family: $default-font-family;
          font-size: 13px;
          font-weight: 600;
          line-height: 30px;
          padding-inline-start: 10px;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          &-block {

            &:before,
            &:after {
              opacity: 1;
            }

            .brz-ed-popup-two-details-page-select-active {
              opacity: 1;
            }
          }
        }
      }

      &-select-stories {
        width: 121px;
        height: 242px;
      }

      img {
        width: 100%;
      }
    }

    &-footer {
      width: 100%;
      height: 60px;
      background: $white;
      position: absolute;
      bottom: 0;
      inset-inline-start: 0;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      padding: 10px 60px;

      &-grid {
        height: 100%;
        width: 1142px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      &-render {
        display: flex;
      }

      &-radio {
        display: flex;
        align-items: center;

        &-button {
          margin-inline-end: 36px;
          color: $gray-19;
          font-family: $default-font-family;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        &-button--pro {
          cursor: auto;
        }

        &-icon {
          margin-inline-end: 8px;
          font-size: 14px;
        }
      }
    }
  }

  // cloud
  &__cloud {
    font-family: $default-font-family;
    font-size: 14px;
    font-weight: 600;
    color: $gray-19;
    text-align: center;

    .brz-p {
      line-height: 1.7;
      margin-bottom: 22px;
    }
  }

  &__cloud-button {
    margin-bottom: 20px;
  }

  &__cloud-icon {
    font-size: 24px;
    margin-bottom: 25px;
    color: $gray-19;
  }

  &__cloud-button-sync {
    margin-bottom: 18px;
  }

  &__cloud-icon--connect {
    position: absolute;
    top: -5px;
    right: -11px;
    color: $green;
    padding: 3px;
    font-size: 0;
    background-color: #2a2e37;
    border-radius: 20px;

    .brz-icon-svg {
      font-size: 14px;
    }
  }

  &__cloud-info {
    margin-bottom: 18px;

    &:hover,
    &:hover .brz-a {
      color: rgba(255, 255, 255, 0.9) !important;
      transition: 0.2s linear color;
    }

    .brz-icon-svg {
      font-size: 12px;
    }

    .brz-a {
      color: #767f86;
      margin-inline-start: 5px;
    }
  }

  // Tooltip uses in Free
  &-block--pro .brz-ed-tooltip--opened {

    // Blank
    .brz-ed-popup-two-block__blank {

      &:after,
      &:before {
        border-color: $brand__primary__pro !important;
      }

      &:after {
        border-radius: 3px;
        opacity: 1;
      }

      &:before {
        opacity: 0;
      }
    }
  }

  &-details-stories {
    .brz-ed-popup-two-details-left {
      width: 345px;
    }
  }

  // Select for Library in Sidebar
  &__select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__select-trash,
  &__select-pen {
    color: $gray-19;
    font-size: 10px;
    transition: color 0.15s linear;

    &:hover {
      color: $white;
    }

    .brz-icon-svg {
      vertical-align: middle;
    }
  }

  &__select-pen {
    margin-inline-end: 5px;
  }

  &__select-add {
    margin-inline-end: 5px;
    color: $control-color;

    .brz-icon-svg {
      font-size: 12px;
      color: $gray-19;
      vertical-align: middle;
    }
  }

  &__select-editable {
    max-width: 90%;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center;
  }

  &__select-input {
    color: $white;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    &::placeholder {
      color: $gray-19;
    }
  }

  &__select-title {
    text-overflow: ellipsis;
    overflow: hidden;

    &--boxed {
      width: 83.33%;
    }
  }
}

// Responsive
@media only screen and (max-width: 1460px) {
  .brz-ed-popup-two-blocks {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }

  .brz-ed-popup-two-details-page-select {
    width: 29%;
  }

  .brz-ed-popup-two-details-page-select-stories {
    width: 145px;
  }
}

// TMP
.brz-ed-global-tooltip {
  .brz-ed-tooltip__content {
    width: 100%;
  }
}
