.brz-ed-popup-fonts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  // List
  &__lists {
    margin: 22px 18px 0 24px;
  }

  &__item {
    flex: 1 1 114px;
    max-width: 114px;
    margin: 18px 12px;
    text-align: center;
    position: relative;
  }

  &__item-logo {
    height: 114px;
    background-color: $popup__fonts__item-bg;
    margin-bottom: 12px;
    line-height: 114px;
    font-size: 50px;
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      transition: 0.3s ease-in-out border-color;
    }

    &:hover:after {
      border-color: $popup__fonts__item-border--hover;
      transition: 0.3s ease-in-out border-color;
    }
  }

  &__item--selected .brz-ed-popup-fonts__item-logo:after {
    border-color: $popup__fonts__item__selected-border;
  }

  &__item--selected .brz-ed-popup-integrations__app-icon {
    background-color: $popup__fonts__item__selected__icon-bg;
  }

  &__item-title {
    font-family: inherit;
    font-size: 13px;
    color: $popup__fonts__item__title-color;
  }

  &__action {
    position: absolute;
    top: -7px;
    right: -7px;
    opacity: 0;
    transform: scale(0.7);
    z-index: 2;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &__item:hover .brz-ed-popup-fonts__action {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}
