// Forms Integrations
.brz-ed-form-apps {
  min-height: 520px;
  padding-left: 24px;
  padding-right: 20px;

  &__finish {
    max-width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 85px;
  }
  &__finish-icon {
    margin-bottom: 29px;

    .brz-icon-svg {
      font-size: 47px;
      color: #48be24;
    }
  }
  &__finish-content {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #626b70;
  }
  &__finish-button {
    text-align: center;
  }
}
.brz-ed-popup-wrapper__form-integrations {
  font-family: $font-family-1;
  transform: translate(-300px, -300px);

  .brz-ed-popup-tab-icon {
    margin-top: 18px;
    background-color: #fff;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.07);
    max-width: 42px;

    .brz-img {
      max-width: 100%;
    }
    &__svg {
      margin-top: 22px;
      margin-bottom: 8px;
      background-color: transparent;
    }
  }
  .brz-ed-scroll-pane {
    > .brz-ed-tall-track {
      right: 7px;
      width: 5px;

      > .brz-ed-tall-thumb {
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: #cbcdcf;
      }
    }
  }
  .brz-ed-popup-body-connect {
    padding-top: 105px;
    text-align: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

    .brz-ed-popup-app-form-buttons {
      padding-top: 0;

      .brz-button:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  // List
  .brz-ed-scroll-pane-form-list {
    > .brz-ed-tall-track {
      right: -28px;
    }
  }
}
.brz-ed-popup-form {
  &__head {
    width: 112px;
    height: 112px;
    background-color: #fff;
    box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px;

    .brz-img {
      max-width: 100%;
    }
  }
  &__breadcrumbs {
    margin-bottom: 22px;

    .brz-li:after,
    .brz-li > :after {
      position: absolute;
      top: 0;
      left: 100%;
      content: "";
      height: 0;
      width: 0;
      border: 40px solid transparent;
      border-right-width: 0;
      border-left-width: 18px;
    }
    .brz-ul {
      display: flex;
    }
    .brz-li {
      position: relative;
      margin-right: 3px;
      font-size: 14px;
      flex: 1 1 1%;
      font-weight: 600;
      text-align: center;

      &:last-child {
        margin-right: 0;

        .brz-span:after,
        &:after {
          display: none;
        }
      }
      &:after {
        z-index: 1;
        transform: translateX(3px);
        border-left-color: #f0f1f2;
        margin: 0;
      }
      &:first-of-type {
        border-radius: 0.25em 0 0 0.25em;
      }
    }
    .brz-span {
      display: block;
      position: relative;
      height: 80px;
      line-height: 80px;
      padding-left: 2.5em;
      padding-right: 2.5em;
      color: #292e37;
      background-color: #e0e1e2;
      border-color: #e0e1e2;

      &:after {
        border-top-width: 40px;
        border-bottom-width: 40px;
        z-index: 2;
        border-left-color: inherit;
      }
    }
    &--current {
      .brz-span {
        background-color: rgba(#22b0da, 0.25);
        border-color: rgba(#22b0da, 0.25);
        color: #102750;
      }
    }
  }
  &__message {
    margin: 28px 35px 11px;
  }
  &__body {
    margin-bottom: 42px;
    line-height: 1.7em;

    .brz-p {
      font-family: inherit;
      line-height: 21px;
      color: #626b70;
    }
  }
  &__option-radio {
    .brz-ed-control-radio-option {
      position: relative;
      display: table;
      width: 100%;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
    }
    .brz-ed-control-radio-check {
      position: absolute;
      top: 16px;
      left: 4px;
      font-size: 16px;
    }
    .brz-ed-popup-apps-col {
      padding-left: 28px;
    }
  }
  &__footer {
    .brz-ed-alert {
      margin-top: 28px;
      margin-bottom: 11px;
    }
    .brz-ed-popup-apps-body {
      font-size: 15px;
      font-weight: 600;

      .brz-input {
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 5px;
        background-color: #fff;
        color: #383e48;
        border-color: transparent;
      }
      .brz-control__select {
        width: auto;

        .brz-control__select-current {
          height: 30px;
          border-radius: 5px;
          background-color: #fff;
          color: #383e48;
          line-height: 30px;
        }
        .brz-control__select-options {
          border-radius: 5px;
        }
        .brz-control__select-option {
          height: 30px;
          line-height: 30px;
          font-size: 13px;

          strong {
            padding-left: 2px;
            color: #d54b58;
          }
        }
      }
    }
  }
  .brz-ed-form-apps {
    padding-top: 24px;
  }
  .brz-ed-form-row {
    position: relative;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Apps Integrations
.brz-ed-popup-apps-item {
  position: relative;
  margin: 16px 12px 17px;
  cursor: pointer;
  text-align: center;

  &--connected {
    color: #48be24;

    .brz-ed-popup-app-logo:hover:after,
    .brz-ed-popup-app-logo:after {
      border-color: #48be24;
    }
    &.brz-ed-popup-apps-item--loading {
      .brz-ed-popup-app-logo:hover:after,
      .brz-ed-popup-app-logo:after {
        border-color: #48be24;
      }
    }
    .brz-ed-popup-app-active-icon,
    .brz-ed-popup-app-loading-icon {
      background-color: #48be24;
    }
  }
  &--loading {
    cursor: progress;

    .brz-ed-popup-app-logo:hover:after,
    .brz-ed-popup-app-logo:after {
      border-color: $brand-primary;
    }
  }
}
.brz-ed-popup-app {
  &-logo {
    position: relative;
    width: 112px;
    height: 112px;
    background-color: #fff;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 64px;
      display: block;
      overflow: hidden;
      border-radius: 5px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid transparent;
      transition: 0.2s linear border-color;
    }
    &:hover:after {
      border-color: $brand-primary;
      transition: 0.2s linear border-color;
    }
  }
  &-title {
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    color: #656b6f;
  }
  &-active-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background-color: $brand-primary;
    color: #fff;
    text-align: center;
    z-index: 2;

    i {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &-loading-icon {
    background-color: $brand-primary;

    .brz-icon-svg {
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
.brz-ed-popup-apps {
  font-family: $font-family-1;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: #656b6f;
  display: table;
  font-size: 13px;

  &-head {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
    color: #292e37;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 3px;

    &.brz-ed-popup-apps-row {
      border-bottom: none;
    }
    .brz-ed-popup-apps-col {
      padding-left: 4px;
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(#000, 0.1);
  }
  &-col {
    padding: 16px;
    position: relative;
    flex: 1 1 100%;
  }
}

// Forms
.brz-ed-popup-app-form {
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;

  .brz-ed-form-field-feedback {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
    width: 30px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    cursor: pointer;
    color: #626b70;

    .brz-icon-svg {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 16px;
    }
    &:hover {
      color: #d54b58;
    }
  }
  &.brz-ed-form-error {
    .brz-ed-popup-metrics-body-email-input,
    .brz-control__select-current {
      border-color: #d54b58;
    }
    .brz-control__select-options {
      border-top-color: #d54b58;
    }
    .brz-ed-form-field-feedback {
      color: #d54b58;
    }
  }
  &.brz-ed-form-success {
    .brz-ed-popup-metrics-body-email-input,
    .brz-control__select-current {
      border-color: #8bc936;
    }
    .brz-control__select-options {
      border-top-color: #8bc936;
    }
    .brz-ed-form-field-feedback {
      color: #8bc936;
    }
  }
  &--add-new {
    position: relative;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: #626b70;
    transition: color 0.2s linear;

    &:hover {
      color: $brand-primary;
      transition: color 0.2s linear;
    }
    .brz-ed-popup-apps-col {
      padding-left: 28px;
    }
    .brz-icon-svg {
      position: absolute;
      top: 50%;
      left: 4px;
      font-size: 16px;
      transform: translateY(-50%);
    }
  }
  &-fields {
    .brz-ed-popup-apps-col {
      flex-basis: 50%;
    }
    .brz-ed-popup-apps-col:nth-child(2n) {
      flex-basis: 40%;
    }
    .brz-ed-popup-apps-body {
      .brz-ed-popup-apps-col {
        padding: 10px 4px 10px 2px;
      }
      .brz-ed-popup-apps-col:nth-child(2n) {
        padding-left: 6px;
      }
    }
  }
  &-buttons {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
.brz-ed-form-control {
  display: block;
  height: 35px;
  width: 100%;
  padding: 12px 15px;
  font-size: 13px;
  line-height: 21px;
  color: #656b6f;
  background: #fff none;
  border: 1px solid #ccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;

  &:focus,
  &:active {
    color: #656b6f;
    border: 1px solid #ccc;
  }
}
