// Icons
.brz-ed-popup-icons__grid {
  height: 540px;

  &__item {
    width: 68px;
    height: 68px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #222;
    position: relative;

    &.active,
    &:hover {
      background-color: #85d8f2;
      color: #fff;
    }
    svg,
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// --- Responsive
@media screen and (max-height: 899px) {
  .brz-ed-popup-icons__grid {
    height: 465px;
  }
}
