// Integration
$option-color: #626b70;

// --
.brz-ed-popup-integrations {
  font-family: $default-font-family;

  // Scroll
  .brz-ed-fixed-scroll {
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Popup Wrapper
  .brz-ed-popup-wrapper {
    position: relative;
    top: 0;
    inset-inline-start: 0;
    transform: none;
    overflow: hidden;
  }

  // Popup Content
  .brz-ed-popup-content {
    height: 565px;
    overflow: hidden;
  }

  // Alerts
  .brz-ed-alert {
    margin-bottom: 26px;
  }

  // Description
  &__description {
    font-size: 15px;
    font-weight: 500;
    color: #626b70;
    margin-top: 18px;
  }

  // Apps
  &__apps {
    margin-block: 22px 0;
    margin-inline: 24px 18px;
  }

  &__app {
    max-width: 112px;
    flex: 1 1 112px;
    margin: 18px 12px;
    text-align: center;
    cursor: pointer;
  }

  &__app--connected {
    color: #48be24;

    .brz-ed-popup-integrations__app-icon {
      background-color: #48be24;
    }

    &.brz-ed-popup-integrations__app--loading {
      .brz-ed-popup-integrations__app-logo:hover:after,
      .brz-ed-popup-integrations__app-logo:after {
        border-color: #48be24;
      }
    }

    .brz-ed-popup-integrations__app-logo:hover:after,
    .brz-ed-popup-integrations__app-logo:after {
      border-color: #48be24;
    }
  }

  &__app--loading {
    cursor: progress;
    pointer-events: none;

    .brz-ed-popup-integrations__app-logo:hover:after,
    .brz-ed-popup-integrations__app-logo:after {
      border-color: $brand__primary;
    }
  }

  &__app--deletable {
    .brz-ed-popup-integrations__app-logo:hover:after {
      border-color: $brand__primary;
    }

    .brz-ed-popup-integrations__app-logo:hover {
      .brz-ed-popup-integrations__delete-icon {
        opacity: 1;

        &:hover {
          color: $floating__button__red-bg;
        }
      }
    }
  }

  &__app--pro {
    color: $brand__primary__pro;

    .brz-ed-popup-integrations__app-logo--open,
    .brz-ed-popup-integrations__app-logo:hover {
      &:after {
        border-color: $brand__primary__pro;
        background-color: rgba(255, 255, 255, 0.9);
        transition:
          0.2s linear border-color,
          0.2s linear background-color;
      }

      .brz-ed-popup-integrations__app-icon {
        opacity: 1;
        transition: 0.2s linear opacity;
      }
    }

    .brz-ed-badge {
      position: absolute;
      top: 6px;
      inset-inline-end: 6px;
      z-index: 1;
    }
  }

  &__app-logo {
    position: relative;
    margin-bottom: 12px;
    background-color: $popup__apps__item-bg;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      border: 3px solid $popup__apps__item__after-border;
      transition:
        0.2s linear border-color,
        0.2s linear background-color;
    }

    &:hover:after {
      border-color: $popup__apps__item-border--hover;
      transition: 0.2s linear border-color;
    }

    .brz-img {
      max-width: 100%;
    }
  }

  &__app-icon,
  &__delete-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 0;
    top: -8px;
    inset-inline-end: -8px;
    border-radius: 50%;
    background-color: $popup__apps__loading-bg;
    color: $popup__apps__loading-color;
    text-align: center;
    z-index: 2;
    transition: 0.2s linear opacity;

    i {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__info-icon {
    position: absolute;
    font-size: 0;
    border-radius: 50%;
    background-color: $left_sidebar__styling__font__icon-color;
    color: $popup__apps__loading-color;
    text-align: center;
    z-index: 2;
    outline: 1px solid white;
    outline-offset: -1px;
    transition: 0.2s linear opacity;

    .brz-icon-svg {
      font-size: 22px;
      outline: 1px solid white;
      outline-offset: -1px;
      border-radius: 50%;

      &:hover {
        background-color: $brand__primary;
        transition: 0.2s linear color;
        border-radius: 50%;
      }
    }
  }

  &__app-icon {
    background-color: $popup__apps__loading-bg;
    color: $popup__apps__loading-color;

    .brz-icon-svg {
      font-size: 24px;
    }
  }

  &__delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: $left_sidebar__styling__font__icon-bg;
    color: $left_sidebar__styling__font__icon-color;

    .brz-icon-svg {
      font-size: 12px;
    }
  }

  &__app-icon--pro {
    color: inherit;
    font-size: 16px;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s linear opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  &__app-title {
    font-family: inherit;
    font-size: 13px;
    color: $popup__apps__item-color;
  }

  // Step Connect
  &__connect {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 20px 0;

    &-head {
      .brz-img {
        max-width: 112px;
        margin-bottom: 20px;
      }

      .brz-p {
        line-height: 21px;
        max-width: 220px;
        margin-inline: auto;
      }
    }

    &-info {
      margin-bottom: 34px;
    }

    &-body {
      .brz-p {
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      .brz-span {
        color: $brand__primary;
      }

      .brz-input {
        width: 100%;
        height: 46px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        padding-inline: 20px;
        outline: none;
      }

      .brz-input:invalid ~ .brz-p {
        opacity: 1;
        z-index: 1;
        transition: 0.2s linear opacity;
      }

      .brz-input:focus ~ .brz-p {
        opacity: 0;
        z-index: -1;
        transition: 0.2s linear opacity;
      }

      .brz-ed-btn-default {
        min-width: 79px;
        margin-inline-start: 8px;
      }

      .brz-ed-popup-integrations-option__radio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        .brz-control__radio-option {
          border-bottom: 0 !important;
        }
      }
    }
  }

  &__connect-auth .brz-ed-btn {
    display: block;
    margin: 0 auto 9px;
  }

  // Progress Breadcrumbs
  &__progress {
    display: flex;
    margin-bottom: 28px;
    flex-shrink: 0;

    &-stage:after,
    &-stage > :after {
      position: absolute;
      top: 0;
      inset-inline-start: 100%;
      content: "";
      height: 0;
      width: 0;
      border: 40px solid transparent;
      border-inline-end-width: 0;
      border-inline-start-width: 18px;
    }

    &-stage {
      position: relative;
      margin-inline-end: 3px;
      font-size: 14px;
      flex: 1 1 1%;
      font-weight: 600;
      text-align: center;

      &:last-child {
        margin-inline-end: 0;

        .brz-span:after,
        &:after {
          display: none;
        }
      }

      &:after {
        z-index: 1;
        transform: translateX(3px);
        border-inline-start-color: #f0f1f2;
        margin: 0;
      }

      &:first-of-type {
        border-radius: 0.25em 0 0 0.25em;
      }
    }

    .brz-span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 80px;
      line-height: 80px;
      padding-inline: 2.5rem;
      color: #292e37;
      background-color: #e0e1e2;
      border-color: #e0e1e2;

      &:after {
        border-top-width: 40px;
        border-bottom-width: 40px;
        z-index: 2;
        border-inline-start-color: inherit;
      }

      .brz-img {
        max-width: 42px;
      }
    }

    &-stage--active .brz-span {
      background-color: $integrations__stages__item;
      border-color: $integrations__stages__item;
      color: #102750;
    }

    + .brz-ed-popup-integrations-step__done {
      height: auto;
    }

    // normalize step
    + .brz-ed-popup-integrations-step {
      max-height: calc(100% - 108px);
    }
  }

  // Confirmation Email
  &__confirmation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    gap: 10px;
  }

  // Steps - Account | List | Fields | Done
  // Account
  &-step {
    margin-inline: 36px;
    padding-top: 11px;
    max-height: 100%;
    flex: 1;
  }

  &-step__head {
    font-size: 13px;
    color: #292e37;
    margin-bottom: 19px;

    // normalize body height
    // used for scroll
    + .brz-ed-popup-integrations-step__body {
      height: calc(100% - 38px);
    }
  }

  &-step__body {
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-step__buttons {
    display: flex;
    margin-top: 35px;

    .brz-button:nth-child(1) {
      margin-inline-end: auto;
    }

    .brz-button:nth-child(1):last-child,
    .brz-button:nth-child(2) {
      margin-inline-start: auto;
      margin-inline-end: 0;
    }
  }

  &-option__radio {
    color: $option-color;

    .brz-control__radio-option {
      position: relative;
      font-size: 15px;
      font-weight: 500;
      border-bottom: 1px solid rgba(#000, 0.1);
      padding: 17px 30px 16px 4px;
      height: 51px;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &--active {
        color: $brand__primary;
      }
    }

    .brz-control__radio-check {
      margin-inline-end: 10px;
      vertical-align: middle;
    }
  }

  &-new__option {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: $option-color;
    border-bottom: 1px solid rgba(#000, 0.1);
    padding: 17px 0 17px 4px;
    transition: 0.2s linear color;

    &:hover {
      color: $brand__primary;
      transition: 0.2s linear color;
    }

    .brz-icon-svg {
      font-size: 16px;
      margin-inline-end: 10px;
    }
  }

  // Lists
  &__confirmation {
    .brz-control__select {
      width: 224px;
    }

    .brz-p {
      color: $option-color;
      font-size: 15px;
    }
  }

  &--delete,
  &--tooltip {
    cursor: pointer;
    color: $option-color;
    transition: 0.2s linear color;
    font-size: 0;
    line-height: 1;
    position: absolute;
    top: 50%;
    inset-inline-end: 10px;
    transform: translateY(-50%);

    &:hover {
      color: $floating__button__red-bg;
      transition: 0.2s linear color;
    }

    .brz-icon-svg {
      font-size: 16px;
    }
  }

  &--tooltip {
    inset-inline-end: 30px;
  }

  &--delete {
    inset-inline-end: 10px;
  }

  // Fields
  &-step__fields .brz-ed-popup-integrations-step__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brz-p:last-child {
      max-width: 223px;
      width: 100%;
    }
  }

  &-fields__tooltip {
    font-size: 0;
    line-height: 1;
    margin-inline-start: 7px;
    color: #92989c;
    cursor: pointer;

    .brz-icon-svg {
      font-size: 13px;
    }
  }

  &-fields__info {
    line-height: 1.5;
    font-family: $default-font-family;
    background-color: #03080f;
    color: rgba(255, 255, 255, 0.8);
    text-align: start;
    padding: 18px 20px;
    border-radius: 10px;
    max-width: 240px;
    font-size: 13px;
    font-weight: 500;

    .brz-span {
      color: #91cb8a;
    }

    .brz-p {
      font-size: 13px;
      font-weight: 600;

      &:first-child {
        margin-bottom: 13px;
      }
    }
  }

  &-step__fields-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
    color: $option-color;
    border-bottom: 1px solid rgba(#000, 0.1);

    > .brz-d-xs-flex {
      flex-basis: 40%;
      max-width: 40%;
    }

    .brz-p {
      font-size: 15px;
      font-weight: 500;
    }

    &-home-page,
    &-header-footer {
      .brz-ed-control__switch {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &-step__fields-option--big {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &-step__field,
  &-step__fields-select {
    max-width: 223px;
    width: 100%;

    .brz-control__select {
      width: 100%;
    }

    .brz-control__select-current,
    .brz-control__select-current:hover,
    .brz-control__select-options {
      background-color: #fff;
    }
  }

  &-step__field,
  &-step__fields-select,
  &-step__fields-input {
    max-width: 223px;
    width: 100%;

    .brz-textarea,
    .brz-input {
      width: 100%;
      height: 30px;
      font-size: 13px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: #fff;
      color: #383e48;
      border-color: transparent;
      outline: none;
    }

    .brz-textarea {
      height: auto;
      min-height: 70px;
      resize: none;
      padding: 10px;
    }
  }

  &-step__fields-upload {
    flex-basis: 60%;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .brz-span {
      font-size: 13px;
      color: rgba(43, 48, 57, 0.85);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }

    .brz-button {
      margin-inline-start: 14px;
    }
  }

  // Done
  &-step__done {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding-top: 0;
  }

  &-step__done-icon {
    margin-bottom: 30px;
    font-size: 0;
    line-height: 1;
    color: #48be24;

    .brz-icon-svg {
      font-size: 47px;
    }
  }

  &-step__warning-icon {
    color: #f27c38;
  }

  &-step__done-content {
    font-size: 14px;
    color: $option-color;
    line-height: 21px;
    max-width: 234px;
    margin-bottom: 42px;
  }
}

.brz-ed-popup-integration {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  // Email
  &-email {
    position: relative;

    &__codemirror {
      width: 100%;
      height: 230px;
      max-height: 230px;
      min-height: 40px;
      margin-bottom: 16px;
      font-size: 13px;
    }

    &__codemirror .CodeMirror,
    &__codemirror .CodeMirror:focus-within {
      height: 100%;
      max-height: 100%;
    }
  }

  &-email__template {
    padding: 0 36px;
    border-top: 1px solid $modal_email__template-border-top-color;
    transform: translateY(calc(100% - 60px));
    transition: 0.18s ease-out transform;

    &--open {
      transform: translate(0);
      transition: 0.18s ease-in transform;
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &-body {
      margin-bottom: 23px;
      color: $modal_email__template__integration-color;

      .brz-p {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  &-email__tooltip {
    margin-inline-start: 5px;

    .brz-ed-tooltip__content {
      color: $modal_email__template__integration__icon-color;
      font-size: 12px;
      cursor: pointer;
    }
  }

  // Fonts
  &__font-name.brz-p {
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s linear color;

    &:hover {
      color: $brand__primary;
      transition: 0.2s linear color;
    }
  }

  // SignIn | SignUp
  &-signIn .brz-ed-popup-integrations__connect-head .brz-p,
  &-signUp .brz-ed-popup-integrations__connect-head .brz-p {
    margin-bottom: 34px;
  }
}

// --- Responsive
@media screen and (max-height: 899px) {
  .brz-ed-popup-integrations {
    .brz-ed-popup-integrations-step__lists {
      &-create {
        .brz-ed-popup-integrations-step__head {
          margin-bottom: 5px;
        }

        .brz-ed-popup-integrations-step__buttons {
          margin-top: 25px;
        }
      }
    }
  }

  // Email
  .brz-ed-popup-integration-email {
    &__codemirror {
      height: 145px;
    }

    &__template-body .brz-textarea {
      height: 130px;
      max-height: 130px;
    }
  }
}
