@import "../../variables";

$popup_content_height: 565px;
$popup_content_padding_top: 35px;
$popup_content_padding_horizontal: 43px;
$popup_content_padding_bottom: 45px;

// Base Style
.brz-ed-popup-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  box-shadow: 0 0 5px 0 $toolbar-box-shadow;
  border-radius: 5px;
  font-family: $default-font-family;
  color: $popup__fonts__item-color;
}

.brz-ed-fixed-leave-transition.brz-ed-fixed-hidden {
  visibility: hidden;
}

.brz-ed-popup {

  // Search container
  &__head--search {
    width: 100%;
    min-height: 80px;
    padding: 20px;
    background-color: rgba(#03080f, 0.12);
    text-align: center;
    margin-bottom: 16px;

    &>div:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__search {
    position: relative;
    width: 400px;
  }

  &__input {
    font-family: $default-font-family;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #898c90;
    background-color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 15px 40px 12px 16px;

    &:focus,
    &:active {
      color: #898c90;
    }

    &::-webkit-input-placeholder {
      font-family: $default-font-family;
      font-size: 14px;
      color: #b6b9bd;
      font-style: italic;
      letter-spacing: 0.1px;
    }
  }

  &__search--icon {
    position: absolute;
    top: 50%;
    right: 13px;
    z-index: 2;
    transform: translateY(-50%);
    color: #898c90;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;

    &.active {
      color: $brand__primary;
    }
  }

  &__select {
    $control-height: 40px;
    $control-padding: 15px;
    $control-font-size: 14px;
    $control__arrow-size: 10px;

    &.brz-control__select {
      width: 120px;
    }

    &.brz-ed-popup__select--block-categories {
      width: 200px;

      .brz-control__select-options {
        width: 560px;
      }
    }

    .brz-control__select-current {
      line-height: $control-height;
      height: $control-height;

      .brz-control__select-option {
        line-height: $control-height;
        height: $control-height;
        padding-left: $control-padding;
        padding-right: $control-padding;
      }
    }

    .brz-control__select--arrow {
      font-size: $control__arrow-size;
      right: ($control__arrow-size + 4); // 4 - is constant
    }

    .brz-control__select-option {
      border-bottom-color: transparent;
      text-align: left;
      font-size: $control-font-size;
      padding-left: 0;
      padding-right: 0;
      height: 30px;
      line-height: 30px;
    }

    .brz-control__select-options {
      padding: 15px 28px;
      top: 100%;
      margin-top: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 1, 0.1);
    }
  }

  // Loading
  &-content--loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $form__email__popup__loading-bg;
    color: $form__email__popup__loading-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
}

// without animation
.brz-ed-fixed.brz-ed-fixed-visible {
  visibility: visible;
  opacity: 1;
  display: block;
}

.brz-ed-popup-header {
  position: relative;
  height: 79px;
  background: $popup__header__tabs-bg;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.brz-ed-popup-tab-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 81px;
  height: 79px;
  background: $popup__header__tabs__item-bg;
  border-left: 1px solid $popup__header__tabs__item-border-left-color;
  color: $popup__header__tabs__item-color;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid $popup__header__tabs__item__after-border-left-color;
  }

  &:last-child {
    border-right: 1px solid $popup__header__tabs__item-border-right-color;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -2px;
      bottom: 0;
      border-right: 1px solid $popup__header__tabs__item__before-border-right-color;
    }
  }

  &.active {
    background-color: $popup__header__tabs__item-bg--hover;
    color: $popup__header__tabs__item-color--hover;

    &:after {
      border-left-color: transparent;
    }

    &:last-child:before {
      border-right-color: transparent;
    }

    &:not(:first-child) {
      border-left-color: transparent;

      &:after {
        left: -2px;
        border-left: 1px solid $popup__header__tabs__item__after-border-left-color;
      }
    }
  }

  &:first-child:last-child {
    border: 0;
    position: static;
  }
}

.brz-ed-popup-tab-icon {
  font-size: 20px;
  line-height: 1;
  margin: 20px auto 8px;
}

.brz-ed-popup-tab-image {
  padding: 19px;

  .brz-img {
    max-width: 100%;
  }
}

.brz-ed-popup-tab-name {
  font-family: $default-font-family;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.brz-ed-popup-content {
  position: relative;
  background-color: $popup__fonts__content-bg;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &--spacing {
    padding: $popup_content_padding_top $popup_content_padding_horizontal $popup_content_padding_bottom $popup_content_padding_horizontal;
  }

  &--height {
    height: $popup_content_height;
  }

  &__head {
    font-size: 13px;
    color: #292e37;
  }

  &__footer--inline {
    display: flex;
    justify-content: space-between;
  }

  &--empty {
    height: calc(#{$popup_content_height} - #{$popup_content_padding_top} - #{$popup_content_padding_bottom});
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-icon {
      font-size: 130px;
    }

    &-heading{
      font-size: 20px;
      font-weight:600;
      color: #212733;
    }

    &-text{
      width:375px;
      font-size: 18px;
      color: #777F86;
      text-align: center;
    }

    &-link{
      height: 40px;
      width: 185px;
      color:white;
      font-weight: 600;
      cursor: pointer;
      border-radius: 3px;
      background-color: #3DBFE8;
      margin-top: 25px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// Close
.brz-ed-popup-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:after,
  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 17px;
    border-top: 2px solid $popup__header__tabs__btn-color;
    top: 45%;
    left: 50%;
    margin-left: -8px;
    transition: all 0.2s ease;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    border-color: $popup__header__tabs__btn-color--hover;
  }
}

.brz-ed-popup-btn-help {
  position: absolute;
  top: 13px;
  right: 36px;
  color: $popup__header__tabs__btn-color;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: $popup__header__tabs__btn-color--hover;
  }
}

.brz-ed-popup-filter {
  height: 80px;
  background: #e0e1e2;
  margin: 0 -1px;
  border-right: 1px solid #a1a3a5;
  border-left: 1px solid #a1a3a5;
}

.brz-ed-popup-filter-field,
.brz-ed-dropdown.brz-ed-popup-filter-field {
  position: relative;
  width: 233px;
  height: 40px;
  background: #fff;
  float: left;
  border-radius: 5px;
  margin: 20px 10px 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brz-ed-popup-filter-field {
  .brz-ed-icon-angle-down {
    position: absolute;
    right: 11px;
    top: 5px;
    color: #34beea;
  }

  &:first-child {
    margin-left: 64px;
  }

  .brz-ed-dropdown-options {
    margin-top: 8px;
    background: #03080f;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .brz-ed-dropdown-options .brz-ed-dropdown-option-item {
    line-height: 36px;
  }

  .brz-ed-icon-loupe {
    position: absolute;
    top: 4px;
    right: 9px;
    color: #34beea;
  }

  .brz-input[type="text"] {
    font-family: $default-font-family;
    outline: none;
    border: none;
    background-color: transparent;
    width: 203px;
    height: 40px;
    font-size: 14px;
    text-indent: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .brz-input::-webkit-input-placeholder {
    color: #b6b9bd;
    font-style: italic;
  }

  .brz-input:-moz-placeholder {
    color: #b6b9bd;
    font-style: italic;
  }

  .brz-input::-moz-placeholder {
    color: #b6b9bd;
    font-style: italic;
  }

  .brz-input:-ms-input-placeholder {
    color: #b6b9bd;
    font-style: italic;
  }
}

.brz-ed-popup-filter-field .brz-ed-dropdown-current {

  .brz-ed-dropdown-option-item,
  .brz-ed-dropdown-placeholder {
    font-family: $default-font-family;
    padding-left: 16px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }

  .brz-ed-dropdown-placeholder {
    color: #b6b9bd;
    font-style: italic;
  }

  .brz-ed-dropdown-option-item {
    color: #000;
  }
}

.brz-ed-popup-filter-field-text {
  cursor: text;
}

// Custom styles for popup
.brz-ed-form-fields-inline {
  font-size: 0;

  .brz-ed-popup-form-field-title,
  .brz-ed-popup-form-field-label {
    display: inline-block;
    vertical-align: middle;
  }

  .brz-ed-popup-form-field-title {
    width: 20%;
    font-size: 14px;
  }

  .brz-ed-popup-form-field-label {
    width: 80%;
  }
}

// --- Responsive
@media screen and (max-height: 899px) {
  .brz-ed-popup-content--height {
    height: 465px;
  }
}
