.brz-ed-popup-recaptcha {
  &-validation-error {
    text-align: left;
  }
  &__connect {
    padding-left: 20px;
    padding-right: 20px;
    
    .brz-img,
    .brz-label {
      margin-bottom: 34px;
    }
    .brz-input {
      margin-right: 10px;
    }
  }
  &__confirmation {
    font-size: 14px;
  }
}
