@import "style";

.brz-ed--fat-icon {
  @apply text-center;
  @apply w-[60px];
  @apply cursor-pointer;

  .brz-icon-svg,
  &__label {
    @apply text-white;
    @apply transition-[color] duration-200 ease-linear;
  }

  &__wrapper {
    @apply relative;
    @apply border-2 border-solid rounded-[3px];
    @apply flex items-center justify-center;
    @apply w-[60px] h-[60px];
    @apply transition-[border-color] duration-200 ease-linear	delay-[0s];

    &--active {
      @apply border-right-sidebar-item--active;
    }
    &--inactive {
      @apply border-right-sidebar-item-border;
      @apply hover:border-right-sidebar-item-border--hover;
    }
  }

  .brz-icon-svg {
    @apply text-[16px];

    &__active {
      @apply text-right-sidebar-item--active #{!important};
    }
    &__inactive {
      @apply text-right-sidebar-item #{!important};
    }
  }

  &__label {
    @apply text-[12px] leading-[2.4rem];
    @apply truncate;

    &--active {
      @apply text-right-sidebar-item--active;
    }
    &--inactive {
      @apply text-right-sidebar-item;
    }
  }
}
.brz-ed--check-mark {
  @apply w-[16px] h-[16px];
  @apply rounded-[50%];
  @apply top-[4px];
  @apply left-[8px];
  @apply bg-black;
  @apply border-solid;
  @apply border-topaz;

  &__checked {
    @apply border-0;

    .brz-icon-svg {
      @apply text-brand-primary #{!important};
      @apply opacity-100;
    }
  }
  &__unchecked {
    @apply border-[1px];

    .brz-icon-svg {
      @apply text-brand-primary #{!important};
      @apply opacity-0;
    }
  }
}
.brz-ed--fat-check-icon__check {
  @apply absolute;
  @apply -top-[5px];
  @apply -left-[5px];
}
