.brz-cms__wrapper {
  height: 100vh;
  left: 0;
  margin-left: 48px;
  position: fixed;
  top: 0;
  width: calc(100% - 48px);
  z-index: 1100;

  .brz-iframe.brz-cms {
    width: 90%;
    height: 100%;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1300px) {
      width: 100%;
    }

    &.brz-loading {
      visibility: hidden;
    }
  }

  .brz-cms--loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-bg;

    @media screen and (max-width: 1300px) {
      width: 100%;
    }

    .brz-ed-animated--spin {
      color: #a1a8ad;
      font-size: 30px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    z-index: -1;
  }
}
