.brz-cms__wrapper {
  height: 100vh;
  left: 0;
  margin-left: 48px;
  max-width: 1410px;
  position: fixed;
  top: 0;
  width: calc(100% - 48px);
  z-index: 1100;
  background: $body-bg;

  .brz-iframe.brz-cms {
    width: 100%;
    height: 100%;

    &.brz-loading {
      visibility: hidden;
    }
  }

  .brz-cms--loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-bg;

    .brz-ed-animated--spin {
      color: rgba(150, 150, 150, 0.75);
      font-size: 30px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    box-shadow: -5px 0 11px rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}
