@import "../../variables";

// Sidebar Right
.brz-ed-sidebar__right {
  // Right sidebar content box-shadow animation
  @keyframes shadow-animation {
    from {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
      box-shadow: 0 0 10px 0 $sidebar__right_content-box-shadow;
    }
  }

  --brz-ui-global-input-background: var(--sidebar-background, #212733);
  --brz-ui-global-card-background: var(--sidebar-background, #212733);
  --color-dark: var(--sidebar-background, #212733);
  --color-gray-light: var(--sidebar-separators, #777f86);
  --color-gray: rgb(from var(--text-labels, #777f86) r g b / 0.5);
  width: auto;
  z-index: z("sidebar") - 1;

  &.brz-ed-sidebar__right--align-left {
    left: 0;
    right: auto;

    .brz-ed-sidebar__content {
      left: $sidebar-size;
      right: auto;
    }

    .brz-ui-v2-modal__sidebar {
      left: 48px;
      text-align: start;
    }
  }

  &.brz-ed-sidebar__right--align-right {
    left: auto;
    right: 0;

    .brz-ed-sidebar__content {
      left: auto;
      right: 0;
    }
  }

  .brz-ui-modal-body .brz-ui-card {
    animation-name: shadow-animation;
    animation-fill-mode: forwards;
    animation-duration: 150ms;
    animation-delay: 0.2s;
  }

  .brz-ed-sidebar__content {
    &.active {
      animation-name: shadow-animation;
    }
  }

  .brz-ed-sidebar__main {
    .brz-ui-input__text {
      --brz-ui-global-icon-color: var(--input-placeholder-text, #818a91);

      input.brz-ui-input {
        &.brz-ui-input.brz-ui-input.brz-ui-input.brz-ui-input {
          font-size: 14px;
        }

        &::placeholder {
          color: var(--input-placeholder-text, #818a91);
          font-style: italic;
        }
      }
    }

    .brz-ed-control__tabs {
      margin-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Icons
  &__header-icons {
    display: flex;
    flex-wrap: wrap;
  }

  &__header-icon {
    position: relative;
    font-size: 0px;
    cursor: pointer;

    & > .brz-icon-svg {
      font-size: 12px;
    }

    & > .brz-ed-sidebar__right__icon-tooltip {
      top: calc(100% + 8px);

      &:after {
        top: -8px;
        border-color: transparent;
        border-bottom-color: #879294;
      }
    }

    &:hover {
      color: $brand__primary;

      & > .brz-ed-sidebar__right__icon-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 750ms;
      }
    }
  }

  &__header-icon:last-child {
    margin-left: 15px;
  }

  // Empty
  &__empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 45px;
    text-align: center;
  }

  &__empty-icon {
    font-size: 18px;
    margin-bottom: 25px;
    color: $sidebar__icon-color;
  }

  &__empty-text {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $sidebar__content-color;
  }

  // Tabs

  .brz-ed-popover__tooltip--icon-custom {
    width: 23px;
    height: 23px;
    border: 1px solid #555b64;
  }

  .brz-ed-tooltip--opened .brz-ed-popover__tooltip--icon-custom {
    border-width: 2px;
    border-color: $brand__primary;
  }

  // Options
  .brz-ed-option,
  &__option {
    padding: 15px 0;

    &-type__popover .brz-ed-option-type__colorPicker,
    &-type__popover .brz-ed-option-type__backgroundColor,
    &-type__popover .brz-ed-option-type__textShadow,
    &-type__popover .brz-ed-option-type__boxShadow {
      &,
      &-dev {
        padding: 15px;
      }
    }

    .brz-ed-option__block .brz-ed-option__label {
      margin-bottom: 7px;
    }

    // Tooltip MultiPicker
    &.brz-ed-option__multiPicker {
      .brz-ed-popover__tooltip {
        .brz-ed-tooltip__content {
          width: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .brz-ed-popover__tooltip--icon-custom {
            width: 23px;
            height: 23px;
            border: 1px solid #555b64;
            cursor: pointer;

            &:hover {
              border: 2px solid $brand__primary;
            }
          }
        }
      }
    }

    &-type__colorPicker,
    &-type__backgroundColor,
    &-type__textShadow,
    &-type__boxShadow {
      flex-direction: column;

      .brz-ed-option__label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }

    &-type__popover {
      .brz-ed-option__label {
        display: block;
      }
    }
  }

  &__tabs > .brz-ed-option {
    padding: 23px 30px 30px;

    &.brz-ed-option-type__sidebarTabs {
      padding: 0;
    }
  }
}

.brz-ui-v2-modal-root .brz-ed-sidebar__video-help .brz-ui-v2-modal {
  --brz-ui-global-card-background: transparent;
  height: auto;
}

.brz-ed-content .brz-ed-control__tab__content {
  padding: 0;
}

.brz-ui-menu.brz-ui-menu__sidebar.brz-ui-menu-dark
  .brz-ui-menu__sidebar-item.brz-ui-menu-item-selected
  .brz-ed-sidebar__video-help
  .brz-ui-icon__svg:first-child
  svg {
  color: $help_video__icon-color;
  cursor: pointer;

  &:hover {
    color: $white;
  }
}

.brz-ui-menu .brz-ed-sidebar__video-help .brz-ui-v2-modal-wrap {
  cursor: auto;
}

.brz-ed-sidebar__video-help .brz-ui-video-player video {
  display: block;
}

.brz-ui-menu__sidebar-item > span.brz-ui-icon__svg {
  margin-right: unset;
  margin-inline-end: 10px;
}

.brz-ed-control__right-sidebar-tabs {
  .brz-ui-btn .brz-ui-typography {
    color: $sidebar-color;
    margin-left: unset;
    margin-inline-start: 8px;
  }
}

.brz-ed-sidebar__video-help,
.brz-ui-v2-modal-root > .brz-ui-v2-modal-mask {
  position: absolute;
  z-index: z("helpVideo");
}

.brz-sidebar-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
