@import "../../variables";

// Sidebar Right
.brz-ed-sidebar__right {
  width: auto;
  z-index: z("sidebar") - 1;

  &.brz-ed-sidebar__right--align-left {
    left: 0;
    right: auto;

    .brz-ed-sidebar__content {
      left: $sidebar-size;
      right: auto;
    }
  }
  &.brz-ed-sidebar__right--align-right {
    left: auto;
    right: 0;

    .brz-ed-sidebar__content {
      left: auto;
      right: 0;
    }
  }

  .brz-ed-sidebar__content {
    &.active {
      animation-name: shadow-animation;
    }

    // Right sidebar content box-shadow animation
    @keyframes shadow-animation {
      from {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      to {
        box-shadow: $sidebar-right-content-shadow;
      }
    }
  }
  .brz-ed-sidebar__main {
    padding-top: 17px;

    .brz-ed-control__tabs {
      margin-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // Icons
  &__header-icons {
    display: flex;
    flex-wrap: wrap;
  }

  &__header-icon {
    position: relative;
    font-size: 0px;
    cursor: pointer;

    & > .brz-icon-svg {
      font-size: 12px;
    }
    & > .brz-ed-sidebar__right__icon-tooltip {
      top: calc(100% + 8px);

      &:after {
        top: -8px;
        border-color: transparent;
        border-bottom-color: #879294;
      }
    }

    &:hover {
      color: $brand-primary;

      & > .brz-ed-sidebar__right__icon-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 750ms;
      }
    }
  }
  &__header-icon:last-child {
    margin-left: 15px;
  }

  // Empty
  &__empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 45px;
    text-align: center;
  }
  &__empty-icon {
    font-size: 18px;
    margin-bottom: 25px;
    color: #818a91;
  }
  &__empty-text {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #7f8994;
  }

  // Tabs
  &__tabs {
    padding: 0 30px 30px;
  }

  .brz-ed-popover__tooltip--icon-custom {
    width: 23px;
    height: 23px;
    border: 1px solid #555b64;
  }

  .brz-ed-tooltip--opened .brz-ed-popover__tooltip--icon-custom {
    border-width: 2px;
    border-color: $brand-primary;
  }

  // Options
  .brz-ed-option,
  &__option {
    padding: 15px 0;

    .brz-ed-option-type__colorPicker {
      &,
      &-dev {
        padding: 15px;
      }
    }

    .brz-ed-option__block .brz-ed-option__label {
      margin-bottom: 7px;
    }

    // Tooltip MultiPicker
    &.brz-ed-option__multiPicker {
      .brz-ed-popover__tooltip {
        .brz-ed-tooltip__content {
          width: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .brz-ed-popover__tooltip--icon-custom {
            width: 23px;
            height: 23px;
            border: 1px solid #555b64;
            cursor: pointer;

            &:hover {
              border: 2px solid $brand-primary;
            }
          }
        }
      }
    }
  }
}
