@import "../../variables";

// Sidebar Right
.brz-ed-sidebar__right {
  width: auto;
  z-index: z("sidebar") - 1;

  &.brz-ed-sidebar__right--align-left {
    left: 0;
    right: auto;

    .brz-ed-sidebar__content {
      left: $sidebar-size;
      right: auto;
    }

    .brz-ui-modal__sidebar {
      left: 48px;
      text-align: start;
    }
  }

  &.brz-ed-sidebar__right--align-right {
    left: auto;
    right: 0;

    .brz-ed-sidebar__content {
      left: auto;
      right: 0;
    }
  }

  .brz-ed-sidebar__content {
    &.active {
      animation-name: shadow-animation;
    }

    // Right sidebar content box-shadow animation
    @keyframes shadow-animation {
      from {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }

      to {
        box-shadow: 0 0 10px 0 $sidebar__right_content-box-shadow;
      }
    }
  }

  .brz-ed-sidebar__main .brz-ed-control__tabs {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  // Icons
  &__header-icons {
    display: flex;
    flex-wrap: wrap;
  }

  &__header-icon {
    position: relative;
    font-size: 0px;
    cursor: pointer;

    & > .brz-icon-svg {
      font-size: 12px;
    }

    & > .brz-ed-sidebar__right__icon-tooltip {
      top: calc(100% + 8px);

      &:after {
        top: -8px;
        border-color: transparent;
        border-bottom-color: #879294;
      }
    }

    &:hover {
      color: $brand__primary;

      & > .brz-ed-sidebar__right__icon-tooltip {
        opacity: 1;
        visibility: visible;
        transition-delay: 750ms;
      }
    }
  }

  &__header-icon:last-child {
    margin-left: 15px;
  }

  // Empty
  &__empty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 45px;
    text-align: center;
  }

  &__empty-icon {
    font-size: 18px;
    margin-bottom: 25px;
    color: $sidebar__icon-color;
  }

  &__empty-text {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: $sidebar__content-color;
  }

  // Tabs

  .brz-ed-popover__tooltip--icon-custom {
    width: 23px;
    height: 23px;
    border: 1px solid #555b64;
  }

  .brz-ed-tooltip--opened .brz-ed-popover__tooltip--icon-custom {
    border-width: 2px;
    border-color: $brand__primary;
  }

  // Options
  .brz-ed-option,
  &__option {
    padding: 15px 0;

    .brz-ed-option-type__colorPicker {
      &,
      &-dev {
        padding: 15px;
      }
    }

    .brz-ed-option__block .brz-ed-option__label {
      margin-bottom: 7px;
    }

    // Tooltip MultiPicker
    &.brz-ed-option__multiPicker {
      .brz-ed-popover__tooltip {
        .brz-ed-tooltip__content {
          width: 100%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .brz-ed-popover__tooltip--icon-custom {
            width: 23px;
            height: 23px;
            border: 1px solid #555b64;
            cursor: pointer;

            &:hover {
              border: 2px solid $brand__primary;
            }
          }
        }
      }
    }
  }

  &__tabs > .brz-ed-option {
    padding: 23px 30px 30px;

    &.brz-ed-option-type__sidebarTabs {
      padding: 0;
    }
  }
}

.brz-scrollColor__dark {
  background-color: $scrollbar__sidebar-color;
}

.brz-video-help > .brz-ui-modal-root .brz-ui-modal {
  height: auto;
}


.brz-ed-content .brz-ed-control__tab__content{
  padding: 0;
}

.brz-ui-menu.brz-ui-menu__sidebar.brz-ui-menu-dark .brz-ui-menu__sidebar-item.brz-ui-menu-item-selected .brz-video-help .brz-ui-icon__svg:first-child svg {
  color: $help_video__icon-color;
  cursor: pointer;
  &:hover {
    color: $white;
  }
}
.brz-ui-menu .brz-video-help .brz-ui-modal-wrap {
  cursor: auto;
}

.brz-video-help .brz-ui-video-player video {
  display: block;
}

.brz-sidebar-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
