// --- Wordpress Shortcode
.brz-wp-shortcode {
  width: 100%;
  min-height: 20px;


  .woocommerce:empty {
    width: 100%;
    height: 15px;
  }

  // Single Product Page
  .woocommerce-product-gallery {
    opacity: 1 !important;
  }

  // --- Wordpress Shortcode Placeholder
  .brz-shortcode__placeholder {
    width: 100%;
  }
}
