@import "../../variables";

// Buttons
.brz-ed-control__button {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  color: $brand__primary;
  font-size: $options__item-font-size;
  transition: color 0.2s linear;
  cursor: pointer;
  display: flex;
  width: 100%;

  .brz-icon-svg {
    font-size: $toolbar-font-size;
  }
  &.reverse {
    .brz-ed-control__label {
      order: 1;
    }
    .brz-icon-svg {
      order: 2;
    }
  }

  &.reverseTheme {
    color: $toolbar__item-color;
    padding: 13px 3px;

    &:hover {
      color: $brand__primary;
    }
  }

  &-left {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
    align-items: center;
  }
  &-right {
    justify-content: flex-end;
  }
  &:hover {
    color: $sidebar-color;
  }
}
