@import "../../variables";
@import "../../mixins/input";

.brz-ed-control__colorPickerSelect {
  position: relative;

  &--select {
    @include small-select;

    position: absolute;
    z-index: 10;
    top: 4px;
    inset-inline-start: 4px;
    width: auto;
    max-width: 120px;
    min-width: auto;

    .brz-ed-control__multiSelect {
      &__menu {
        max-width: 145px;
        min-width: unset;
      }

      &--value-container {
        background-color: $control-bg;
        display: inline-flex;
        max-width: 100%;
      }

      &__option,
      &--tag {
        font-size: $options__handle-font-size-small;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
