@import "../../variables";
@import "../../mixins/input";

.brz-ed-control__colorPickerSelect {
  &--select {
    @include small-select;

    position: absolute;
    z-index: 2;
    margin-top: 6px;
    margin-left: 4px;
    width: auto;

    .brz-ed-control__multiSelect {
      &--value-container {
        background-color: $control-background-color;
      }

      &__option,
      &--tag {
        font-size: $options-handle-font-size-small;
      }
    }
  }
}
