.brz-ed-control__colorPicker2 {
  position: relative;
}
.color-picker2-body {
  margin-bottom: 2px;
  display: flex;

  .color-picker2-saturation {
    width: 153px;
    height: 153px;
    position: relative;
    cursor: move;

    & > div {
      border-radius: 3px 3px 4px 4px;
    }
    .color-picker2-saturation-body {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .saturation-black {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 3px;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
      }
      .saturation-white {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 3px;
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
      }
      .color-picker2-pointer {
        width: 16px;
        height: 16px;
        transform: translate(-8px, -8px);
        cursor: move;
      }
      .saturation-pointer {
        position: absolute;
        cursor: move;
      }
      .saturation-circle {
        width: 4px;
        height: 4px;
        box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
          0 0 1px 2px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        cursor: move;
        transform: translate(-2px, -2px);
      }
    }
  }
  .color-picker2-hue,
  .color-picker2-alpha {
    position: relative;
    height: 153px;
    width: 12px;
    margin-left: 10px;
    cursor: ns-resize;

    .hue-vertical {
      border-radius: 3px;
    }
  }
  .color-picker2-hue {
    .hue {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .hue-container {
      padding: 0 2px;
      position: relative;
      height: 100%;
    }
    .hue-pointer {
      position: absolute;
    }
    .color-picker2-pointer {
      transform: translate(-1px, -7px);
    }
    .hue-slider {
      margin-top: 1px;
      width: 4px;
      border-radius: 1px;
      height: 8px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
      background: #fff;
      transform: translateX(-2px);
    }
    .hue-horizontal {
      background: linear-gradient(
        to right,
        #f00 0%,
        #ff0 17%,
        #0f0 33%,
        #0ff 50%,
        #00f 67%,
        #f0f 83%,
        #f00 100%
      );
    }
    .hue-vertical {
      background: linear-gradient(
        to top,
        #f00 0%,
        #ff0 17%,
        #0f0 33%,
        #0ff 50%,
        #00f 67%,
        #f0f 83%,
        #f00 100%
      );
    }
  }
  .color-picker2-alpha {
    background-color: #fff;
    border-radius: 3px 3px 4px 4px;

    div:not(.color-picker2-pointer) {
      border-radius: 3px;
    }
    div > div > div:not(.color-picker2-pointer) {
      background-size: 8px !important;
    }

    .color-picker2-pointer {
      transform: translate(-4px, -7px);
      position: relative;

      .color-picker2-pointer-tooltip {
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        width: 42px;
        height: 27px;
        font-size: 12px;
        line-height: 2.2;
        border-radius: 2px;
        background-color: $toolbar-bg-color;
        box-shadow: $toolbar-box-shadow;
        text-align: center;
        font-family: $font-family-1;
        color: rgba(255, 255, 255, 0.85);

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -6px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 6px solid $toolbar-bg-color;
        }
      }
    }
    .color-picker2-alpha-body {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .color-picker2-alpha-checkboard {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
      }

      .color-picker2-alpha-gradient {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .color-picker2-alpha-container {
        position: relative;
        height: 100%;
        margin: 0 3px;

        .color-picker2-alpha-pointer {
          position: absolute;

          .color-picker2-alpha-slider {
            width: 4px;
            border-radius: 1px;
            height: 8px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
            background: #fff;
            margin-top: 1px;
            transform: translateX(-2px);
          }
        }
      }
    }
  }
  .color-picker2-pointer {
    width: 14px;
    height: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, 0.5);
    transform: translate(-7px, -7px);
    border-radius: 50%;
    background: 0 0;
    border: 3px solid #fff;
    cursor: ns-resize;
  }
}
.color-picker2-preset-colors {
  margin: 0 -10px;
  padding: 10px 0 0 10px;
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .color-picker2-swatch-wrap {
    width: 20px;
    height: 20px;
    margin-left: 2px;
  }
}

&.brz-ed--tablet,
&.brz-ed--mobile {
  .color-picker2-body
    .color-picker2-alpha
    .color-picker2-pointer
    .color-picker2-pointer-tooltip {
    right: 18px;
    left: auto;

    &:before {
      right: -12px;
      left: auto;
      border-right: 6px solid transparent;
      border-left: 6px solid $toolbar-bg-color;
    }
  }
}
