@import "../../variables";
@import "./fat-icon";

.brz-ed--fat-check-icon {
  .brz-ed--fat-icon__wrapper {
    position: relative;
  }

  .brz-ed--fat-check-icon__check.brz-ed--check-mark {
    position: absolute;
    top: -5px;
    left: -5px;
  }
}
