$imageSize: 48px;

.brz-ed-control__file-upload {
  &__wrapper {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    min-width: $imageSize;
    min-height: $imageSize;
    border: 1px dashed $file__upload-border;
    background-color: $file__upload-bg;
    color: $file__upload__icon-color;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s linear;

    input {
      cursor: pointer;
      font-size: 200px;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
    }

    .brz-icon-svg {
      color: inherit;
      transition: color 0.2s linear;
    }

    &:hover {
      border-color: $file__upload-border--hover;
      color: $file__upload__icon-color--hover;
    }
  }

  &__file-name {
    color: $file__upload__file__name-color;
    display: grid;
    grid-template-columns: 1fr 16px;
    gap: 10px;
    align-items: center;
    max-width: 175px;

    &--title {
      overflow: hidden;
      text-align: right;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      direction: rtl;
    }

    &--remove {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $file__upload__file__name-color;
      display: flex;
      align-items: center;
      justify-content: center;

      .brz-icon-svg {
        color: $file__upload__file__name__icon-color;
        font-size: 14px;
      }
    }

    .brz-icon-svg {
      cursor: pointer;
    }
  }
}
