@use "sass:math";
@import "../../variables";

// Gallery
.brz-ed-control__gallery {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42px, 1fr));
  justify-content: start;
  gap: 7px;


  &--fixed {
    width: 100%;
    min-width: 140px;
  }

  &__draggable {
    pointer-events: all !important;
    z-index: 100000;
    opacity: 0.8;

    .brz-ed-control__gallery-tooltip--error {
      .brz-ed-tooltip__content {
        width: 100%;
      }

      .brz-ed-tooltip__overlay {
        width: max-content;
      }
    }
  }

  &__item {
    background: $focal_point__upload-bg;
    position: relative;
    aspect-ratio: 1;

    &--loading,
    &--add,
    &--error {
      display: flex;
      justify-content: center;
      align-items: center;
      border: dashed 1px $focal_point-border;
    }

    &--loading,
    &--thumbnail,
    &--error {
      cursor: grabbing;
    }

    &--add {
      cursor: pointer;
      min-height: 42px;
      margin-bottom: 0;

      /// now is 3-rd child because of new library dnd-kit
      &:nth-child(3) {
        width: 48px;
        height: 48px;
        justify-self: end;
      }

      &-loading {
        cursor: progress;
      }
    }

    &--thumbnail {
      &__image {
        display: block;
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    &__icon {
      font-size: $toolbar-font-size;
      color: #fff;
      opacity: 15%;
    }

    &__remove {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -(math.div($toolbar__static-font-size, 2));
      right: -(math.div($toolbar__static-font-size, 2));
      cursor: pointer;
      outline: none;
      background: #000;
      border-radius: 100%;
      display: block;
      line-height: 0;

      &__icon {
        pointer-events: none;
        font-size: $toolbar__static-font-size;
        color: $sidebar-color;
      }
    }
  }

  .brz-ed-control__gallery__draggable {
    opacity: 1;
  }

  .brz-ed-control__gallery__item {
    &--loading,
    &--thumbnail,
    &--error {
      cursor: grab;
    }
  }

  .brz-ed-tooltip__overlay {
    background-color: $options__control-bg;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 25px;

    .brz-ed-arrow--top:after {
      border-top-color: $options__control-bg;
    }

    .brz-ed-arrow--bottom:after {
      border-bottom-color: $options__control-bg;
    }
  }
}
