.brz-helper__copy {
  color: #91cb8a;
  padding: 20px;
  max-width: 240px;
  line-height: 1.5;
  font-family: $font-family-1;
  font-weight: 500;

  &-descriptions {
    color: #fff;
    margin-bottom: 13px;
  }
  &--fields {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brz-span:first-child {
      margin-right: 7px;
    }
    &:hover .brz-icon-svg {
      opacity: 1;
      transition: 0.2s linear opacity;
    }
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  .brz-icon-svg {
    font-size: 8px;
    margin-right: auto;
    vertical-align: middle;
    color: rgba(#fff, 0.6);
    opacity: 0;
    transition: 0.2s linear opacity;
  }
  .brz-ed-animated {
    animation-duration: 0.7s;
  }
  .brz-p {
    font-size: 13px;
  }
}
