@import "../../variables";
@import "../../mixins/input";

// --- Input Control
.brz-ed-control__input2 {
  input {
    font-family: $default-font-family;
    font-size: $control-font-size;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background: $input-bg none;
    color: $input-color;
    flex: 1 1 auto;
    height: $control-height;
    text-indent: 5px;
    padding: 0 5px;
    border-radius: $control-border-radius;
    border: 0;
    outline: 0;
    box-shadow: none;
    text-shadow: none;
    text-align: start;
    margin-left: auto;
    width: 114px;
    min-height: initial;

    &:focus,
    &:active {
      background-color: $input-bg;
      color: $input-color;
    }

    // Placeholder
    @include placeholder {
      & {
        color: $input__placeholder-color;
        font-style: italic;
        font-size: 1em;
      }
    }
  }
}
