@import "../../variables";

// --- Input Control
.brz-ed-control__input {
  font-family: $default-font-family;
  font-size: $control-font-size;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  background: $control-bg none;
  color: $control__variant-color;
  width: auto;
  flex: 1 1 auto;
  height: $control-height;
  text-indent: 5px;
  padding: 0 5px;
  border-radius: $control-border-radius;
  border: 0;
  outline: 0;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
  margin-left: auto;
  -moz-appearance: textfield; // Remove spin button on Firefox

  &:focus,
  &:active {
    background-color: $control-bg;
    color: $control__variant-color;
    outline: 0;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Placeholder
  @include placeholder {
    & {
      color: $input__placeholder-color;
      font-style: italic;
      font-size: 1em;
    }
  }

  // Size Styles
  &--large {
    max-width: $control__lg-width;
  }

  &--medium {
    max-width: $control__md-width;
  }

  &--small {
    max-width: $control__sm-width;
  }

  &--auto {
    max-width: 100%;
  }
}
