.brz-input__placeholder {
  margin: 0 auto 14px;
  width: 283px;

  &:last-of-type {
    margin-bottom: 37px;
  }
  &-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 20px;
    color: $brand__primary;
    cursor: pointer;
    transform: translateY(-0.5em);
  }

  &__control {
    position: relative;
    display: block;

    .brz-label {
      display: block;
    }

    .brz-p {
      position: absolute;
      top: 50%;
      inset-inline-start: 20px;
      cursor: text;
      transform: translateY(-50%);
      text-transform: uppercase;
      margin: 0;
      opacity: 0;
      transition: 0.2s linear opacity;
    }

    .brz-strong{
      display: flex;
    }

    .brz-input {
      width: 100%;
      height: 46px;
      border: none;
      background-color: #fff;
      border-radius: 5px;
      padding-left: 20px;
      padding-right: 20px;
      outline: 0;
    }

    .brz-input:invalid ~ .brz-p {
      opacity: 1;
      z-index: 1;
      transition: 0.2s linear opacity;
    }

    .brz-input:focus ~ .brz-p {
      opacity: 0;
      z-index: -1;
      transition: 0.2s linear opacity;
    }

    .brz-span {
      color: $brand__primary;
      padding-inline-start: 3px;
    }
  }

  .brz-input__placeholder__description.brz-p {
    margin-top: 5px;
    font-size: 14px;
    text-transform: initial;
  }
}
