@import "../../variables";

// --
.brz-ed-listbox {
  position: absolute;
  background-color: $brand__options;
  z-index: z("toolbar");
  border-radius: $control-border-radius;
  box-shadow: 0 2px 13px 0 $control__dropdown-box-shadow;
  color: #fff;
  font-family: $default-font-family;

  &__optgroup-label,
  &__item {
    position: relative;
    cursor: pointer;
    color: #fff;
    padding-left: $control-padding;
    padding-right: $control-padding;
    font-size: $control-font-size;
    letter-spacing: $control-letter-spacing;
    border-bottom: 1px solid $control-border;
    line-height: $control-height;
    height: $control-height;
    transition: color 0.15s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom-color: transparent !important;
    }
  }

  &__item--active,
  &__item:hover {
    color: $brand__primary;
    transition: color 0.15s linear;
  }

  &__item--disable {
    cursor: default;
  }

  &__optgroup {
    cursor: auto;
    height: auto;
    padding: 0;
  }

  &__optgroup-label {
    color: $options__label-color;
  }

  &__optgroup .brz-ed-listbox__item {
    padding-left: 20px;
  }
}
