@import "../../variables";

// Multi Select
.brz-ed-control__multiSelect {
  font-family: $default-font-family;

  &--size {
    &-short {
      min-width: $control__sm-width;
      max-width: $control__sm-width;
    }

    &-medium {
      min-width: $control__md-width;
      max-width: $control__md-width;
    }

    &-large {
      min-width: $control__lg-width;
      max-width: $control__lg-width;
    }

    &-auto {
      flex: 1 1 auto;
      max-width: 100%;
    }
  }

  // Input
  &--value-container {
    border-radius: $control-border-radius;
    font-size: $control-font-size;
    letter-spacing: $control-letter-spacing;
    display: flex;
    justify-content: start;
    background-color: $control-bg;
    flex-wrap: wrap;
    padding: 2px;
    min-height: $control-height;
    position: relative;
    color: $control__variant-color;

    input,
    input::placeholder {
      color: #fff;
    }

    .brz-control__select--arrow {
      position: static;
      flex: none;
      top: unset;
      margin: 0;
      margin-inline-start: 3px;
    }

    .brz-ed-control__multiSelect--placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &--value {
    font: inherit;
    letter-spacing: inherit;
    outline: none;
    border: none;
    background: none;
    padding-left: $control-padding;
    padding-right: $control-padding;
    height: $control-height - 4px;
    flex: 1 1 auto;
  }

  &--tag {
    border-radius: $control-border-radius;
    font-size: $control-font-size;
    letter-spacing: $control-letter-spacing;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 20px;
    padding: 5px;
    line-height: 1;
    color: $control__variant-color;
    margin: 2px;
    background-color: #49515f;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.04);
    overflow: hidden;
    text-overflow: ellipsis;

    &--value {
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
      flex: 1 1 auto;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    & > .brz-icon-svg {
      cursor: pointer;
      font-size: 10px;
      margin-left: 4px;
      transition: 0.2s color linear;
      flex: none;
    }

    .brz-icon-svg:hover {
      color: $brand__primary;
      transition: 0.2s color linear;
    }
  }

  // Dropdown
  &__menu-container {
    position: relative;
  }

  &__menu {
    font-family: $default-font-family;
    z-index: z("select-portal");
    box-shadow: 0 1px 3px 0 $picker__select__option-box-shadow;
    margin-top: 3px; // ? placement
    border-radius: $control-border-radius;
    background: $control-bg;
    min-width: 100%;
    transform: none !important;
    max-width: 350px;
  }

  &__option {
    cursor: pointer;
    padding-left: $control-padding;
    padding-right: $control-padding;
    font-size: $control-font-size;
    letter-spacing: $control-letter-spacing;
    line-height: $control-height;
    height: $control-height;
    transition: color 0.15s linear;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid $control-border;
    color: $control-color;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: $default-font-family;

    &:last-child {
      border-bottom-color: transparent;
    }

    &:hover:not(.brz-ed-control__multiSelect__option--disabled),
    &--active {
      transition: color 0.15s linear;
      color: $control-color--active;
    }

    &--disabled {
      transition: none;
      cursor: default;
      color: $gray-light;
      font-style: italic;
    }
  }

  // Scroll
  &__scroll-thumb {
    width: 3px !important;
    background-color: #7b7b7b;
    border-radius: 2px;
    right: -3px;
  }

  &.brz-slider__select {
    min-width: 50px;

    .brz-ed-control__multiSelect--value-container {
      background: transparent;
      transition: 0.2s color linear;

      &:hover {
        .brz-ed-control__multiSelect--tag--value,
        .brz-control__select--arrow {
          color: $brand__primary;
        }
      }
    }

    .brz-ed-control__multiSelect--tag--value {
      color: $gray-light;
      transition: 0.2s color linear;
    }

    .brz-control__select--arrow {
      color: $gray-light;
      transition: 0.2s color linear;
    }
  }
}
