@import "../../mixins/input";
@import "../../variables";

.brz-ed-control__number-unit {
  margin-left: $space-between-controls;
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    position: relative;
    flex: 0;

    .brz-invisible {
      @include small-input;
      word-break: keep-all;
      white-space: nowrap;
      line-height: unset;
    }

    input {
      @include small-input;

      position: absolute;
      width: 100%;
    }
  }

  &__unit {
    flex: none;
    margin-left: 5px;
    color: $options-label-color;
    cursor: pointer;

    &--active {
      color: $brand-primary;
    }
  }
}
