@import "../../mixins/input";
@import "../../variables";

.brz-ed-control__number-unit {
  margin-inline-start: $space__between__controls;
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    position: relative;
    flex: 0;

    .brz-invisible {
      @include small-input;
      word-break: keep-all;
      white-space: nowrap;
      line-height: unset;
    }

    input {
      @include small-input;

      position: absolute;
      width: 100%;
    }
  }

  &__unit {
    flex: none;
    margin-inline-start: 5px;
    color: $options__label-color;
    cursor: pointer;

    &--active {
      color: $brand__primary;
    }
  }

  .brz-ed-control__multiSelect.brz-ed-control__multiSelect--size-medium.brz-slider__select.brz-ed-control__select-single {
    min-width: 25px;
    margin-inline-start: 3px;
  }
  .brz-ed-control__multiSelect--value-container.brz-ed-control__multiSelect--value-container {
    padding: 0;
  }
}
