@import "../../mixins/input";
@import "../../variables";

.brz-ed__control--number-slider {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;

  .brz-ed__control--number-unit {
    margin-left: $space-between-controls;
    flex: none;
    width: 45px;
  }
}
