@import "../../mixins/input";
@import "../../variables";

.brz-ed-control__population {
  display: grid;
  grid-template-columns: minmax(20%, 100%) auto;
  align-items: center;
  justify-content: flex-end;

  &--fixed {
    grid-template-columns: 120px auto;
  }

  &__input {
    font-family: $default-font-family;
    font-size: $control-font-size;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background: $control-bg none;
    color: $control__variant-color;
    min-width: $control__md-width;
    max-width: $control__md-width;
    height: $control-height;
    padding: 0 5px 0 10px;
    border-radius: $control-border-radius;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 5px;
    align-items: center;

    .brz-ed-icon-svg {
      cursor: pointer;
      width: 13px;
      margin-left: auto;
    }

    .brz-span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > .brz-ed-control__popover {
      height: 13px;
    }
  }

  .brz-control__select-population {
    display: flex;
    flex: 0;

    &--only-icon {
      margin-left: 0;
    }
  }

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--inputs-bg, #383e48);
    height: 30px;
    min-width: $control__md-width;
    border-radius: 4px;

    .brz-ed-animated--spin {
      font-size: 12px;
      color: #818a91;
    }
  }
}

.brz-ed-control-grid--gap {
  gap: 10px;
}

.brz-ed-control__population--wrapper {
  margin-left: 10px;
  cursor: initial;

  .brz-control__select {
    width: 100%;

    .brz-control__select--arrow {
      inset-inline-end: 6px;
    }
  }

  &.brz-control__select-population--only-icon {
    margin-left: 0;
  }

  &.brz-control__select-current__icon {
    width: auto;
    height: auto;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    color: var(--icons-color, #fff);

    .brz-icon-svg {
      font-size: 14px;
    }
  }

  &.brz-control__select-current {
    color: $control-color;
    overflow: visible;
  }

  .brz-ed-control__population-content-wrapper {
    width: 142px;
    z-index: 1110;
    background-color: var(--inputs-bg, #383e48);
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px;

    .brz-control__select {
      margin-left: 0;

      &-options {
        border-radius: 4px;
        margin-left: 0;
        box-shadow: 0 1px 6px 0
          var(--picker__select__option-box-shadow, rgba(0, 0, 0, 0.5));
        background-color: var(--inputs-bg, #383e48);
        min-width: $control__lg-width;

        .brz-control__select-option {
          border-bottom: 1px solid
            var(--toolbars-icons-separators, rgba(255, 255, 255, 0.07)) !important;
          min-width: $control__lg-width;
        }
      }

      &-current__input > .brz-control__select-option {
        border-bottom: transparent;
      }

      &--active {
        color: $brand__primary;
      }
    }
  }

  .brz-ed-control__multiSelect__menu {
    min-width: $control__lg-width;

    .brz-ed-control__multiSelect__option {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      min-width: $control__lg-width;
      width: 100%;
      display: inline-block;
    }
  }

  .brz-ed-control__multiSelect--tag--value {
    display: block;
  }
}

.brz-ed-control__grid__column {
  .brz-ed-option.brz-ed-option-type__population {
    padding-top: 10px;
    padding-inline-end: 15px;
    padding-bottom: 15px;
    padding-inline-start: 8px;
  }
}

.brz-ed-control__population--handler {
  color: $toolbar__item-color;
  cursor: pointer;
}
