// Radio
.brz-ed-control-radio-option {
  color: #626b70;
  transition: 0.2s linear color;

  &--active {
    color: $brand__primary;
    transition: 0.2s linear color;
  }
  &:hover {
    color: $brand__primary;
    transition: 0.2s linear color;
  }
}
