@import "../../variables";

// Buttons
.brz-ed-control__reload-button {
  font-size: $options__handle-font-size;
  color: $options__item-color--hover;
  align-items: center;

  .brz-icon-svg {
    font-size: 10px;
  }
}
