@import "../../variables";

.brz-ed-control__right-sidebar-tabs {
  flex: 1 1 auto;
  max-width: 100%;

  & > .brz-ed-control__tab__content {
    padding: 7px 30px 30px;
  }

  &__icon {
    position: relative;
    font-size: 0;
    cursor: pointer;
    margin-inline-start: 20px;

    &:last-child {
      margin-inline-end: 20px;
    }

    & .brz-icon-svg {
      font-size: 12px;
    }

    &__tooltip {
      font-size: 12px;
      line-height: 1;
      font-family: $default-font-family;
      height: 27px;
      width: auto;
      min-width: 60px;
      white-space: nowrap;
      background-color: $right_sidebar__tooltip-bg;
      color: $right_sidebar__tooltip-color;
      text-align: center;
      padding: 7px 10px;
      border-radius: 14px;
      z-index: 1;
      transition: opacity 0.15s linear;
    }

    &:hover {
      color: $right_sidebar__icon-color--hover;
    }
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    height: 48px;
    align-items: center;
    background-color: $right_sidebar__header__tabs-bg;

    .brz-ed-control__tabs {
      flex: 1 1 auto;
      margin: 0 !important;
      display: flex;
      flex-wrap: nowrap;
      border: none;
      height: 100%;

      .brz-ed-control__tab {
        padding: 0 20px;
        margin: 0 !important;
        flex: 0 0 auto;
        border: none;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        white-space: nowrap;

        &.active {
          background-color: $right_sidebar__header__tabs-bg--active;
        }

        &:before {
          display: none;
        }
      }
    }

    .brz-ed-tooltip__overlay {
      box-shadow: none;
      background-color: transparent;

      .brz-ed-arrow::after {
        border-bottom-color: $right_sidebar__tooltip-bg;
      }
    }

    &-controls {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 48px;
      padding-right: 10px;
      background-color: var(--sidebar-header, #383e48);
    }
  }
}
