@import "../../variables";

// UI Slider 2
@function encodeHex($colour) {
  @return "%23"+str-slice("#{$colour}", 2, -1);
}

@mixin thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 2px $slider__control__handle-box-shadow;
  background-color: $slider__control__handle-bg;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eslider handle%3C/title%3E%3Cg id='UI-Helpers' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' fill-rule='nonzero'%3E%3Cg id='slider-handle'%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='10' cy='10' r='10'%3E%3C/circle%3E%3Cpath d='M6,7 L14,7 L14,8 L6,8 L6,7 Z M6,10 L14,10 L14,11 L6,11 L6,10 Z M6,13 L14,13 L14,14 L6,14 L6,13 Z' id='Combined-Shape' fill='%233DBFE8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -7px;
  cursor: pointer;
  transition: border-color .2s ease, box-shadow .2s ease;

  &:active {
    border-color: $slider__control__handle-border--active;
    box-shadow: 0 0 5px $slider__control__handle-box-shadow--active;
    cursor: grabbing;
  }
}

@mixin track {
  height: $options__control-radius;
  background-color: $slider__control-bg;
  border-radius: $options__control-radius;
  box-shadow: none;
  display: flex;
  align-items: center;
}

// base
input.brz-ed-control--slider2 {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}
