@import "../../variables";

// UI Slider 2
@function encodeHex($colour) {
  @return "%23"+str-slice("#{$colour}", 2, -1);
}

@mixin thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 2px $slider__control__handle-box-shadow;
  background-color: $slider__control__handle-bg;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='7' width='7'%3E%3Cline x1='0' y1='0' x2='7' y2='0' style='stroke:#{encodeHex($blue-21)};stroke-width:1' shape-rendering='crispEdges' /%3E%3Cline x1='0' y1='50%25' x2='7' y2='50%25' style='stroke:#{encodeHex($blue-21)};stroke-width:1' shape-rendering='crispEdges' /%3E%3Cline x1='0' y1='99%25' x2='7' y2='99%25' style='stroke:#{encodeHex($blue-21)};stroke-width:1' shape-rendering='crispEdges' /%3E%3C/svg%3E");
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -7px;
  cursor: pointer;
  transition: border-color .2s ease, box-shadow .2s ease;

  &:active {
    border-color: $slider__control__handle-border--active;
    box-shadow: 0 0 5px $slider__control__handle-box-shadow--active;
    cursor: grabbing;
  }
}

@mixin track {
  height: $options__control-radius;
  background-color: $slider__control-bg;
  border-radius: $options__control-radius;
  box-shadow: none;
  display: flex;
  align-items: center;
}

// base
input.brz-ed-control--slider2 {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}
