@use "sass:string";
@import "../../variables";

// UI Slider 2
@function encodeHex($colour) {
  @return "%23" + string.slice("#{$colour}", 2, -1);
}

@mixin thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 2px $slider__control__handle-box-shadow;
  background-color: $slider__control__handle-bg;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 20 20' version='1.1'%3E%3Cdefs%3E%3Cmask id='cut-out'%3E%3Crect width='20' height='20' fill='white'/%3E%3Crect x='6' y='7' width='8' height='1' fill='black'/%3E%3Crect x='6' y='10' width='8' height='1' fill='black'/%3E%3Crect x='6' y='13' width='8' height='1' fill='black'/%3E%3C/mask%3E%3C/defs%3E%3Ccircle cx='10' cy='10' r='10' fill='white' mask='url(%23cut-out)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -7px;
  cursor: pointer;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:active {
    border-color: $slider__control__handle-border--active;
    box-shadow: 0 0 5px $slider__control__handle-box-shadow--active;
    cursor: grabbing;
  }
}

@mixin track {
  height: $options__control-radius;
  background-color: $slider__control-bg;
  border-radius: $options__control-radius;
  box-shadow: none;
  display: flex;
  align-items: center;
}

// base
input.brz-ed-control--slider2 {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;

  &::-moz-range-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}
