// Range UI Slider
// UI Slider
$slider-horizontal-width: 100%;
$slider-horizontal-height: 4px;
$slider-vertical-width: 4px;
$slider-vertical-height: 63px;
$slider-handle-size: 18px; // 18
$slider-handle-icon: 7px; // 7

// ---
.brz-ed-control__slider {
  .brz-ed-control__slider--value {
    position: relative;
    cursor: pointer;
  }
  // Vertical
  .ui-slider-vertical {
    width: $slider-vertical-width;
    height: $slider-vertical-height;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 4px;
      height: 8px;
    }
    &:before {
      bottom: -8px;
    }
    &:after {
      top: -8px;
    }
  }
  .ui-slider-horizontal {
    display: block;
    width: calc(100% - 18px);
    height: $slider-horizontal-height;
    background-color: $brand-primary;
    border-radius: 4px;
    max-width: 100%;
    padding: 0;
    top: 0;
    left: $slider-handle-size / 2;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: $slider-handle-size / 2 + $slider-horizontal-height;
      height: $slider-horizontal-height;
      border-radius: $slider-horizontal-height;
      background-color: $brand-primary;
    }
    &:before {
      left: -$slider-handle-size / 2;
    }
    &:after {
      right: -$slider-handle-size / 2;
    }
    .ui-slider-handle {
      top: 50%;
      transform: translateY(-50%);
      margin-left: -($slider-handle-size / 2);

      &:after,
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
      &:after {
        top: (($slider-handle-size - $slider-handle-icon + 1) / 2);
      }
    }
  }

  // Handle
  .ui-slider-handle {
    position: absolute;
    display: block;
    outline: 0;
    width: $slider-handle-size;
    height: $slider-handle-size;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -($slider-handle-size / 2);
    cursor: pointer;
    background: #fff;
    border-radius: 50% !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    z-index: 1;

    &:after,
    &:before {
      content: "";
      position: absolute;
      width: $slider-handle-icon;
      border-top: 1px solid $brand-primary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      height: $slider-handle-icon;
      border-bottom: 1px solid $brand-primary;
    }
  }
  .ui-widget-content,
  .ui-state-default {
    border: 0;
  }
}

// Filters Style for Slider Option
.brz-ed-option__slider--hue,
.brz-ed-option__slider--saturation,
.brz-ed-option__slider--brightness,
.brz-ed-option__slider--contrast {
  .brz-icon-svg {
    color: #fff;
  }
}
.brz-ed-option__slider--hue {
  .rc-slider-rail {
    background-image: linear-gradient(
      to left,
      #e1451d 0,
      #fdff47 17%,
      #86f9fe 50%,
      #2900f8 65%,
      #6e00f8 74%,
      #e33df9 83%,
      #e14423 100%
    );
  }
}
.brz-ed-option__slider--saturation {
  .rc-slider-rail {
    background-image: linear-gradient(to right, #40444d 30%, #0fe6a2 100%);
  }
}
.brz-ed-option__slider--brightness {
  .rc-slider-rail {
    background-image: linear-gradient(to right, #40444d 0%, #f8f9fc 100%);
  }
}
.brz-ed-option__slider--contrast {
  .rc-slider-rail {
    background-color: #454a50;
  }
}

// Make old slider look like the new one (from dev)
.brz-ed-option__slider--skin-dev {
  .brz-ed-option__text-box {
    width: 24px;
  }
}

// React Slider
.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: calc(100% - 18px);
  margin-left: $slider-handle-size / 2;
  border-radius: $slider-horizontal-height;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: relative;
  display: block;
  width: calc(100% + 18px);
  height: $slider-horizontal-height;
  background-color: $brand-primary;
  border-radius: $slider-horizontal-height;
  left: -9px;
}
.rc-slider-track {
  display: none;
}
.rc-slider-handle {
  position: absolute;
  display: inline-block;
  outline: 0;
  width: $slider-handle-size;
  height: $slider-handle-size;
  top: 50%;
  left: 50%;
  margin-top: -($slider-handle-size / 2);
  margin-left: -($slider-handle-size / 2);
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
  z-index: 1;

  &:after,
  &:before {
    content: "";
    position: absolute;
    width: $slider-handle-icon;
    border-top: 1px solid $brand-primary;
    left: 50%;
    transform: translateX(-50%);
  }
  &:before {
    top: (($slider-handle-size - $slider-handle-icon + 1) / 2);
  }
  &:after {
    height: 4px;
    border-bottom: 1px solid $brand-primary;
    top: $slider-handle-size / 2;
  }
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
  cursor: grabbing;
}
.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 5px #96dbfa;
  outline: none;
}
.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100px;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: brz-rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: brz-rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  display: none;
}
.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}
