@import "../../variables";

.brz-ed-control__typography {
  display: grid;
  grid-template-columns: 228px 195px;
  width: 100%;

  &--lg {
    grid-template-columns: 190px 44px 195px;
  }

  &--tabs-icon {
    .brz-ed-font__typography {
      padding: 0 0 10px 25px !important;
    }

    .brz-ed-control__typography--tab-icon
      .brz-ed__col.brz-ed__col-1-1
      .brz-ed-control__typography-styles_icon {
      position: relative;
      top: -11px;
    }
  }

  &--style-only {
    grid-template-columns: 210px;
  }

  &-font-transform {
    color: $white;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid $toolbar-border;

    .brz-ed-control__button.reverseTheme {
      padding: 0;

      .brz-ed-icon-svg {
        font-size: 12px;
      }
    }

    .brz-ed-control__icon-carousel {
      cursor: pointer;

      .brz-ed-icon-svg {
        font-size: 12px;
      }
    }
  }

  .brz-ed-font__typography {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: $options__item-padding;
    padding: $options__item-padding;

    .brz-ed-font__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      word-break: break-word;

      .brz-ed-font-variable-badge {
        width: 60px;
        color: $gray-5;
        background-color: $black;
        border-radius: 4px;
        font-size: 10px;
        font-family: $default-font-family;
        font-weight: 700;
        padding: 5px;
        margin-right: 10px;
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:first-child {
        padding-top: 0;
      }

      padding-left: 0;
      padding-bottom: 13px;
      background: none;
    }

    .brz-ed-font__typography-adder {
      position: relative;
      left: unset;
      bottom: unset;
    }
  }

  .brz-ed-control__typography-styles {
    padding: $options__item-padding;
    display: flex;
    flex-wrap: wrap;

    &.brz-ed-control__typography--tab-icon {
      padding: 0 15px;
    }

    &_icon {
      width: 144px;
      margin-bottom: 5px;
      color: $popover__tabs-color;
      border-bottom: 1px solid $popover__tabs-border;

      .brz-ed-control__tab__icon {
        cursor: pointer;
        transition: color 0.2s linear;
        border-bottom: 2px solid transparent;
        height: $popover__tabs-height;
        display: inline-flex;
        align-items: center;
        margin: 0 0 -1px;
        padding-top: 2px;
        width: auto;

        .brz-icon-svg {
          font-size: 16px;
          flex: 1 0 auto;
        }

        &:hover,
        &.active {
          color: $popover__tabs-color--active;
          transition: color 0.2s linear;
        }

        &.active {
          border-bottom-color: $popover__tabs-border--active;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .brz-ed-component__label {
      margin-right: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }

    .brz-ed__col:not(:first-child) {
      padding: 6px 0 0 0;
    }

    .brz-ed__col-1-1 {
      width: 100%;
    }

    .brz-ed__col-1-2 {
      &:nth-of-type(even) {
        padding-inline-end: 7px;
      }

      &:nth-of-type(odd) {
        padding-inline-start: 7px;
      }

      width: 50%;
    }

    .brz-control__select {
      flex: 1 1 auto;
      text-overflow: ellipsis;
      width: 100%;
    }

    .brz-ed-control__stepper {
      width: 100%;
    }

    .brz-ed-control__typography-variation {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $control-bg;
      height: $control-height;
      border-radius: $control-border-radius;
      color: $control-color;
      cursor: pointer;

      &-title {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        font-size: $control__arrow-size;
      }

      &-scrollbar {
        z-index: 1;
        width: 150px;
        max-height: 180px;
        min-height: 65px;
        height: fit-content;
        margin-top: 7px;
        padding: 10px;
        border-radius: $control-border-radius;
        background-color: $control-bg;
        box-shadow: 0 2px 13px $control__dropdown-box-shadow;

        .brz-ed-component__label,
        .brz-input {
          color: $white;
        }

        .brz-input {
          text-align: right;
        }

        .brz-ed-control__typography-variation-item:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &.brz-ed-sidebar-option__font-style-editor
    .brz-ed-control__typography-font-transform {
    padding: 0 15px 10px;
  }
}
