.brz-ed-box__resizer {
  position: relative;
  width: 100%;
  height: 100%;

  &--point {
    position: absolute;
    width: $resize-shortcode-width;
    height: $resize-shortcode-height;
    border-radius: round($resize-shortcode-width / 2);
    border: 2px solid #fff;
    opacity: 1;
    visibility: visible;
    background-color: $brand-primary;
    z-index: z("cloneable-bar") + 1;

    &:before {
      content: "";
      position: absolute;
      padding: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--top-left {
    cursor: nwse-resize;
    bottom: auto;
    left: $resize-point-position;
    top: $resize-point-position;
  }
  &--top-center {
    cursor: ns-resize;
    left: 50%;
    margin-left: $resize-point-position;
    top: $resize-point-position - 1;
    bottom: auto;
  }
  &--top-right {
    cursor: nesw-resize;
    bottom: auto;
    right: $resize-point-position;
    top: $resize-point-position;
  }
  &--center-left {
    cursor: col-resize;
    top: 50%;
    margin-top: $resize-point-position;
    left: $resize-point-position;
    right: auto;
  }
  &--center-right {
    cursor: col-resize;
    top: 50%;
    margin-top: $resize-point-position;
    right: $resize-point-position;
    left: auto;
  }
  &--bottom-left {
    cursor: nesw-resize;
    bottom: $resize-point-position;
    left: $resize-point-position;
    top: auto;
  }
  &--bottom-center {
    cursor: ns-resize;
    left: 50%;
    margin-left: $resize-point-position;
    bottom: $resize-point-position - 1;
    top: auto;
  }
  &--bottom-right {
    cursor: nwse-resize;
    bottom: $resize-point-position;
    right: $resize-point-position;
    top: auto;
  }
}
