@use "sass:math";
.brz-ed-box__resizer {
  position: relative;
  width: 100%;
  height: 100%;

  &--point {
    position: absolute;
    width: $resize__shortcode-width;
    height: $resize__shortcode-height;
    border-radius: round(math.div($resize__shortcode-width, 2));
    border: 2px solid #fff;
    opacity: 1;
    visibility: visible;
    background-color: $brand__primary;
    z-index: z("cloneable-bar") + 1;

    &:before {
      content: "";
      position: absolute;
      padding: 12px;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--top-left {
    cursor: nwse-resize;
    bottom: auto;
    inset-inline-start: $resize__point-position;
    top: $resize__point-position;
  }
  &--top-center {
    cursor: ns-resize;
    inset-inline-start: 50%;
    margin-inline-start: $resize__point-position;
    top: $resize__point-position - 1;
    bottom: auto;
  }
  &--top-right {
    cursor: nesw-resize;
    bottom: auto;
    inset-inline-end: $resize__point-position;
    top: $resize__point-position;
  }
  &--center-left {
    cursor: col-resize;
    top: 50%;
    margin-top: $resize__point-position;
    inset-inline-start: $resize__point-position;
    inset-inline-end: auto;
  }
  &--center-right {
    cursor: col-resize;
    top: 50%;
    margin-top: $resize__point-position;
    inset-inline-end: $resize__point-position;
    inset-inline-start: auto;
  }
  &--bottom-left {
    cursor: nesw-resize;
    bottom: $resize__point-position;
    inset-inline-start: $resize__point-position;
    top: auto;
  }
  &--bottom-center {
    cursor: ns-resize;
    inset-inline-start: 50%;
    margin-inline-start: $resize__point-position;
    bottom: $resize__point-position - 1;
    top: auto;
  }
  &--bottom-right {
    cursor: nwse-resize;
    bottom: $resize__point-position;
    inset-inline-end: $resize__point-position;
    top: auto;
  }
}
