@use "sass:math";
// Resizer between Column
$resize__width: 10px;

// ---
.brz-ed-draggable__column {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: z("column-resize");
  width: $resize__width;
  height: 100%;
  cursor: col-resize;

  &--item {
    width: 8px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-3px, -50%);
    background-color: $resize__blue-bg;
  }

  &--start {
    inset-inline-start: -(math.div($resize__width, 2));
  }

  &--end {
    inset-inline-end: -(math.div($resize__width, 2));
  }

  &--red {
    .brz-ed-draggable__column--item {
      background-color: $resize__red-bg;
    }
  }

  &-popover {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    padding: 15px 18px;
    min-width: 135px;
    height: $toolbar__item-height;
    border-radius: math.div($toolbar__item-height, 2);
    color: #fff;
    font-family: $default-font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: $toolbar-bg;
    box-shadow: 0 1px 8px 1px $toolbar-box-shadow;

    &:after {
      content: "";
      display: block;
      position: absolute;
      inset-inline-start: 50%;
      margin-inline-start: -6px;
      bottom: -6px;
      border-top: 6px solid $toolbar-bg;
      border-inline-start: 6px solid transparent;
      border-inline-end: 6px solid transparent;
    }

    &__divider {
      margin: 0 7px;
      color: #6e787f;
    }

    * {
      word-break: normal;
      overflow-wrap: normal;
    }
  }
}

// containerBorder button
.brz-ed-draggable__column ~ .brz-ed-border__button {
  z-index: z("column-resize");
}

// Hide Resize for last-child on desktop
&.brz-ed--desktop {
  .brz-columns:last-child > .brz-ed-draggable__column--end,
  .brz-columns2:last-child > .brz-ed-draggable__column--end {
    display: none;
  }
}

// Resize on tablet/mobile
&.brz-ed--tablet,
&.brz-ed--mobile {
  .brz-ed-draggable__column-popover {
    min-width: 85px;
  }

  .brz-ed-draggable__column--start {
    display: none;
  }
}
