// Draggable Overlay
.brz-ed-draggable {
  width: 100%;

  &-overlay {
    content: "";
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
  }
}
