// Padding Resiser
.brz-ed-draggable__padding {
  opacity: 0;
  background-color: rgba($brand-primary, 0.15);
  cursor: ns-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s linear;

  &--active {
    opacity: 1;
  }

  &--value {
    font-size: 14px;
    font-family: $font-family-1;
    color: #2ea9d0;
    font-weight: bold;
  }
}

// Responsive
&.brz-ed--desktop {
  .brz-ed-draggable__padding--desktop-value {
    display: block;
  }
  .brz-ed-draggable__padding--tablet-value,
  .brz-ed-draggable__padding--mobile-value {
    display: none;
  }
}
&.brz-ed--tablet {
  .brz-ed-draggable__padding--tablet-value {
    display: block;
  }
  .brz-ed-draggable__padding--desktop-value,
  .brz-ed-draggable__padding--mobile-value {
    display: none;
  }
}
&.brz-ed--mobile {
  .brz-ed-draggable__padding--desktop-value,
  .brz-ed-draggable__padding--tablet-value {
    display: none;
  }
  .brz-ed-draggable__padding--mobile-value {
    display: block;
  }
}
