<div class="brz-postinfo">
    <ul>
        <li class="brz-li">
            <svg></svg>
            {{ author }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                <g class="nc-icon-wrapper" fill="currentColor">
                    <circle cx="7" cy="7" r="5" stroke="black" stroke-width="1" fill="aqua"/>
                </g>
            </svg>
            {{ date }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                <g class="nc-icon-wrapper" fill="currentColor">
                    <circle cx="7" cy="7" r="5" stroke="black" stroke-width="1" fill="aqua"/>
                </g>
            </svg>
            {{ time }}
        </li>
        <li class="brz-li">
            <svg class="brz-icon-svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
                <g class="nc-icon-wrapper" fill="currentColor">
                    <circle cx="7" cy="7" r="5" stroke="black" stroke-width="1" fill="aqua"/>
                </g>
            </svg>
            {{ comments['approved'] }} comments
        </li>
    </ul>
</div>