{% extends "optimizer-base.html.twig" %}

{% block tab_content %}
    <form method="post" novalidate="novalidate">
        <input type="hidden" name="tab" value="settings"/>
        {{ nonce | raw }}
        <table class="form-table" style="max-width: 900px;">
            <tbody>
                <tr class="user-display-name-wrap">
                    <th>
                        <label for="display_name">{{ __( 'Enable Optimize Images','brizy' ) }}</label>
                    </th>
                    <td>
                        <input type="checkbox" name="{{ optimizer_id }}[optimize]" value="1"{% if optimize %} checked{% endif %}>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="submit">
            <button type="submit" id="submit" class="button button-primary">{{ __('Save','brizy') }}</button>
        </p>
    </form>
{% endblock %}