// Columns
.brz-columns,
.brz-columns2 {
  > .brz-ed-border__inner {
    inset-inline-start: 0;
  }

  &:first-child > .brz-ed-border__inner {
    inset-inline-start: -2px;
  }

  // Empty
  &--empty {
    min-height: 0;
  }
}

// Tablet
&.brz-ed--tablet .brz-columns &:first-child > .brz-ed-border__inner,
&.brz-ed--tablet .brz-columns2 &:first-child > .brz-ed-border__inner {
  inset-inline-start: 0;
}

// When is device mode mobile
&.brz-ed--mobile .brz-columns > .brz-ed-border__inner,
&.brz-ed--mobile .brz-columns2 > .brz-ed-border__inner {
  inset-inline-start: -2px;
}
