// Desktop

// Mobile
&.brz-ed--mobile,
&.brz-ed--tablet {
  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;
}

// Section
.brz-section {
  position: relative;
}

// Section uses for full-height
.brz-section__content {
  > .brz-ed-border,
  > .brz-ed-border > .brz-bg,
  > .brz-ed-border > .brz-bg > .brz-bg-content {
    height: 100%;
  }
  > .brz-ed-border > .brz-bg > .brz-bg-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
  }
}
