// Mobile
&.brz-ed--mobile,
&.brz-ed--tablet {
  padding-left: $mobile-paddings;
  padding-right: $mobile-paddings;

  .brz-section__header--animated,
  .brz-section__header--fixed-opened {
    left: $mobile-paddings;
    right: $mobile-paddings;
    width: calc(100% - #{$mobile-paddings * 2});
  }
}

// Section
.brz-section {
  position: relative;
}

// Section uses for full-height
.brz-section__content {
  > .brz-ed-border,
  > .brz-ed-border > .brz-bg,
  > .brz-ed-border > .brz-bg > .brz-bg-content {
    height: 100%;
  }
  > .brz-ed-border > .brz-bg > .brz-bg-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  .brz-container__wrap {
    flex: 1;
  }
}

// Section Footer
.brz-footer > .brz-ed-border > .brz-bg {
  flex-wrap: wrap;
  height: 100%;
}
