// Mobile
&.brz-ed--mobile,
&.brz-ed--tablet {
  .brz-section__header--animated,
  .brz-section__header--fixed-opened {
    inset-inline-start: $mobile-paddings;
    inset-inline-end: $mobile-paddings;
    width: calc(100% - #{$mobile-paddings * 2});
  }
}

// Section
.brz-section {
  position: relative;
}
