@import "../../variables";
@import "../../functions/functions";

// Draggable for all Section
.brz-section__content >,
.brz-footer >,
.brz-section__menu-item >,
.brz-section__header-sticky-item > {
  .brz-ed-draggable {
    position: relative;
  }
}

// Header
.brz-section__header--animated[data-brz-border="header__animated"] {
  position: fixed;
}

// ProBlocked in Header | Footer
.brz-section__header > .brz-element__pro,
.brz-footer > .brz-element__pro {
  z-index: z("section-menu") + 1;
}

// Stories
.slick-dots-is-dragging {
  list-style: none;
  width: 70px;
  height: 116px;

  > .story-slider-dot {
    width: 436px;
    height: 726px;
    transform-origin: 0 0;
    transform: scale(0.197);
    overflow: hidden;

    .brz-section__content {
      height: 100%;
    }
  }

  > .story-slider-curtain {
    position: absolute;
    top: -6px;
    inset-inline-start: -6px;
    z-index: 2;
    width: 98px;
    height: 155px;
  }
}

// Story
.brz-story {
  background-color: #222427;

  .brz-section__content > .brz-container,
  .brz-section__content > .brz-bg {
    width: 400px;
    height: 800px;
    margin: 70px auto auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    transform: translateZ(0);
    overflow: hidden;
  }
  .brz-section__content > .brz-container {
    flex: auto;
  }
  .brz-section__content > .brz-bg {
    inset-inline-end: 0;
  }

  // For Slider
  > .brz-slick-slider {
    > .brz-slick-slider__dots {
      position: relative;
      padding: 50px 0;
      display: flex;
      justify-content: center;
      bottom: 0;
      width: 80%;
      flex-wrap: wrap;

      > li {
        position: relative;
        width: 79px;
        height: 160px;
        padding: 0;
        margin: 0 12px 20px;
        cursor: pointer;

        &:not(:last-child) {
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
        }
        > .story-slider-dot {
          width: 400px;
          height: 800px;
          transform-origin: 0 0;
          transform: scale(0.197);
          overflow: hidden;

          > .brz-section__content > .brz-container,
          > .brz-section__content > .brz-bg {
            margin-top: 0;
          }
          .brz-slick-slider__arrow {
            display: none;
          }
          &--active {
            border: 3px solid #3dbfe8;
            border-radius: 2px;
          }
        }
        > .story-slider-curtain {
          position: absolute;
          top: -6px;
          inset-inline-start: -6px;
          z-index: 2;
          width: 91px;
          height: 170px;

          &:hover {
            border: 3px solid #3dbfe8;
            border-radius: 2px;
          }
        }
        > .brz-slick-slider__dots--add-new {
          box-sizing: border-box;
          border: 2px solid #383e48;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          .brz-icon-svg {
            width: 16px;
            height: 16px;
            color: #818a91;
          }
        }
      }
      > li:first-child > .story-slider-curtain {
        margin-inline-start: 0;
      }
    }
  }
}
