.bbm {
  /* Select */ }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+2) input[type="text"],
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+2) .control-select-current {
    border-radius: 0; }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+1) input[type="text"],
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+1) .control-select-current {
    border-radius: 3px 0 0 3px; }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+3) input[type="text"],
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row > div[class*="col-"]:nth-child(3n+3) .control-select-current {
    border-radius: 0 3px 3px 0; }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row .form-field-text,
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .form-row .form-field-select {
    padding-right: 1px; }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .col-submit .btn {
    border-radius: 0 3px 3px 0; }
  .bbm .shortcode-form-rounded:not(.shortcode-form-vertical) .col-submit:nth-child(3n+1) .btn {
    border-radius: 3px; }
  .bbm .shortcode-form-horizontal .col-submit:nth-child(3n+1) {
    margin-left: auto;
    margin-right: auto; }
  .bbm .form-field {
    margin-bottom: 12px; }
  .bbm .form-field-submit .btn {
    padding: 16px 10px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0; }
  .bbm input[type="text"],
  .bbm textarea {
    width: 100%;
    padding: 10px 16px;
    background: #fff;
    font-size: 16px;
    color: #888;
    border-radius: 3px;
    border: 1px solid #ccc; }
  .bbm input[type="text"] {
    height: 55px;
    line-height: 49px; }
  .bbm input::-webkit-input-placeholder {
    color: #888; }
  .bbm textarea::-webkit-input-placeholder {
    color: #888; }
  .bbm input:-moz-placeholder {
    color: #888; }
  .bbm .control-select-forms .control-select-current {
    padding: 0 35px 0 16px; }
    .bbm .control-select-forms .control-select-current .control-select-option p {
      line-height: 55px; }
  .bbm .control-select-forms .control-select-forms input[type="text"] {
    height: auto;
    line-height: 1;
    border-color: transparent;
    padding: 0;
    background-color: transparent; }
  .bbm .control-select-forms .control-select-current,
  .bbm .control-select-forms .control-select-current .control-select-option {
    height: 55px;
    line-height: 55px; }
  .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .form-row > div[class*="col-"] input[type="text"],
  .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .form-row > div[class*="col-"] .control-select-current {
    border-radius: 3px; }
  .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .form-row .form-field-text,
  .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .form-row .form-field-select {
    padding-right: 0; }
  .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .col-submit .btn {
    border-radius: 3px; }

@media (max-width: 767px) {
  .bbm {
    /* Block */ }
    .bbm .shortcode-form-rounded input[type="text"],
    .bbm .shortcode-form-rounded textarea,
    .bbm .shortcode-form-rounded .control-select-current {
      border-bottom: none; }
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:nth-child(1n) input[type="text"],
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:nth-child(1n) .control-select-current,
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:nth-child(2n+3) .control-select-current,
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:nth-child(2n+3) input[type="text"],
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"] textarea {
      border-radius: 0; }
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:first-child .control-select-current,
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:first-child input[type="text"],
    .bbm .shortcode-form.shortcode-form-rounded .form-row > div[class*="col-"]:first-child textarea {
      border-radius: 3px 3px 0 0; }
    .bbm .shortcode-form.shortcode-form-rounded .form-row .form-field-text,
    .bbm .shortcode-form.shortcode-form-rounded .form-row .form-field-select {
      padding-right: 0; }
    .bbm .shortcode-form.shortcode-form-rounded .col-submit:nth-child(3n+1) .btn {
      border-radius: 0 0 3px 3px; }
    .bbm .shortcode-form.shortcode-form-rounded .col-submit .btn {
      border-radius: 0 0 3px 3px; }
    .bbm .shortcode-form.shortcode-form-rounded .form-field:not(.form-field-submit) {
      margin-bottom: 0; }
    .bbm .shortcode-form.shortcode-form-default.shortcode-form-rounded .col-submit .btn {
      border-radius: 0 0 3px 3px; } }
