{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
