@use "sass:math";

//Default colors
$white: #ffffff;
$white-1: #f2f2f2;
$white-2: #e6e6e6;
$white-3: #ebf3fd;
$white-4: #fbfbfb;
$white-5: #f4f4f4;
$white-6: #eff0f1;
$white-7: #d4d5d7;
$white-8: #fffae3;
$white-9: #f3f3f3;
$white-10: #d5d9db;
$black: #000000;
$black-1: #03080f;
$black-2: #15191f;
$black-3: #292b2e;
$black-4: #11141d;
$black-6: #121419;
$black-7: #141923;
$black-8: #000001;
$black-9: #212733;
$black-10: rgba(3, 8, 15, 0.92);
$blue: #0000ff;
$blue-1: #0085ba;
$blue-2: #3ebfe8;
$blue-3: #006799;
$blue-4: #0092cc;
$blue-5: #0c5876;
$blue-6: #1a86f2;
$blue-7: #2eb0d8;
$blue-8: #2eb9d8;
$blue-9: #34beea;
$blue-10: #57c5f7;
$blue-11: #96dbfa;
$blue-12: #286b85;
$blue-13: #8abeff;
$blue-14: #2f97ff;
$blue-15: #96cfe4;
$blue-16: #55b0ff;
$blue-17: #0b69da;
$blue-18: #000080;
$blue-19: #30a;
$blue-20: #a2b8c9;
$blue-21: #3dbfe8;
$blue-22: #33beea;
$blue-23: #eaf1ff;
$blue-24: #8b939a;
$blue-25: #22afda;
$gray: #808080;
$gray-1: #383e48;
$gray-2: #828b92;
$gray-3: #2b3039;
$gray-4: #292e37;
$gray-5: #879294;
$gray-6: #2d323b;
$gray-7: #5e646f;
$gray-8: #44474b;
$gray-9: #7b7b7b;
$gray-10: #656b6f;
$gray-11: #474c54;
$gray-12: #383e47;
$gray-13: #3c424d;
$gray-14: #92989c;
$gray-15: #7f8994;
$gray-16: #cccccc;
$gray-17: #444952;
$gray-18: #5e6470;
$gray-19: #818a91;
$gray-20: #9da0a6;
$gray-21: #3f4652;
$gray-22: #94979b;
$gray-23: #626b70;
$gray-24: #474c55;
$gray-25: #5a5a5a;
$gray-26: #555;
$gray-27: #999;
$gray-28: #616569;
$gray-29: #5c6065;
$gray-30: #2a2e37;
$gray-31: rgba(129, 138, 145, .6);
$pink: #ed2164;
$pink-1: #fd7e7e;
$pink-2: #f88b8b;
$red: #ff0000;
$red-1: #ff0e0e;
$red-2: #d44;
$red-3: #d62c64;
$green: #48be24;
$green-1: #91a652;
$green-2: #3caa1a;
$green-3: #090;
$green-4: #292;
$green-5: #78b9a1;
$green-6: #16aa74;
$green-7: #91cb8a;
$green-8: #008000;
$green-9: #122223;
$green-10: #76a671;
$orange: #f19117;
$orange-1: #ea9e53;
$orange-2: #f50;
$violet: #be85c8;
$violet-1: #9195da;
$violet-2: #111129;
$yellow: #997;
$yellow-1: #808000;
$yellow-2: #cc7;
$yellow-3: #a59b08;
$transparent: transparent;
$shadows: var(--ui-shadows, rgba($black, 0.4));

// Body
$body-bg: var(--body-bg, $white-9);
$container-bg: var(--container-bg--default, $white);

// Gray scale and brand colors for use across Bootstrap.
$brand__primary: var(--active-color, $blue-21);
$brand__options: var(--brand__options, $gray-1);
$brand__primary__pro: var(--brand__primary__pro, $red-3);
$brand__options-border: var(--toolbars-icons-separators, rgba($white, 0.1));
$link-color: var(--active-color, $blue-21);
$link-color--hover: var(--active-color, darken($blue-21, 10%));
$required: var(--required, $red-1);

// Collor picker pointer from range (HUE, ALPHA, SATURATION)
// & Tooltip (on alpha range pointer hover)
$picker2__pointer-border: var(--picker2__pointer-border, $white);
$picker2__pointer-box-shadow: var(
  --picker2__pointer-box-shadow,
  rgba($black, 0.5)
);
$picker2__pointer_tooltip-color: var(
  --picker2__pointer_tooltip-color,
  rgba($white, 0.85)
);
$picker2__pointer_tooltip-bg: var(
  --picker2__pointer_tooltip-bg,
  $black-10
);
$picker2__pointer_tooltip-box-shadow: var(
  --picker2__pointer_tooltip-box-shadow,
  rgba($black, 0.5)
);

// Gradient Range
$gradient__range__slider__pointer-border: var(
  --gradient__range__slider__pointer-border,
  $white
);

// Select & options collors
$picker__select__option-box-shadow: var(
  --picker__select__option-box-shadow,
  rgba($black, 0.5)
);

// Bottom Color pallete & config Icon
$color_palette-border: $gray-25;
$color_palette-border--active: var(--active-color, $blue-21);
$color_palette__icon-color: var(--color_palette__icon-color, $gray-2);
$color_palette__icon-color--hover: var(--active-color, $blue-21);
$help_video__icon-color: var(--color_palette__icon-color, $white-10);

// Bottom Inputs (Hex Color, Border Size)
$picker__input-color: var(--text-labels, $gray-2);
$picker__input-color--active: var(--icons-color, $white);
$picker__input-border: var(--toolbars-icons-separators, rgba($white, 0.1));

// Border size input icon
$border__width__type__icon-color: var(
  --border__width__type__icon-color,
  $gray-2
);
$border__width__type__icon-color--active: var(--active-color, $blue-22);

// Bottom Multi Inputs (shadow TAB)
$multi_input-color: var(--multi_input-color, $gray-2);
$multi_input-color--active: var(--icons-color, $white);
$multi_input-border: var(--multi_input-border, rgba($white, 0.1));
$multi_input-border--active: var(--active-color, $blue-21);
$multi_input-border--hover: var(--multi_input-border--hover, $gray-2);

// Icon (on the left of Multi Inputs #Shadow TAB#)
$input__icon-color: var(--input__icon-color, $gray-2);

// Popover Tabs
$popover__tabs-color: var(--text-labels, $gray-2);
$popover__tabs-color--active: var(--active-color, $blue-21);
$popover__tabs-border: var(--sidebar-separators, rgba($white, 0.1));
$popover__tabs-border--active: var(--active-color, $blue-21);

// Popover Left Tabs
$popover__tabs_left-color: var(--popover__tabs_left-color, $white);
$popover__tabs_left-color--active: var(--active-color, $blue-21);
$popover__tabs_left-bg: var(--popover__tabs_left-bg, rgba($blue-24, 0.92));
$popover__tabs_left-bg--active: var(--ui-main-color, $black-10);
$popover__tabs_left-box-shadow: var(
  --popover__tabs_left-box-shadow,
  rgba($black, 0.5)
);

/// Control Colors
$control-color--active: var(--active-color, $blue-21);
$control-color: var(--text-labels, rgba($white, 0.85));
$control-bg: var(--inputs-bg, $gray-1);
$control__input-text: var(--text-labels, $white);
$control__variant-color: var(--text-labels, $white);
$control-border: var(--toolbars-icons-separators, rgba($white, 0.07));
$control_light-color: var(--control_light-color, $gray-10);
$control_light-bg: var(--control_light-bg, $white-1);
$control_light-border: var(--control_light-border, $white-2);
$control_white-color: var(--control_white-color, $gray-1);
$control_white-bg: var(--control_white-bg, $white);
$control_white-border: var(--control_white-border, rgba($gray-11, 0.07));
$control_white-box-shadow: var(--control_white-box-shadow, rgba($green-9, 0.1));
$control__popup_light-bg: var(--control__popup_light-bg, $white);
$control__popup_light-color: var(--control__popup_light-color, $gray-4);
$control__popup_light-active: var(--active-color, $blue-21);

// Editor Controls(select, input, stepper, etc...)
$control__dropdown-box-shadow: var(
  --control__dropdown-box-shadow,
  rgba($black, 0.1)
);
$control-font-size: 13px;
$control__arrow-size: 8px;
$control__fixed-multiselect-width: 114px;
$control-letter-spacing: 0.25px;
$control-border-radius: 4px;
$control-height: 30px;
$control-padding: 10px;
$control__sm-width: 62px;
$control__md-width: 114px;
$control__lg-width: 136px;

// Spacing
$space__between__controls: 8px;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// Globals Font Family For Editors
$default-font-family: "nunito", "Open Sans", Arial, sans-serif;

// Device mode
$mobile-width: 460px;
$mobile-paddings: 15px;
$tablet-width: 798px;
$desktop-paddings: 48px;

// z indexes map
// $z-indexes is used in functions/_z-index.scss
$z-indexes: (
  "sidebar-addable__drag-overlay": 1200,
  "select-portal": 1110,
  "brz-ed-fixed": 1100,
  "popup-overlay": 1080,
  "toolbar": 1070,
  "sidebar": 1064,
  "bottom-panel": 1065,
  "sidebar-addable": 1063,
  "toolbar-collapsible": 1057,
  "section-menu": 1055,
  "section-menu-opened": 1056,
  "mega-menu": 1068,
  "section-popup": 1060,
  "section-popup-opened": 1070,
  "eye-dropper": 1070,
  "forms-select": 1068,
  "toolbar-column": 1040,
  "tooltip-overlay": 1100,
  "cloneable-bar": 1030,
  "column-resize": 1055,
  "adder-block": 1057,
  "padding-resizer": 99,
  "notifications": 1120,
  "helpVideo": 1100,
  "menu-transform": 1056
);

// Sidebar
//
// Sidebar sizes
$sidebar-size: 48px;
$sidebar-font-size: 16px;
$sidebar__item-padding: 20px;
$sidebar__content-size: 280px;
$sidebar__header-font-size: 15px;

// Section
$section__padding-bg--hover: var(
  --draggable-block-padding-bgr,
  rgba($blue-21, 0.15)
);

// Sidebar colors
$sidebar-bg: var(--ui-main-color, $black-7);
$sidebar-separator-bg: var(--sidebar-separators, #424951);
$sidebar__item__separator-border: var(
  --toolbars-icons-separators,
  rgba($white, 0.1)
);
$sidebar-box-shadow: $shadows;
$sidebar__content-box-shadow: $shadows;
$sidebar__right_content-box-shadow: var(
  --sidebar__right_content-box-shadow,
  rgba($black, 0.3)
);
$sidebar__header-bg: var(--sidebar-header, $gray-12);
$sidebar__content-bg: var(--sidebar-background, $black-9);
$sidebar__content__footer-bg: var(--sidebar__content__footer-bg, $gray-12);
$sidebar-color: var(--icons-color, $white);
$sidebar__btn-bg: var(--sidebar__btn-bg, $green-1);

// Right Sidebar
$right_sidebar__icon-color: var(--icons-color, $white);
$right_sidebar__icon-color--hover: var(--active-color, $blue-21);
$right_sidebar__tooltip-color: var(--right_sidebar__tooltip-color, $white);
$right_sidebar__tooltip-bg: var(--right_sidebar__tooltip-bg, $black-10);
$right_sidebar__tooltip-box-shadow: var(
  --right_sidebar__tooltip-box-shadow,
  rgba($black-8, 0.15)
);
$right_sidebar__tooltip-border: var(--right_sidebar__tooltip-border, $gray-5);
$right_sidebar__header__tabs-color: var(--icons-color, $white);
$right_sidebar__header__tabs-bg: var(--sidebar-header, $gray-1);
$right_sidebar__header__tabs-bg--active: $sidebar__content-bg;

// Left Sidebar window styling
$left_sidebar__styling__palette-border: $gray-25;
$left_sidebar__styling__palette-border--active: var(--active-color, $blue-21);
$left_sidebar__styling__font-border: var(--borders, $gray-13);
$left_sidebar__styling__font-border--active: var(--active-color, $blue-21);
$left_sidebar__styling__font__content-color: var(--icons-color, $white);
$left_sidebar__styling__font__icon-color: var(
  --left_sidebar__styling__font__icon-color,
  $black-2
);
$left_sidebar__styling__font__icon-bg: var(
  --left_sidebar__styling__font__icon-bg,
  $white
);
$left_sidebar__styling__add-color: var(--text-labels, $gray-2);
$left_sidebar__styling__add-color--hover: var(--active-color, $blue-21);

// Left Sidebar colors
$left_sidebar__elements-color: var(--icons-color, $white);
$left_sidebar__elements-bg: var(--sidebar-background, $black-9);
$left_sidebar__elements-color--active: var(--active-color, $blue-21);
$left_sidebar__elements-border: var(--borders, $gray-13);
$left_sidebar__elements__content-color: var(--text-labels, rgba($white, 0.6));
$left_sidebar__elements__tooltips-bg: var(
  --left_sidebar__elements__tooltips-bg,
  $black-10
);
$left_sidebar__elements__tooltips-color: var(
  --left_sidebar__elements__tooltips-color,
  $white
);
$left_sidebar__elements__tooltips-box-shadow: var(
  --left_sidebar__elements__tooltips-box-shadow,
  rgba($black-8, 0.15)
);
$left_sidebar__elements__tooltips__arrow-border: var(
  --left_sidebar__elements__tooltips__arrow-border,
  $transparent
);
$left_sidebar__elements__tooltips__arrow-border-top-color: var(
  --left_sidebar__elements__tooltips__arrow-border-top-color,
  $black-10
);
$left_sidebar__main__search-border-bottom-color: var(
  --sidebar-separators,
  rgba($white, 0.1)
);
$left_sidebar__main__search-color: var(--input-placeholder-text, $gray-19);
$left_sidebar__main__search-text-color: var(--text-labels, $white);
$left_sidebar__main__search__placeholder-color: var(
  --input-placeholder-text,
  $gray-19
);
$left_sidebar__main__separator__title-color: unquote(
  "rgb(from var(--text-labels, #818a91) r g b)"
);
$left_sidebar__main__separator__arrow-color: unquote(
  "rgb(from var(--text-labels, #818a91) r g b)"
);
$left_sidebar__main__separator__line-bg: var(
  --sidebar-separators,
  rgba($white, 0.1)
);
$blocks_sidebar__main__separator__title-color: var(
  --text-labels,
  rgba(255, 255, 255, 0.9)
);
$blocks_sidebar__main__separator__line-bg: var(--sidebar-separators, $gray-17);
$blocks_sidebar__elements-color--active: var(--active-color, $white);

// Sidebar icon
$icon-color: var(--icons-color, $white);
$sidebar__edit__checked__icon-color: var(--active-color, $blue-25);
$sidebar__edit__checked__icon-bg: var(
  --sidebar__edit__checked__icon-bg,
  $blue-1
);
$sidebar__edit__unchecked-bg: var(--sidebar-separators, $black);
$sidebar__edit__unchecked-border: var(
  --sidebar__edit__unchecked-border,
  rgba($gray-19, 0.6)
);

// Right Sidebar
$sidebar__content-color: var(--sidebar__content-color, $gray-15);
$sidebar__icon-color: var(--sidebar__icon-color, $gray-19);

// Sidebar Popover
$sidebar__popover-bg: var(--ui-main-color, $black-7);
$sidebar__popover-box-shadow: var(
  --sidebar__popover-box-shadow,
  rgba($black, 0.5)
);
$sidebar__popover__item-color: var(--icons-color, $white);
$sidebar__popover__item-color--hover: var(--active-color, $blue-21);
$sidebar__popover__item-border-bottom-color: var(
  --toolbars-icons-separators,
  rgba($white, 0.1)
);
$sidebar__popover__arrow-border: var(--ui-main-color, $black-7);

// Sidebar Reorder Blocks
$sidebar__block-bg: var(--sidebar__block-bg, rgba($white, 0.7));
$sidebar__block-border: var(--toolbars-icons-separators, $gray-24);
$sidebar__block-border--hover: var(--active-color, $blue-12);
$sidebar__block__drag-color: var(--text-labels, $white);
$sidebar__block__drag-bg: var(--ui-main-color, rgba($violet-2, 0.85));
$sidebar__block__icon-color: var(--active-color, $blue-9);

//ScrollBar Apps & Sidebar
$scrollbar__sidebar-color: var(--toolbars-icons-separators, $gray-21);
$scrollbar__popup__apps-color: var(
  --toolbars-icons-separators,
  rgba($black, 0.2)
);

// Notifications
//
// Color
$notification_bg: var(--notification_bg, $white);
$notification_success: var(--notification_success, $green-2);
$notification_info: var(--notification_info, $blue-6);
$notification_warn: var(--notification_warn, $orange);
$notification_error: var(--notification_error, $red);

// Toolbar
//
// Colors
$toolbar-bg: var(--ui-main-color, $black-10);
$toolbar-border: var(--toolbars-icons-separators, rgba($white, 0.15));
$toolbar-box-shadow: $shadows;
$toolbar__item-color: var(--icons-color, $white);
$toolbar__item-color--hover: var(--active-color, $blue-21);
$toolbar__badge-color: var(--ui-main-color, $white);
$selection-color: var(--ui-main-color, $white);
$toolbar__badge-bg: var(--active-color, $blue-21);
$toolbar__popover_tooltip-color: var(
  --toolbar__popover_tooltip-color,
  $blue-21
);

//Toolbar Code Mirror
$toolbar__code_mirror-color: var(--toolbar__code_mirror-color, $gray);
$toolbar__code_mirror-bg: var(--inputs-bg, $black-3);
$toolbar__code_mirror-placeholder-text-color: var(
  --input-placeholder-text,
  $gray-16
);
$toolbar__code_mirror__cursor-color: var(
  --toolbar__code_mirror__cursor-color,
  $gray
);

//Toolbar code mirror DEFAULT THEME
$toolbar__code_mirror__header-color: var(
  --toolbar__code_mirror__header-color,
  $blue
);
$toolbar__code_mirror__quote-color: var(
  --toolbar__code_mirror__quote-color,
  $green-3
);
$toolbar__code_mirror__negative-color: var(
  --toolbar__code_mirror__negative-color,
  $red-2
);
$toolbar__code_mirror__positive-color: var(
  --toolbar__code_mirror__positive-color,
  $green-4
);
$toolbar__code_mirror__keyword-color: var(
  --toolbar__code_mirror__keyword-color,
  $violet
);
$toolbar__code_mirror__atom-color: var(
  --toolbar__code_mirror__atom-color,
  $violet-1
);
$toolbar__code_mirror__number-color: var(
  --toolbar__code_mirror__number-color,
  $green-5
);
$toolbar__code_mirror__def-color: var(
  --toolbar__code_mirror__def-color,
  $blue-13
);
$toolbar__code_mirror__variable: var(
  --toolbar__code_mirror__variable,
  $yellow-3
);
$toolbar__code_mirror__variable__2-color: var(
  --toolbar__code_mirror__variable__2-color,
  $blue-14
);
$toolbar__code_mirror__variable__3-color: var(
  --toolbar__code_mirror__variable__3-color,
  $green-6
);
$toolbar__code_mirror__comment-color: var(
  --toolbar__code_mirror__comment-color,
  $orange-1
);
$toolbar__code_mirror__string-color: var(
  --toolbar__code_mirror__string-color,
  $pink-1
);
$toolbar__code_mirror__string__2-color: var(
  --toolbar__code_mirror__string__2-color,
  $orange-2
);
$toolbar__code_mirror__meta-color: var(
  --toolbar__code_mirror__meta-color,
  $gray-26
);
$toolbar__code_mirror__qualifier-color: var(
  --toolbar__code_mirror__qualifier-color,
  $green-10
);
$toolbar__code_mirror__builtin-color: var(
  --toolbar__code_mirror__builtin-color,
  $blue-15
);
$toolbar__code_mirror__bracket-color: var(
  --toolbar__code_mirror__bracket-color,
  $yellow
);
$toolbar__code_mirror__tag-color: var(
  --toolbar__code_mirror__tag-color,
  $green-10
);
$toolbar__code_mirror__attribute-color: var(
  --toolbar__code_mirror__attribute-color,
  $blue-16
);
$toolbar__code_mirror__hr-color: var(
  --toolbar__code_mirror__hr-color,
  $gray-27
);
$toolbar__code_mirror__link-color: var(
  --toolbar__code_mirror__link-color,
  $blue-16
);
$toolbar__code_mirror__error-color: var(
  --toolbar__code_mirror__error-color,
  $pink-2
);
$toolbar__code_mirror__invalidchar-color: var(
  --toolbar__code_mirror__invalidchar-color,
  $red
);
$toolbar__code_mirror__sizer-border-right-color: var(
  --toolbar__code_mirror__sizer-border-right-color,
  $transparent
);
$toolbar__code_mirror__selected-bg: var(
  --toolbar__code_mirror__selected-bg,
  $blue-17
);

// Sizes for toolbar's item
$toolbar__item-padding: 13px;
$toolbar-font-size: 16px;
$toolbar__arrow-size: 6px;
$toolbar__item-height: ($toolbar__item-padding * 2) + $toolbar-font-size;
$toolbar-border-radius: 8px;

// Static Toolabr
$toolbar__static-font-size: 12px;

// Bottom Toolbar Popover colors
$bottom_panel__popover__item-color: var(--icons-color, $white);
$bottom_panel__popover__item-color--hover: var(--active-color, $blue-21);
$bottom_panel__popover-border: var(
  --toolbars-icons-separators,
  rgba($white, 0.1)
);

// Right Toolbar
$right_toolbar__display__condition__icon-color: var(
  --ui-main-color,
  $black-1
);
$right_toolbar__display__condition__icon-bg: var(--active-color, $blue-21);
$right_toolbar__display__condition__icon-bg--hover: var(--text-labels, $white);
$right_toolbar__display__condition-color: var(--active-color, $blue-21);
$right_toolbar__display__condition-color--hover: var(--text-labels, $white);

// Right toolbar loader
$right_toolbar__make_global__loader-color: var(
  --right_toolbar__make_global__loader-color,
  rgba($white, 0.75)
);
$right_toolbar__make_global__loader-bg: var(
  --right_toolbar__make_global__loader-bg,
  rgba($black-1, 0.75)
);

// Toolbar Fonts Colors
$toolbar__fonts-color: var(--icons-color, $white);
$toolbar__fonts-color--active: var(--active-color, $blue-2);
$toolbar__fonts__add-color: var(--text-labels, $gray-19);
$toolbar__fonts__separator-bg: var(
  --toolbar__fonts__separator-bg,
  rgba($white, 0.3)
);

// Popover
//
// Sizes
$toolbar_tooltip__sm-width: 171px !default;
$toolbar_tooltip__md-width: 260px !default;
$toolbar_tooltip__lg-width: 305px !default;
$toolbar_tooltip__typo-width: 460px;
$toolbar_tooltip__typo-width-no-population: 425px;

// Bottom Toolbar Color
$bottom_toolbar-color: var(--icons-color, $white);
$bottom_toolbar-color--active: var(--active-color, $blue-21);
$bottom_toolbar-bg: var(--ui-main-color, $black-10);
$bottom_toolbar-border: var(--toolbars-icons-separators, rgba($white, 0.15));
$bottom_toolbar-box-shadow: $shadows;
$bottom_toolbar__btn-border: unquote(
  "rgb(from var(--icons-color, #006799) r g b / 0.3)"
);
$bottom_toolbar__btn__disabled-border: unquote(
  "rgb(from var(--icons-color, #006799) r g b / 0.15)"
);
$bottom_toolbar__disable-color: unquote(
  "rgb(from var(--icons-color, #ffffff) r g b / 0.5)"
);
$bottom_toolbar__btn-color: var(--icons-color, $white);
$bottom_toolbar__btn-color--hover: var(--ui-main-color, $white);
$bottom_toolbar__btn-bg: var(--active-color, $blue-1);
$bottom_toolbar__btn-bg--hover: var(--active-color, $blue-4);
$bottom_toolbar__btn__disable-bg: unquote(
  "rgb(from var(--active-color, #3dbfe8) r g b / 0.35)"
);
$bottom_toolbar__btn__disable-color: unquote(
  "rgb(from var(--icons-color, #ffffff) r g b / 0.35)"
);
$bottom_toolbar__tooltip-color: var(--ui-main-color, $gray-3);
$bottom_toolbar__tooltip-color--hover: var(--ui-main-color, $black-1);
$bottom_toolbar__tooltip-bg--hover: var(
  --bottom_toolbar__tooltip-bg--hover,
  $gray-3
);
$bottom_toolbar__tooltip__disable-bg: var(--active-color, $blue-1);
$bottom_toolbar__tooltip__disable-color: var(
  --bottom_toolbar__tooltip__disable-color,
  $white
);
/// Bottom toolbar "Preview" button use $link-color--hover variable

// $popover-item-width: 46px !default;
$popover__item-height: 50px !default;
$popover__item-padding: 17px;

// Popover Tabs
$popover__tabs-height: 34px; // 35
$popover__tabs-font-size: 13px; // 12

// Popover Form
$popover__form__input-font-size: 13px; // 14
$popover__form__icon-size: 15px; // 16

// Popover Focal Point
$focal_point-bg: var(--focal_point-bg, $blue-7);
$focal_point-border: var(--borders, $gray-17);
$focal_point-border--hover: var(--active-color, $gray-18);
$focal_point__before-bg: var(--focal_point__before-bg, rgba($black, 0.3));
$focal_point__upload-bg: var(--inputs-bg, $gray-6);
$focal_point__upload-color: var(--input-placeholder-text, rgba($gray-7, 0.6));
$focal_point__upload-color--hover: var(--active-color, $gray-7);
$focal_point__delete-color: var(--sidebar-separators, $white);
$focal_point__delete-bg: var(--icons-color, $gray-6);
$focal_point-size: 18px;
$focal_point-width: 140px;
$focal_point-height: 93px;
$focal_point__upload-font-size: 24px;
$focal_point__delete-font-size: 16px;
$focal_point__img-size: $focal_point-width;

// Spinner Loading Content
//
// Styles
$content__loading-border: var(--content__loading-border, $blue-8);
$content__loading-border-top: var(
  --content__loading-border-top,
  rgba($black-1, 0.9)
);
$content__loading-size: 20px;
$content__loading-border-width: 4px;

// Floating Button
// Styles
$floating__button__grey-bg: var(--floating__button__grey-bg, $gray-5);
$floating__button__blue-bg: var(--floating__button__blue-bg, $blue-1);
$floating__button__red-bg: var(--floating__button__red-bg, $pink);
$floating__button__tail-bg: var(--active-color, $blue-21);
$floating__button__second__tail-bg: unquote(
  "rgb(from var(--active-color, #3dbfe8) r g b / 0.8)"
);

// Integrations Stages
// Styles
$integrations__stages__item: unquote(
  "rgb(from var(--active-color, #22b0da) r g b / 0.25)"
);

// Borders
//
// Colors
$by__block__border__grey: var(--row-and-default-elements-border, $gray-5);
$by__block__border__blue: var(--column-lvl1-border, $blue-21);
$by__block__border__red: var(--column-lvl2-border, $pink);

// Options
//
// Handle Icon Settings
$options__handle-size: 42px;
$options__handle-size-small: 32px;
$options__handle-font-size: 14px;
$options__handle-font-size-small: 12px;

// Options Item
$options__label-color: var(--text-labels, $gray-2);
$options__item-color--hover: var(--active-color, $gray-19);
$options__item-height: 52px;
$options__item-padding: 15px;
$options__item-font-size: 13px;
$options__control-radius: 4px;

// Popover Options Background
// Controls: Select, Stepper
$options__control-bg: var(--inputs-bg, $gray-1);
$options__control__placeholder-color: var(
  --text-labels,
  rgba(255, 255, 255, 0.4)
);
$options__control-color: var(--icons-color, $white);

// Resize
$resize__blue-bg: var(--column-lvl1-border, $blue-21);
$resize__red-bg: var(--column-lvl2-border, $pink);
$resize__shortcode-width: 11px;
$resize__shortcode-height: $resize__shortcode-width;
$resize__point-position: ceil(math.div(-$resize__shortcode-width, 2));

// Adder container for add blocks
$block__adder__desc-color: var(--block__adder__desc-color, $gray-20);
$block__adder__title-color: var(--block__adder__title-color, $gray-4);
$block__adder__container-border: var(--active-color, $blue-21);
$block__adder__container-bg: var(--block__adder__container-bg, $white);
$block__adder__container-width: 710px;
$block__adder__container__sm-width: 430px;
$block__adder__container-height: 130px;
$block__adder__container-border-radius: 4px;
$block__adder-font-size: 15px;

// Adder icon
$block__adder__icon-bg: var(--active-color, $blue-21);
$block__adder__icon-bg--hover: var(--block__adder__icon-bg--hover, $black-1);
$block__adder__icon__before-bg: var(--block__adder__icon__before-bg, $white);
$block__adder__icon-size: 54px;

// File upload option
$file__upload-bg: var(--inputs-bg, $gray-6);
$file__upload-border: var(--borders, $gray-17);
$file__upload-border--hover: var(--active-color, $gray-18);
$file__upload__icon-color: var(--input-placeholder-text, rgba($gray-7, 0.6));
$file__upload__icon-color--hover: var(--active-color, $gray-7);
$file__upload__file__name-color: var(--text-labels, $white);
$file__upload__file__name__icon-color: var(--icons-color, $black-4);

// Checkbox
$multiSelect2__option-checkbox: var(--sidebar-separators, #5b6068);

// Icon Setter
$icon_setter__box-bg: var(--inputs-bg);
$icon_setter__box-border: var(--borders);

// Sidebar
$sidebar__cloud-icon--connect-background: var(--sidebar-background, $gray-30);

// Switch
$switch-bg: var(--inputs-bg, $gray-1);
$switch-box-shadow: var(--switch-box-shadow, rgba($black, 0.38));
$switch__icon-color: var(--text-labels, rgba($black-6, 0.7));
$switch__check__icon-color--sidebar: var(--sidebar-background, rgba($black-6, 0.7));
$switch__check__icon-color--tooltip: var(--ui-main-color, rgba($black-6, 0.7));
$switch__handle-bg: var(--switch__handle-bg, $white);
$switch__handle-box-shadow: var(
  --switch__handle-box-shadow,
  rgba($white, 0.35)
);
$switch__handle__line-color: var(--active-color, $blue-9);
$switch__checked-bg: var(--active-color, $blue-21);

// Thumbnail from Block on the image
$thumbnail__block__item-border--active: var(--active-color, $blue-21);
$thumbnail__block__item__after-border: var(
  --thumbnail__block__item__after-border,
  $transparent
);
$thumbnail__block__item__anchor-color: var(
  --thumbnail__block__item__anchor-color,
  $white
);
$thumbnail__block__item__anchor-bg: var(
  --thumbnail__block__item__anchor-bg,
  $blue-21
);
$thumbnail__block__item__anchor__icon-color--hover: var(
  --thumbnail__block__item__anchor__icon-color--hover,
  $black-1
);
$thumbnail__block__loader-bg: var(
  --thumbnail__block__loader-bg,
  rgba($gray-7, 0.6)
);

// Input
$input-bg: var(--inputs-bg, $gray-1);
$input-color: var(--text-labels, $white);
$input__bottom-control-categories-element-placeholder: var(--input-placeholder-text, #788189);
$input__placeholder-color: var(--input-placeholder-text, rgba($blue-23, 0.2));

// Extract Popover tooltip colors
$tooltip__pro-content__text-color: var(--text-labels, rgba($white, 0.8));
$popover_tooltips__icon-color: var(
  --popover_tooltips__icon-color,
  rgba($gray-2, 0.35)
);
$popover_tooltips__icon-color--hover: var(
  --popover_tooltips__icon-color--hover,
  rgba($gray-2, 0.6)
);
$popover_tooltips__helper__overlay-bg: var(
  --popover_tooltips__helper__overlay-bg,
  $transparent
);
$popover_tooltips__helper__overlay-box-shadow: $shadows;
$popover_tooltips__helper__content-color: var(
  --popover_tooltips__helper__content-color,
  $white
);
$popover_tooltips__helper__content-bg: var(
  --popover_tooltips__helper__content-bg,
  $black-10
);

//Slider control
$slider__control-bg: var(--active-color, $blue-21);
$slider__control__handle-bg: var(--text-labels, $blue-21);
$slider__control__handle-box-shadow: var(
  --slider__control__handle-box-shadow,
  rgba($black, 0.45)
);
$slider__control__handle-box-shadow--active: var(
  --slider__control__handle-box-shadow--active,
  $blue-10
);
$slider__control__handle-box-shadow--focus: var(
  --slider__control__handle-box-shadow--focus,
  $blue-11
);
$slider__control__handle-border--active: var(
  --slider__control__handle-border--active,
  $blue-10
);
$slider__control__handle__line-color: var(
  --slider__control__handle__line-color,
  $blue-21
);

// Blocks
//
// Popup select
$popup__select-bg: var(--popup__select-bg, $white);
$popup__select-bg--hover: var(--popup__select-bg--hover, $white-4);
$popup__select-border: var(--popup__select-border, $white-5);
$popup__select-box-shadow: var(--popup__select-box-shadow, rgba($black, 0.2));
$popup__select__options-box-shadow: var(
  --popup__select__options-box-shadow,
  rgba($black, 0.2)
);
$popup__select-font-size: 14px;
$popup__select-height: 40px;
$popup__select-width: 300px;
$popup__select-border-radius: 4px;

// Popup Integrations Header
$popup__header__tabs-bg: var(--sidebar-background, $gray-4);
$popup__block__title-color: var(--ui-main-color, $black-10);
$popup__block__action-color: var(--ui-main-color, #2c3039);
$popup__block__dropdown-item-color: var(--ui-main-color, $black);
$popup__block__dropdown-placeholder-color: unquote("rgb(from var(--ui-main-color, #000) r g b / 0.83)");
$popup__header__tabs__item-bg: unquote(
  "rgb(from var(--sidebar-header, #292e37) r g b / 0.5)"
);
$popup__header__tabs__item-bg--hover: var(--sidebar-header, $black-1);
$popup__header__tabs__btn-color: var(
  --popup__header__tabs__btn__close-color,
  $gray-22
);
$popup__header__tabs__btn-color--hover: var(
  --icons-color,
  $white
);
$popup__header__tabs__item-color: unquote(
  "rgb(from var(--text-labels, #ffffff) r g b / 0.5)"
);
$popup__header__tabs__item-color--hover: var(--text-labels, $white);
$popup__header__tabs__item__content-heading: var(
  --popup__header__tabs__item__content-heading,
  $black-9
);
$popup__header__tabs__item-border-right-color: unquote(
  "rgb(from var(--sidebar-separators, #000000) r g b / 0.7)"
);
$popup__header__tabs__item__before-border-right-color: unquote(
  "rgb(from var(--sidebar-separators, #ffffff) r g b / 0.05)"
);
$popup__header__tabs__item-border-left-color: unquote(
  "rgb(from var(--sidebar-separators, #000000) r g b / 0.7)"
);
$popup__header__tabs__item__after-border-left-color: unquote(
  "rgb(from var(--sidebar-separators, #ffffff) r g b / 0.05)"
);

// Modal Popup Integration Apps
$popup__apps__item-bg: var(--popup__apps__item-bg, $white);
$popup__apps__item-border--hover: var(--active-color, $blue-21);
$popup__apps__item__after-border: var(
  --popup__apps__item__after-border,
  $transparent
);
$popup__apps__item-color: var(--popup__apps__item-color, $gray-23);
$popup__apps__loading-color: var(--popup__apps__loading-color, $white);
$popup__apps__loading-bg: var(--active-color, $blue-21);

// Popup loading
$form__email__popup__loading-color: var(
  --form__email__popup__loading-color,
  $white
);
$form__email__popup__loading-bg: var(
  --form__email__popup__loading-bg,
  rgba($black, 0.5)
);

// Popup Blocks Layouts
$block_layout__btn-color: var(--block_layout__btn-color, $gray-22);
$block_layout__btn-color-hover: var(--block_layout__btn-color-hover, $gray-30);

// Popup Fonts
$popup__fonts__content-bg: var(--popup__fonts__content-bg, $white-6);
$popup__fonts__item-bg: var(--popup__fonts__item-bg, $white);
$popup__fonts__item-border--hover: var(--active-color, $blue-21);
$popup__fonts__item__title-color: var(
  --popup__fonts__item__title-color,
  $gray-23
);
$popup__fonts__item-color: var(--popup__fonts__item-color, $black-1);
$popup__fonts__item__selected-border: var(
  --popup__fonts__item__selected-border,
  $green
);
$popup__fonts__item__selected__icon-bg: var(
  --popup__fonts__item__selected__icon-bg,
  $green
);
$popup__fonts__icon__delete-bg: var(--popup__fonts__icon__delete-bg, $white);
$popup__fonts__icon__delete-color: var(
  --popup__fonts__icon__delete-color,
  $black-1
);
$popup__fonts__icon__delete-color--hover: var(
  --popup__fonts__icon__delete-color--hover,
  $pink
);

// Modal Integration Email template
$modal_email__template-border-top-color: var(
  --modal_email__template-border-top-color,
  rgba($black, 0.1)
);
$modal_email__template__code_mirror-bg: var(
  --modal_email__template__code_mirror-bg,
  $white
);
$modal_email__template__code_mirror-color: var(
  --modal_email__template__code_mirror-color,
  $black
);
$modal_email__template__code_mirror__meta: var(
  --modal_email__template__code_mirror__meta,
  $yellow-1
);
$modal_email__template__code_mirror__number: var(
  --modal_email__template__code_mirror__number,
  $blue
);
$modal_email__template__code_mirror__keyword: var(
  --modal_email__template__code_mirror__keyword,
  $blue-18
);
$modal_email__template__code_mirror__atom: var(
  --modal_email__template__code_mirror__atom,
  $blue-18
);
$modal_email__template__code_mirror__def: var(
  --modal_email__template__code_mirror__def,
  $black
);
$modal_email__template__code_mirror__variable: var(
  --modal_email__template__code_mirror__variable,
  $black
);
$modal_email__template__code_mirror__property: var(
  --modal_email__template__code_mirror__property,
  $black
);
$modal_email__template__code_mirror__operator: var(
  --modal_email__template__code_mirror__operator,
  $black
);
$modal_email__template__code_mirror__comment: var(
  --modal_email__template__code_mirror__comment,
  $gray
);
$modal_email__template__code_mirror__string: var(
  --modal_email__template__code_mirror__string,
  $green-8
);
$modal_email__template__code_mirror__qualifier: var(
  --modal_email__template__code_mirror__qualifier,
  $gray-26
);
$modal_email__template__code_mirror__error: var(
  --modal_email__template__code_mirror__error,
  $red
);
$modal_email__template__code_mirror__attribute: var(
  --modal_email__template__code_mirror__attribute,
  $blue
);
$modal_email__template__code_mirror__tag: var(
  --modal_email__template__code_mirror__tag,
  $blue-18
);
$modal_email__template__code_mirror__link: var(
  --modal_email__template__code_mirror__link,
  $blue
);
$modal_email__template__code_mirror__activeline-bg: var(
  --modal_email__template__code_mirror__activeline-bg,
  $white-8
);
$modal_email__template__code_mirror__builtin: var(
  --modal_email__template__code_mirror__builtin,
  $blue-19
);
$modal_email__template__code_mirror__bracket: var(
  --modal_email__template__code_mirror__bracket,
  $yellow-2
);
$modal_email__template__code_mirror__matchingbracket-outline: var(
  --modal_email__template__code_mirror__matchingbracket-outline,
  $gray
);
$modal_email__template__code_mirror__matchingbracket-color: var(
  --modal_email__template__code_mirror__matchingbracket-color,
  $black
);
$modal_email__template__code_mirror__cursor: var(
  --modal_email__template__code_mirror__cursor,
  $black
);
$modal_email__template__code_mirror__hints-color: var(
  --modal_email__template__code_mirror__hints-color,
  $gray-28
);
$modal_email__template__code_mirror__hints-bg: var(
  --modal_email__template__code_mirror__hints-bg,
  $white-3
);
$modal_email__template__code_mirror__hints--active: var(
  --modal_email__template__code_mirror__hints--active,
  $gray-29
);
$modal_email__template__code_mirror__hints-bg--active: var(
  --modal_email__template__code_mirror__hints-bg--active,
  $blue-20
);
$modal_email__template__integration-color: var(
  --modal_email__template__integration-color,
  $gray-23
);
$modal_email__template__integration__icon-color: var(
  --modal_email__template__integration__icon-color,
  $gray-14
);
$modal_email__template__integration__helper-color: var(
  --modal_email__template__integration__helper-color,
  $green-7
);
$modal_email__template__integration__helper__copy-color: var(
  --modal_email__template__integration__helper__copy-color,
  rgba($white, 0.6)
);

//#region Addable variables
$addable-border-color: var(--addable-border-color, $gray-1);
$addable__sidebar__group--border-color--active: var(
  --addable__sidebar__group--border-color--active,
  $blue-21
);
$addable__sidebar__add_button__text-color: var(
  --addable__sidebar__add_button__text-color,
  $gray-19
);
$addable__sidebar__add_button--active: var(
  --addable__sidebar__add_button--active,
  $blue-21
);
//#endregion

//#region Textarea
$textarea-placeholder-color: var(--input-placeholder-text, $white);
//#endregion
