@use "sass:math";

// #region Toolbar Fonts Colors
$toolbar-fonts--color: #fff;
$toolbar-fonts--active--color: #3ebfe8;
$toolbar-fonts-add--color: #818a91;
$toolbar-fonts-separator--bg: rgba(255, 255, 255, 0.3);
$toolbar-fonts-scrollbar--bg: rgba(#44474b, 0.5);
// #region Toolbar Popover Color Picker & Color Pallete

// Collor picker pointer from range (HUE, ALPHA, SATURATION)
// & Tooltip (on alpha range pointer hover)
$color-picker2-pointer--border: #fff;
$color-picker2-pointer--box-shadow: rgba(0, 0, 0, 0.5);
$color-picker2-pointer-tooltip--color: rgba(255, 255, 255, 0.85);
$color-picker2-pointer-tooltip--bg: rgba(3, 8, 15, 0.92);
$color-picker2-pointer-tooltip--box-shadow: rgba(0, 0, 0, 0.5);

// Gradient Range
$color-gradient-range-slider-pointer--border: #fff;

// Select & options collors
$color-picker-select--bg: #383e48;
$color-picker-select--color: #fff;
$color-picker-select-option--color: rgba(255, 255, 255, 0.85);
$color-picker-select-option--border: rgba(255, 255, 255, 0.07);
$color-picker-select-option--box-shadow: rgba(0, 0, 0, 0.5);
$color-picker-select-option--active--color: #3dbfe8;

// Bottom Color pallete & config Icon
$color-palette--border: #3a3d43;
$color-palette--active--border: #fff;
$color-palette-icon--color: #828b92;
$color-palette-icon--hover--color: #3dbfe8;

// Bottom Inputs (Hex Color, Border Size)
$color-picker-input--color: #828b92;
$color-picker-input--border: rgba(255, 255, 255, 0.1);
$color-picker-input--active--color: #fff;

// Border size input icon
$color-border-width-type-icon--color: #828b92;
$color-border-width-type-icon--active--color: #33beea;

// Bottom Multi Inputs (shadow TAB)
$color-multi-input--color: #828b92;
$color-multi-input--border: rgba(255, 255, 255, 0.1);
$color-multi-input--active--color: #fff;
$color-multi-input--active--border: #3dbfe8;
$color-multi-input--hover--border: #828b92;
// Icon (on the left of Multi Inputs #Shadow TAB#)
$input-icon--color: #828b92;
// #endregion

// #region Popover Tabs
$popover-tabs--color: #828b92;
$popover-tabs--border: rgba(255, 255, 255, 0.1);
$popover-tabs--active--color: #3dbfe8;
$popover-tabs--active--border: #3dbfe8;

// Popover Left Tabs
$popover-tabs--left--bg: rgba(139, 147, 154, 0.92);
$popover-tabs--left--color: #fff;
$popover-tabs--left--box-shadow: rgba(0, 0, 0, 0.5);
$popover-tabs--left--active--bg: rgba(3, 8, 15, 0.92);
$popover-tabs--left--active--color: #3dbfe8;
//#endregion

// #region Bottom Toolbar Color
$bottom-toolbar--bg: rgba(#03080f, 0.92);
$bottom-toolbar--border: rgba(#fff, 0.15);
$bottom-toolbar--box-shadow: rgba(#000, 0.5);
$bottom-toolbar--color: #fff;
$bottom-toolbar--disable--color: #828b92;
$bottom-toolbar--active--color: #3dbfe8;

$bottom-toolbar-btn--border: #006799;
$bottom-toolbar-btn--bg: #0085ba;
$bottom-toolbar-btn--color: #fff;
$bottom-toolbar-btn--hover--bg: #0092cc;
$bottom-toolbar-btn--hover--color: #fff;
$bottom-toolbar-btn--disable--bg: #0c5876;
$bottom-toolbar-btn--disable--color: rgba(255, 255, 255, 0.35);

$bottom-toolbar-tooltip--color: #2b3039;
$bottom-toolbar-tooltip--hover--bg: #2b3039;
$bottom-toolbar-tooltip--hover--color: #03080f;
$bottom-toolbar-tooltip--disable--bg: #0085ba;
$bottom-toolbar-tooltip--disable--color: #fff;
/// Bottom toolbar "Preview" button use $link-hover-color variable
//#endregion

// Spacing
$space-between-controls: 15px;

$brand-primary: #3dbfe8;

// Spacing
$space-between-controls: 15px; // #region Toolbar Fonts Colors
$brand-options: #383e48;
$brand-primary-pro: #d62c64;
$brand-options-border: rgba(255, 255, 255, 0.1);
$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 10%);
$required: #ff0e0e;
$green: #48be24;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// Globals Font Family For Editors
$font-family-1: "nunito", "Open Sans", Arial, sans-serif;
$font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

// Device mode
$mobile-width: 460px;
$mobile-paddings: 15px;
$tablet-width: 798px;
$desktop-paddings: 48px;

// z indexes map
// $z-indexes is used in functions/_z-index.scss
$z-indexes: (
  "select-portal": 1110,
  "brz-ed-fixed": 1100,
  "popup-overlay": 1080,
  "toolbar": 1070,
  "sidebar": 1060,
  "toolbar-collapsible": 1050,
  "section-menu": 1055,
  "section-menu-opened": 1056,
  "mega-menu": 1065,
  "mega-menu-preview": 1071,
  "section-popup": 1060,
  "section-popup-opened": 1070,
  "forms-select": 1065,
  "toolbar-column": 1040,
  "tooltip-overlay": 1100,
  "cloneable-bar": 1030,
  "column-resize": 1055,
  "adder-block": 1051,
  "padding-resizer": 99,
  "notifications": 1120
);

// Sidebar
//
// Sidebar sizes
$sidebar-size: 48px;
$sidebar-font-size: 16px; // 24
$sidebar-item-padding: 20px;
$sidebar-content-size: 280px;
$sidebar-content-padding: 30px;
$sidebar-header-font-size: 15px;

// Sidebar colors
$sidebar-bg: rgba(20, 25, 35, 1);
$sidebar-item-separator-1: $brand-options-border;
$sidebar-item-separator-2: rgba(255, 255, 255, 0.07);
$sidebar-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
$sidebar-content-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$sidebar-right-content-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$sidebar-header-bg: #383e47;
$sidebar-content-bg: #2b3039;
$sidebar-content-footer-bg: $sidebar-header-bg;
$sidebar-font-color: #fff;
$sidebar-btn-bg: #91a652;
$sidebar-dropdown-bg: #3c424c;

// Notifications
//
// Color
$notification-success-color: #3caa1a;
$notification-info-color: #1a86f2;
$notification-warn-color: #f19117;
$notification-error-color: #f00;

// Toolbar
//
// Colors
$toolbar-bg-color: rgba(3, 8, 15, 0.92);
$toolbar-border-color: rgba(255, 255, 255, 0.15);
$toolbar-item--color: #fff;
$toolbar-item--hover--color: #3dbfe8;
$toolbar-badge--color: #fff;
$toolbar-badge--bg: #3dbfe8;
$toolbar-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
$toolbar-popover-tooltip--color: #3dbfe8;

// Sizes for toolbar's item
$toolbar-item-padding: 13px;
$toolbar-font-size: 16px;
$toolbar-arrow-size: 6px;
$toolbar-arrow-collision: ($toolbar-arrow-size * 2) - 1;
$toolbar-item-height: ($toolbar-item-padding * 2) + $toolbar-font-size;
$toolbar-border-radius: 8px;

// Static Toolabr
//
// Colors
$toolbar-static-bg: #879294;
$toolbar-static-border-color: #a3abad;
$toolbar-static-item-height: 30px;
$toolbar-static-font-size: 12px;

// Popover
//
// Sizes
$toolbar-tooltip-sm-width: 171px !default;
$toolbar-tooltip-md-width: 255px !default;
$toolbar-tooltip-lg-width: 305px !default;
$toolbar-tooltip-typo-width: 420px;

//Bottom Toolbar Popover colors
$bottom-panel-popover-item--color: #fff;
$bottom-panel-popover-item--color--hover: #3dbfe8;
$bottom-panel-popover--border: rgba(255, 255, 255, 0.1);
$bottom-panel-popover--background: rgba(3, 8, 15, 0.92);
$bottom-panel-popover--box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

// $popover-item-width: 46px !default;
$popover-item-height: 50px !default;
$popover-item-padding: 17px;

// Popover Tabs
$popover-tabs-height: 34px; // 35
$popover-tabs-font-size: 13px; // 12

// Popover Form
$popover-form-input-font-size: 13px; // 14
$popover-form-icon-size: 15px; // 16

// Popover Opacity
$popover-opacity-width: 46px; // 65
$popover-opacity-height: 170px;
$popover-opacity-padding: 12px;
$popover-opacity-wrap-height: 79px;

// Popover Headings
$popover-headings-width: 55px;

// Popover Color Picker
$popover-colorpicker-width: 220px;

// Popover Focal Point
$focal-point-background: #2eb0d8;
$focal-point-background-before: rgba(0, 0, 0, 0.3);
$focal-point-background-upload: #2d323b;
$focal-point-border-color: #444952;
$focal-point-border-color--hover: #5e6470;
$focal-point-upload-color: rgba(94, 100, 111, 0.6);
$focal-point-upload-color--hover: rgba(94, 100, 111, 1);
$focal-point-upload-font-size: 24px;
$focal-point-delete-font-size: 16px;
$focal-point-size: 18px;
$focal-point-width: 140px;
$focal-point-height: 93px;
$focal-point-img-size: $focal-point-width;
$focal-point-margin: 23px;

// Popover Options Background
// Controls: Select, Stepper
$options-control-background: #383e48;

// Scroll Panel
//
// Scroll pane in popover
$scroll-border-radius: 4px;
$scroll-bg-color: #373d47;
$scroll-text-color: #fff;

// Scroll pane in popup
$scroll-popup-bg-color: #d4d5d7;
$scroll-popup-width: 5px;
$scroll-popup-border-radius: math.div($scroll-popup-width, 2);

// Spinner Loading Content
//
// Styles
$spinner-bg-color: rgba(255, 255, 255, 0.5);
$spinner-size: 20px;
$spinner-border-width: 4px;
$spinner-border-bg-color: #2eb9d8;
$spinner-border-animate-color: rgba(3, 8, 15, 0.9);

// Floating Button
//
// Styles
$floating-button-grey: #879294;
$floating-button-tail: $brand-primary;
$floating-button-blue: #0085ba;
$floating-button-red: #ed2164;

// Borders
//
// Colors
$by-block-border-grey: $floating-button-grey;
$by-block-border-blue: $brand-primary;
$by-block-border-red: $floating-button-red;

// Options
//
// Handle Icon Settings
$options-handle-size: 42px;
$options-handle-size-small: 32px;
$options-handle-font-size: 14px;
$options-handle-font-size-small: 12px;

// Options Item
$options-item-height: 52px;
$options-item-padding: 17px;
$options-item-font-size: 13px;
$options-label-color: #828b92;
$options-control-height: 30px;
$options-control-radius: 4px;
$options-border-hover-color: #818a91;

// Resize
$resize-blue: $by-block-border-blue;
$resize-red: $by-block-border-red;
$resize-shortcode-width: 11px;
$resize-shortcode-height: $resize-shortcode-width;
$resize-point-position: ceil(math.div(-$resize-shortcode-width, 2));

// Blocks
//
// Prompt blocks
$prompt-blocks-lg-width: 1650px;
$prompt-blocks-md-width: 694px;
$prompt-blocks-sm-width: 380px;

$prompt-blocks-lg-height: 634px;
$prompt-blocks-md-height: 500px;
$prompt-blocks-sm-height: 430px;

$prompt-blocks-header-bg-color: #e0e1e2;
$prompt-blocks-header-height: 80px;

// Prompt select
$prompt-content-color: #03080f;
$prompt-select-width: 300px;
$prompt-select-height: 40px;
$prompt-select-font-size: 14px;
$prompt-select-bg-color: #fff;
$prompt-select-bg-hover-color: #fbfbfb;
$prompt-select-border-color: #f4f4f4;
$prompt-select-border-radius: 4px;
$prompt-select-box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
$prompt-select-options-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);

// Adder blocks
$block-item-width: 291px;
$block-item-height: 181px;
$block-item-margin: 12px;
$block-hover-bg-color: rgba(41, 46, 55, 0.9);
$block-item-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.07);

// Adder container for add blocks
$block-adder-container-width: 710px;
$block-adder-container-sm-width: 430px;
$block-adder-container-height: 130px;
$block-adder-container-border-radius: 4px;
$block-adder-title-color: #292e37;
$block-adder-desc-color: #9da0a6;
$block-adder-font-size: 15px;

// Adder icon
$block-adder-icon-size: 54px;

// Editor Controls(select, input, stepper, etc...)
$control-font-size: 13px;
$control-arrow-size: 8px;
$control-letter-spacing: 0.25px;
$control-border-radius: 4px;
$control-height: 30px;
$control-padding: 10px;
$control-sm-width: 62px;
$control-md-width: 112px;
$control-lg-width: 136px;
$control-background-color: $brand-options;
$control-color: rgba(255, 255, 255, 0.85);
$control-border-color: rgba(255, 255, 255, 0.07);
$control-dropdown-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);

//File upload option
$file-upload--background: #2d323b;
$file-upload--border: 1px dashed #444952;
$file-upload-icon--color: rgba(94, 100, 111, 0.6);
$file-upload--border-hover: #5e6470;
$file-upload-icon--color-hover: #5e646f;
$file-upload-file-name--color: #fff;
$file-upload-file-name-icon--color: #11141d;

// Switch 
$switch--background: #383e48;
$switch--box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.38) inset;
$switch-icon--color: rgba(18, 20, 25, 0.7);
$switch-handle--background: #fff;
$switch-handle--box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.35);
$switch-handle-line--color: #34beea;
$switch-checked--background: #3dbfe8;

// Sidebar Popover
$sidebar-popover--background: rgba(20, 25, 35, 1);
$sidebar-popover--box-shadow: rgb(0, 0, 0, 0.5);
$sidebar-popover-item--color: #fff;
$sidebar-popover-item--color--hover: #3dbfe8;
$sidebar-popover-item--border-bottom: rgba(255, 255, 255, 0.1);
$sidebar-popover-arrow--border-color: transparent rgba(20, 25, 35, 1) transparent transparent;
