{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "sourceType": "unambiguous",
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": false,
            "useESModules": true
          }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-nullish-coalescing-operator"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 chrome versions",
                "last 2 firefox versions",
                "last 2 safari versions",
                "last 2 edge versions"
              ]
            },
            "corejs": "3.26.0",
            "useBuiltIns": "usage",
            "modules": false
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ]
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    // "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "@babel"
    // "graphql"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "react/display-name": 0,
    "react/prop-types": 0,
    "no-prototype-builtins": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-unknown-property": "off",
    "graphql/template-strings": [
      "error",
      {
        "env": "apollo",
        "tagName": "gql",
        "validators": [
          "ExecutableDefinitionsRule",
          "FieldsOnCorrectTypeRule",
          "KnownArgumentNamesRule",
          "KnownDirectivesRule",
          "KnownTypeNamesRule",
          "LoneAnonymousOperationRule",
          "NoFragmentCyclesRule",
          "NoUndefinedVariablesRule",
          "OverlappingFieldsCanBeMergedRule",
          "PossibleFragmentSpreadsRule",
          "ProvidedRequiredArgumentsRule",
          "ScalarLeafsRule",
          "SingleFieldSubscriptionsRule",
          "UniqueArgumentNamesRule",
          "UniqueDirectivesPerLocationRule",
          "UniqueFragmentNamesRule",
          "UniqueInputFieldNamesRule",
          "UniqueOperationNamesRule",
          "UniqueVariableNamesRule",
          "ValuesOfCorrectTypeRule",
          "VariablesAreInputTypesRule",
          "VariablesInAllowedPositionRule"
        ],
        "schemaJsonFilepath": "./editor/js/utils/api/cms/graphql/schema.json"
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "worker": true,
    "jquery": true
  },
  "globals": {
    "TARGET": "readonly",
    "IS_EDITOR": "readonly",
    "IS_PREVIEW": "readonly",
    "IS_EXPORT": "readonly",
    "AUTHORIZATION_URL": "readonly",
    "__CONFIG__": "readonly",
    "YT": "readonly",
    "getFreeLibs": "readonly",
    "getProLibs": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.editor.js"
      }
    },
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        // "plugin:react-hooks/recommended",
        "prettier"
      ],
      "plugins": ["@typescript-eslint", "graphql"],
      "rules": {
        "react/prop-types": "off",
        "react/no-unknown-property": "off"
      }
    }
  ]
}
