{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "rule-empty-line-before": ["never-multi-line", {
      "except": ["after-single-line-comment"],
      "ignore": ["after-comment", "inside-block"]
      },
    ],
    "declaration-block-no-redundant-longhand-properties": null,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "mixin",
        "if",
        "each",
        "else",
        "extend",
        "for",
        "while",
        "function",
        "return",
        "warn",
        "content",
        "at-root",
      ]
    }],
    "indentation": [ 2, {
      "message": "Please use 2 spaces for indentation. Tabs make The Architect grumpy.",
      "severity": "warning"
    } ],
    "number-leading-zero": null,
    "unit-whitelist": ["px", "%", "em", "rem", "vh", "vw", "s", "ms", "deg"]
  }
}

# Install extations for your editors
# Atom    https://github.com/AtomLinter/linter-stylelint
# Sublime https://github.com/kungfusheep/SublimeLinter-contrib-stylelint
# Vscode  https://github.com/shinnn/vscode-stylelint
