@import "../../variables";

.brz-ed-sidebar-drawer.brz-ed-sidebar__addable {
  z-index: z("sidebar-addable");
  .brz-ed-addable__drag_overlay {
    z-index: z("sidebar-addable__drag-overlay") #{!important};
  }

  .brz-ed-sidebar-drawer__body {
    @apply gap-[30px];
    .brz-scrollbar__view {
      @apply px-[30px] pt-[30px];
    }

    .brz-ed-addable__items {
      @apply inline-flex flex-col gap-[10px] w-full;
    }

    .brz-ui-noitems {
      @apply text-center;
      color: $sidebar-color;
      .brz-ui-typography {
        @apply text-center;
      }
    }
  }
}

.brz-ed-addable {
  &__icon-wrapper {
    @apply flex items-center gap-2 cursor-pointer;
    color: $control-color--active;
  }

  &__group {
    @apply bg-inherit border-2 border-solid rounded transition-[height,colors];
    border-color: $addable-border-color;

    &__head {
      @apply flex flex-row pl-[20px] pr-[16px] h-[45px] gap-[10px];
      @apply items-center bg-inherit select-none;
      color: $control-color;

      &__drag-pointer {
        @apply text-[16px] flex cursor-move;
        &--disabled {
          @apply cursor-not-allowed;
        }
      }

      &__title {
        @apply flex-grow;
        input {
          all: unset;
          @apply w-full overflow-hidden overflow-ellipsis text-start;
        }
      }

      &__remove {
        @apply cursor-pointer shrink-0;
      }

      &__expand-btn {
        @apply cursor-pointer transition-transform shrink-0;
        color: $control-color;
      }
    }

    &__body {
      @apply flex flex-col px-3;
      .brz-ed-option {
        @apply select-none p-[10px];
        @apply border-0 border-t-[1px] border-solid border-white border-opacity-10;
      }
    }

    &:hover,
    &--active {
      background-color: $toolbar-bg;
    }

    &--expanded {
      background-color: $toolbar-bg;
      border-color: $addable__sidebar__group--border-color--active;
    }
  }

  //Add new group Button
  &__add-new {
    @apply flex flex-row justify-center items-center gap-3 cursor-pointer flex-shrink-0;
    @apply bg-transparent border-2 border-solid  rounded;
    @apply mx-[30px] h-[76px] opacity-100 transition-colors;
    color: $addable__sidebar__add_button__text-color;
    border-color: $addable-border-color;

    &:hover {
      border-color: $addable__sidebar__add_button--active;
      color: $addable__sidebar__add_button--active;
    }
  }

  &__extra-label {
    color: $control-color--active;
    white-space: nowrap;
  }
}
