.brz-ed-control__popover--content .brz-ed-option.brz-ed-option-type__aiText {
  --brz-ui-global-card-background: initial;

  .brz-ui-btn-link {
    --brz-ui-btn-hover: var(--active-color, #3dbfe8);
    --brz-ui-btn-color: var(--text-labels, #ffffff);
  }

  .brz-ui-btn-disabled {
    --brz-ui-global-icon-color: initial;
  }
}
