// Block Anchor
.brz-ed-option__block-thumbnail {
  .brz-ed-scroll-pane {
    .brz-ed-scroll-inner {
      max-height: 240px;
      border-right-style: none !important;
    }
    .brz-ed-tall-track {
      right: -10px;
    }
  }

  .brz-figure {
    margin-bottom: 0px;
    max-width: 140px;
    position: relative;
    cursor: pointer;
    padding: 4px;
    margin: 2px 0;

    img {
      max-width: 100%;
      position: relative;
    }

    .brz-ed-option__block-thumbnail-anchor {
      display: none;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 140px;
      height: 22px;
      background: #3dbfe8;
      color: white;
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
      font-size: 13px;
      font-weight: 600;

      .brz-span {
        font-size: 12px;
        opacity: 0.9;
        font-style: italic;
        margin-left: 5px;
      }

      input {
        width: 108px;
        padding: 0px 5px;
        border: none;
        background: none;
        color: white;
        text-align: left;
        font-family: pn, "Open Sans", Arial, sans-serif;
        font-size: 13px;
        font-weight: 600;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: white;
          opacity: 0.6;
          font-family: pn, "Open Sans", Arial, sans-serif;
          font-size: 13px;
          font-weight: 600;
          font-style: italic;
        }
      }

      label {
        color: #ffffff;
        cursor: pointer;
        margin: 3px 0 0 0;
      }

      .brz-icon-svg {
        width: 18px;
        height: 18px;
        padding: 5px;
      }

      .brz-icon-svg:hover {
        color: #03080f;
        opacity: 0.92;
      }
    }

    &.active {
      .brz-ed-option__block-thumbnail-anchor {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      transition: 0.2s linear border-color;
    }
    &:hover:after,
    &.active:after {
      border-color: $brand-primary;
      transition: 0.2s linear border-color;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Loader
  &-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: rgba(94, 100, 111, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: progress;
  }
}
