// Group radio
$box-width: 37px;
$box-height: $control-height;

// ---
.brz-ed-option__check-group {
  &-option {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.brz-ed-option__check-group--boxed {
  width: $box-width;
  height: $box-height;
  border-right: 1px solid $control-border-color;
  background-color: $control-background-color;
  color: #fff;
  overflow: hidden;
  display: inline-block;

  &:first-child {
    border-top-left-radius: $control-border-radius;
    border-bottom-left-radius: $control-border-radius;
  }
  &:last-child {
    border-right: transparent;
    border-top-right-radius: $control-border-radius;
    border-bottom-right-radius: $control-border-radius;
  }
  .brz-ed-option__check-group__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  &.active {
    .brz-ed-option__check-group__icon {
      background-color: $brand-primary;
    }
  }
}
