// ColorPalette
.brz-ed-option__color-palette {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 0;
  border-bottom: 0;
  min-height: 100%;

  &__item {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-left: 2px;
    cursor: pointer;
    border: 1px solid $color_palette-border;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      border: 2px solid $color_palette-border--active;
    }
  }

  &__icon {
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    color: $options__label-color;
    transition: color 0.2s linear;

    &:hover {
      color: $brand__primary;
    }
  }
}

// ColorPalette Editor
.brz-ed-option__color-palette-editor {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 23px;
    height: 23px;
    border: 1px solid $left_sidebar__styling__palette-border;
    border-radius: 2px;
    margin-left: 3px;
    cursor: pointer;
    transition: border 0.2s linear;

    &:hover,
    &.active {
      border: 2px solid $left_sidebar__styling__palette-border--active;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

// ColorPalette Sidebar
.brz-ed-sidebar-option__color-palette-editor {
  margin-bottom: 32px !important;
}
