// Option Color Picker
.brz-ed-option__colorPicker {
  padding-top: 0;
  border-bottom: 0;

  &__fields {
    padding-top: 0;

    &:last-child {
      min-height: 100%;
    }
  }
}

.brz-ed-option-type__colorPicker {
  .brz-ed-option__label {
    display: none;
  }
}

//Global Styles
.brz-ed-option__colorPicker__global__styles {
  padding: 0 15px;
}
