// FontStyles
.brz-ed-option-type__fontStyleEditor {
  @apply flex flex-col grow justify-normal p-0;

  .brz-ed-option__font-styles {
    @apply flex flex-col grow justify-between w-full gap-[16px];
    &--add {
      @apply mx-[30px];
    }
    .brz-ui-scrollbar__wrapper {
      @apply flex grow h-auto;
    }
    .brz-scrollbar__view {
      @apply flex flex-col gap-[16px] px-[30px];
    }
  }
}

.brz-ed-option__font-style-editor {
  @apply relative cursor-pointer;

  &__container {
    border: 2px solid $left_sidebar__styling__font-border;
    border-radius: 3px;
    padding: 16px 20px 18px;
    transition: border-color 0.2s linear;
  }

  &.active,
  &:hover {
    .brz-ed-option__font-style-editor__container {
      border-color: $left_sidebar__styling__font-border--active;
      transition: border-color 0.2s linear;
    }

    .brz-ed-option__font-style-editor--delete {
      opacity: 1;
      transition: 0.2s linear opacity;
    }
  }

  &__title {
    line-height: 1;
    margin-bottom: 3px;
    margin-inline-end: 0;

    @extend .brz-ed-option__label;

    .brz-span {
      display: block;
      line-height: 1.5;
    }
  }

  &__sample {
    color: $left_sidebar__styling__font__content-color;
    line-height: 1;
    font-size: 21px;
  }

  &--delete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 28px;
    inset-inline-end: -11px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: $left_sidebar__styling__font__icon-bg;
    color: $left_sidebar__styling__font__icon-color;
    opacity: 0;
    transition: 0.2s linear opacity;

    .brz-icon-svg {
      font-size: 12px;
    }
  }
}

.brz-ed-option__font-styles.brz-ed-option__font-styles--new-item {
  @keyframes brz-font-style-color {
    0% {
      border-color: $left_sidebar__styling__font-border;
    }
    50% {
      border-color: $left_sidebar__styling__font-border--active;
    }
    100% {
      border-color: $left_sidebar__styling__font-border;
    }
  }

  @keyframes brz-slide-bottom {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  .brz-ed-option__font-style-editor {
    &.brz-ed-option__font-style-editor--animate {
      animation: brz-slide-bottom 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045)
        reverse both;
    }

    &:first-child {
      .brz-ed-option__font-style-editor__container {
        animation-name: brz-font-style-color;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-direction: alternate;
        animation-iteration-count: 3;
      }
    }
  }
}

.brz-ed-option__font-styles {
  .brz-scrollbar__view {
    scroll-behavior: smooth;
  }

  &--add {
    @apply py-[30px];
    padding:30px;
    color: $left_sidebar__styling__add-color;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s linear, color 0.2s linear;
    @extend .brz-ed-option__font-style-editor__container;

    &:hover {
      border-color: $left_sidebar__styling__add-color--hover;
      color: $left_sidebar__styling__add-color--hover;
      transition: border-color 0.2s linear, color 0.2s linear;
    }

    .brz-icon-svg,
    .brz-span {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      line-height: 1;
    }

    .brz-icon-svg {
      font-size: 16px;
    }

    .brz-span {
      margin-inline-start: 10px;
    }
  }
}
