.brz-ed-sidebar__right .brz-ed-control__group,
.brz-ed-control__group {
  flex: 1 1 auto;

  & > .brz-ed-option {
    padding: 0;
    border: none;
    min-height: unset;
    margin-bottom: 10px;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &:first-child,
    &:last-child {
      min-height: unset;
    }
  }
}
