@import "../../variables";
@import "../../mixins/arrow";

$main-color: rgba($control-bg, 0.92);

// --- Helper Option
.brz-ed-option__helper {
  margin-left: 7px;
  cursor: pointer;
  color: $popover_tooltips__icon-color;
  transition: color 0.3s ease-out;
  position: relative;
  display: inline-flex;
  align-items: center;

  &--center {
    vertical-align: middle;
  }

  &:hover {
    color: $popover_tooltips__icon-color--hover;
  }

  svg {
    overflow: visible;
  }

  .brz-ed-tooltip__overlay {
    background-color: $popover_tooltips__helper__overlay-bg;

    @include arrow($toolbar__arrow-size, $main-color);
  }

  &__content {
    font-size: 13px;
    font-family: $default-font-family;
    line-height: 1.5;
    width: 240px;
    background-color: $popover_tooltips__helper__content-bg;
    color: $popover_tooltips__helper__content-color;
    text-align: start;
    padding: 13px 20px;
    border-radius: 10px;

    .brz-p {
      font-weight: inherit;
      font-size: inherit;

      &:first-child {
        margin-bottom: 13px;
      }
    }
  }
}
