@import "../../variables";
@import "../../mixins/arrow";

$main-color: rgba($control-background-color, 0.92);

// --- Helper Option
.brz-ed-option__helper {
  margin-left: 7px;
  cursor: pointer;
  color: rgba($gray-light, 0.35);
  transition: color 0.3s ease-out;
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: rgba($gray-light, 0.6);
  }
  svg {
    overflow: visible;
  }

  .brz-ed-tooltip__overlay {
    background-color: transparent;

    @include arrow($toolbar-arrow-size, $main-color);
  }
  &__content {
    font-size: 13px;
    font-family: $font-family-1;
    line-height: 1.5;
    width: 240px;
    background-color: $main-color;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 13px 20px;
    border-radius: 10px;

    .brz-p {
      font-weight: inherit;
      font-size: inherit;

      &:first-child {
        margin-bottom: 13px;
      }
    }
  }
}
