@import "../../mixins/input";

.brz-ed-option__multi-border {
  position: relative;
  justify-content: flex-end;

  .brz-input {
    @include small-input;

    width: 17px;
    margin-right: 6px;

    &:hover {
      border-bottom: 1px solid $options-label-color;
      transition: 0.2s border-color linear;
    }
    &:last-of-type {
      margin-right: 3px;
    }
  }

  .brz-icon {
    position: absolute;
    color: #818a91;
    font-size: 10px;
    margin-left: 5px;
    top: 5px;
  }

  .brz-input:last-child {
    margin-right: 0px;
  }

  .brz-ed-option__multi-input-container {
    padding: 0 4px;
  }

  .brz-ed-option__multi-input-container:first-of-type {
    padding: 0px 4px 0px 0px;
  }

  .brz-ed-option__multi-input-container:last-child {
    padding: 0px 0px 0px 4px;
  }

  .brz-label {
    height: 16px;
    width: 25px;
    color: #818a91;
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-right: 12px;
  }

  .brz-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.brz-ed-option__multi-border--active {
  .brz-icon {
    color: #33beea;
  }
}
