// Input Number with autocorections
.brz-ed-option__input-number {
  justify-content: flex-end;

  .brz-ed-option__input-number__label {
    margin-right: 10px;
  }

  .brz-input {
    outline: 0;
    line-height: 1;
    -moz-appearance: textfield; // Remove spin button on Firefox

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
