// Uses for dynamic Content
.brz-ed-option__input {
  .brz-control__select {
    margin-left: 10px;
  }
}
.brz-ed-option__input-number-wrap {
  position: relative;
}
.brz-ed-option__input-container {
  position: relative;

  .brz-icon-svg {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: 50%;
    transform: translateY(-0.5em);
    color: #fff;
    transition: 0.2s linear color;

    &:hover {
      color: $brand-primary;
      transition: 0.2s linear color;
    }
  }
}

// Population
.brz-ed-option__input__population {
  @extend .brz-ed-control__input;

  width: $control-lg-width;
  line-height: $control-height;
  padding-right: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//  Input Field Transparent ( Color Fields HEX, Border size )
.brz-ed-option__input-outline {
  .brz-input {
    background-color: transparent;
    border: none;
    outline: 0;
    color: $options-label-color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    text-transform: uppercase;
    padding: 2px 0;
    transition: 0.2s linear color, 0.2s border-color linear;

    &:hover {
      border-bottom: 1px solid $options-label-color;
      transition: 0.2s border-color linear;
    }
    &:focus,
    &:active {
      border-bottom: 1px solid $brand-primary;
      color: #fff;
      transition: 0.2s linear color, 0.2s border-color linear;
    }
  }
}
.brz-ed-option__multi-input {
  .brz-input {
    width: 17px;
    outline: none;
    margin-right: 8px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .brz-icon {
    color: $options-label-color;
    margin-right: 11px;
    font-size: 13px;
  }

  .brz-input:last-child {
    margin-right: 0px;
  }

  .brz-ed-option__multi-input-container {
    padding: 0 4px;
  }

  .brz-ed-option__multi-input-container:first-of-type {
    padding: 0px 4px 0px 0px;
  }

  .brz-ed-option__multi-input-container:last-child {
    padding: 0px 0px 0px 4px;
  }

  &:focus-within > .brz-icon {
    color: #33beea;
  }
}
