// Cloneable Order
.brz-ed-option__order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;

  &.brz-ed-option__order__vertical {
    flex-direction: column;
    padding: 7px 0;

    span {
      display: flex;
    }
  }
  svg {
    transition: color 0.2s linear;
    color: #fff;
    font-size: 13px;

    &:not(.brz-ed__disabled):hover {
      color: $brand-primary;
    }

    &.brz-ed__disabled {
      color: $gray-light;
      cursor: default;
    }
  }
}
