// -- Toolbar tabs
.brz-ed-option__prompt-popup {
  width: 100%;

  &__image {
    position: relative;
    cursor: pointer;

    .brz-img {
      width: 140px;
    }
  }

  &-remove {
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: 11;
    font-size: 16px;
    width: 16px;
    height: 16px;
    background-color: #2d323b;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }

  .brz-ed-control__focal-point__upload {
    font-size: 16px;
  }
}
