// Ui options Range
.brz-ed-grid__option__gradient {
  height: 22px;

  .brz-ed-control__range {
    padding: 6px 14px 0;
  }
}
.brz-ed-option__range {
  padding: 0px !important;
  height: 22px !important;
  min-height: 22px !important;
  border-bottom: 0px;
  margin-bottom: 0px;
  max-width: 112px;

  .rc-slider {
    width: calc(100% - 16px);
    margin-left: 8px;
    height: 22px;
  }

  .rc-slider-rail {
    height: 12px;
    width: calc(100% + 16px);
    left: -8px;
  }

  .rc-slider-track {
    display: none;
  }

  .rc-slider-step {
    display: none;
  }

  .rc-slider-mark {
    display: none;
  }

  .rc-slider-handle {
    width: 16px;
    height: 16px;
    background: none;
    border: 3px solid #fff;
    margin-left: -8px;

    &::after {
      display: none;
    }

    &::before {
      opacity: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .brz-ed-rc-slider-handle--active::before {
    content: "";
    opacity: 1;
    border-radius: 100%;
    border: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 5px;
    display: block;
    background: #fff;
  }
}

// Gradient
.brz-ed-grid__option__gradient {
  .rc-slider-rail {
    background: transparent;
  }
}
