@import "../../mixins/input";
@import "../../variables";

// TextField
.brz-ed-option__text-box {
  width: 44px;
  border-bottom: 1px solid $brand-options-border;
  margin-left: 17px;
  padding: 0 0 4px;

  .brz-label {
    display: flex;
    line-height: 1;
    color: $options-label-color;
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-transform: lowercase;
    padding: 0;
    margin: 0;
  }
  &__input,
  &__helper {
    position: relative;
    font-weight: 400;
    max-width: 90%;
  }
  &__helper {
    font-family: inherit;
    font-size: inherit;
    margin-left: 3px;

    &--active {
      color: $brand-primary;
    }
  }
  &--fixed-width {
    width: 65px;
    margin-left: 13px;
    border-bottom-color: transparent;

    .brz-label {
      align-items: center;
    }
    .brz-ed-option__text-box__input {
      margin-right: 2px;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $brand-options-border;
        position: absolute;
        bottom: -3px;
        left: 0;
      }
    }
    .brz-ed-option__text-box__helper {
      cursor: pointer;
      margin-left: 5px;
    }
    .brz-ed-control__text-box--resizer {
      position: relative;
    }
  }
}
.brz-ed-control__text-box--resizer {
  @include small-input;

  position: absolute;
  width: 105%;
  height: 100%;
  border: none;
}
