@import "../../variables";

/**
 * Bottom Panel. The area where is placed undo/redo buttons
 */
.brz-ed-fixed-bottom-panel {
  position: fixed;
  bottom: 25px;
  right: 30px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 $bottom-toolbar--box-shadow;
  background-color: $bottom-toolbar--bg;
  z-index: z("sidebar");
  user-select: none;

  .brz-ul {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    color: $bottom-toolbar--disable--color;
    font-size: 12px;
    letter-spacing: $control-letter-spacing;
    font-family: $font-family-1;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: default;
    transition: color 150ms linear;
    padding: 14px;
    border-right: 1px solid $bottom-toolbar--border;

    &:first-child {
      padding-left: 18px;
    }
    &:last-child {
      border-right: none;
    }
    .brz-icon-svg {
      font-size: 14px;
    }
  }
  &__item--small {
    padding: 8px 13px;
  }
  &__item--none {
    padding: 0;
  }
  &__item--pointer {
    cursor: pointer;
  }
  &__item--active {
    color: $bottom-toolbar--color;

    &:hover {
      color: $bottom-toolbar--active--color;
    }
  }
  &__preview {
    .brz-a {
      color: $bottom-toolbar--color;
      transition: color 150ms linear;
      font-size: 0;
      padding: 14px;
    }
    &:hover .brz-a {
      color: $brand-primary;
    }
  }
  &__btn {
    cursor: pointer;
    display: flex;
    align-items: stretch;
    font-size: 13px;
    line-height: 1;
    color: $bottom-toolbar-btn--color;
    border-bottom: 2px solid $bottom-toolbar-btn--border;
    border-radius: 15px;
    height: 28px;
    text-align: center;

    .brz-icon-svg {
      width: 1em;
      height: 1em;
    }
    .brz-ed-tooltip--opened .brz-button {
      color: $bottom-toolbar-tooltip--color;
    }
    .brz-button {
      position: relative;
      height: 100%;
      background-color: $bottom-toolbar-btn--bg;
      border: none;
      border-left: 1px solid rgba(#fff, 0.1);
      color: $bottom-toolbar-btn--color;
      outline: none;
      padding-left: 7px;
      padding-right: 10px;
      cursor: pointer;
      border-radius: 0 15px 15px 0;
      transition: 0.2s linear all;
    }
    .brz-button:hover {
      color: $bottom-toolbar-tooltip--hover--color;
      transition: 0.2s linear all;
    }
    .brz-button:after {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      width: 1px;
      height: 100%;
      background-color: $bottom-toolbar-tooltip--hover--bg;
      opacity: 0.35;
    }
    .brz-button .brz-icon-svg {
      font-size: 8px;
    }
    &-disabled {
      .brz-ed-fixed-bottom-panel__btn-loading {
        &,
        &:hover {
          color: $bottom-toolbar-btn--disable--color;
          background-color: $bottom-toolbar-btn--disable--bg;
        }
      }
      .brz-ed-tooltip__static .brz-button {
        color: $bottom-toolbar-btn--disable--color;
        background-color: $bottom-toolbar-btn--disable--bg;
      }
      &:hover {
        .brz-button {
          color: $bottom-toolbar-tooltip--disable--color;
          background-color: $bottom-toolbar-tooltip--disable--bg;
        }
      }
    }
  }
  &__btn-loading {
    position: relative;
    height: 100%;
    min-width: 70px;
    line-height: 26px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: $bottom-toolbar-btn--bg;
    border-radius: 15px;
    transition: background-color 150ms linear;

    &:hover {
      background-color: $bottom-toolbar-btn--hover--bg;
      color: $bottom-toolbar-btn--hover--color;
    }
    .brz-icon-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.5em;
      margin-left: -0.5em;
    }
  }
  &__btn-popover .brz-ed-fixed-bottom-panel__btn-loading {
    border-radius: 15px 0 0 15px;
    padding-left: 14px;
    padding-right: 8px;

    .brz-icon-svg {
      margin-left: 0;
    }
  }
  &-popover__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear color;
    white-space: nowrap;

    &:hover {
      color: $bottom-panel-popover-item--color--hover;
      transition: 0.3s linear color;
    }
    .brz-icon-svg {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}
