/**
 * Bottom Panel. The area where is placed undo/redo buttons
 */
.brz-ed-fixed-bottom-panel {
  position: fixed;
  bottom: 25px;
  right: 30px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 rgba(#000, 0.5);
  background-color: rgba(#03080f, 0.92);
  z-index: z("sidebar") + 1;
  user-select: none;

  .brz-ul {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    color: $options-label-color;
    font-size: 12px;
    letter-spacing: $control-letter-spacing;
    font-family: $font-family-1;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: default;
    transition: color 150ms linear;
    padding: 14px;
    border-right: 1px solid rgba(#fff, 0.15);

    &.active {
      color: #fff;
      cursor: pointer;

      &:hover {
        color: $brand-primary;
      }
    }
    &:first-child {
      padding-left: 18px;
    }
    &:last-child {
      border-right: none;
    }
    .brz-icon-svg {
      font-size: 14px;
    }
  }
  &__item-btn {
    padding: 8px 13px;
  }
  &__preview {
    cursor: pointer;
    padding: 0;

    .brz-a {
      color: #fff;
      transition: color 150ms linear;
      font-size: 0;
      padding: 14px;
    }
    &:hover .brz-a {
      color: $brand-primary;
    }
  }
  &__hidden_elements {
    cursor: pointer;
    color: #fff;
  }
  &__btn {
    cursor: pointer;
    display: flex;
    align-items: stretch;
    font-size: 13px;
    line-height: 1;
    color: #fff;
    border-bottom: 2px solid #006799;
    border-radius: 15px;
    height: 28px;
    text-align: center;

    .brz-icon-svg {
      width: 1em;
      height: 1em;
    }
    .brz-ed-tooltip--opened .brz-button {
      color: #2b3039;
    }
    .brz-button {
      position: relative;
      height: 100%;
      background-color: #0085ba;
      border: none;
      border-left: 1px solid rgba(#fff, 0.1);
      color: #fff;
      outline: none;
      padding-left: 7px;
      padding-right: 10px;
      cursor: pointer;
      border-radius: 0 15px 15px 0;
      transition: 0.2s linear color;
    }
    .brz-button:hover {
      color: #03080f;
      transition: 0.2s linear color;
    }
    .brz-button:after {
      content: "";
      position: absolute;
      top: 0;
      left: -2px;
      width: 1px;
      height: 100%;
      background-color: #2b3039;
      opacity: 0.35;
    }
    .brz-button .brz-icon-svg {
      font-size: 8px;
    }
  }
  &__btn-loading {
    position: relative;
    height: 100%;
    min-width: 70px;
    line-height: 26px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #0085ba;
    border-radius: 15px;
    transition: background-color 150ms linear;

    &:hover {
      background-color: #0092cc;
      color: #fff;
    }
    .brz-icon-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.5em;
      margin-left: -0.5em;
    }
  }
  &__btn-popover .brz-ed-fixed-bottom-panel__btn-loading {
    border-radius: 15px 0 0 15px;
    padding-left: 14px;
    padding-right: 8px;

    .brz-icon-svg {
      margin-left: 0;
    }
  }
  &__btn--download {
    .brz-button,
    .brz-a {
      min-width: 97px;
    }
  }
  &-popover__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear color;
    white-space: nowrap;

    &:hover {
      color: $brand-primary;
      transition: 0.3s linear color;
    }
    .brz-icon-svg {
      margin-right: 11px;
      font-size: 12px;
    }
  }
}
