@use "../../variables";
@use "../../functions/z-index";

.brz-ed .brz-ed-sidebar-drawer.brz-ed-sidebar__addable {
  z-index: z-index.z("sidebar-addable");

  .brz-ed-addable__drag_overlay {
    z-index: z-index.z("sidebar-addable__drag-overlay") !important;
  }

  .brz-ed-sidebar-drawer__body {
    gap: 30px;
    .brz-scrollbar__view {
      padding: 30px 30px 0;
    }

    .brz-ed-addable__items {
      display: inline-flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .brz-ui-noitems {
      text-align: center;
      color: variables.$sidebar-color;
      .brz-ui-typography {
        text-align: center;
      }
    }
  }
}

.brz-ed .brz-ed-addable {
  &__icon-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: variables.$control-color--active;
  }

  &__group {
    background-color: inherit;
    border: 2px solid variables.$addable-border-color;
    border-radius: 0.25rem;
    transition-property: height, color, background-color, border-color;

    &__head {
      display: flex;
      flex-direction: row;
      padding: 0 16px 0 20px;
      height: 45px;
      gap: 10px;
      align-items: center;
      background-color: inherit;
      user-select: none;
      color: variables.$control-color;

      &__drag-pointer {
        font-size: 16px;
        display: flex;
        cursor: move;
        &--disabled {
          cursor: not-allowed;
        }
      }

      &__title {
        flex-grow: 1;
        input {
          all: unset;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: start;
        }
      }

      &__remove {
        cursor: pointer;
        flex-shrink: 0;
      }

      &__expand-btn {
        cursor: pointer;
        transition-property: transform;
        flex-shrink: 0;
        color: variables.$control-color;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 0 0.75rem;
      .brz-ed-option {
        user-select: none;
        padding: 10px;
        border: 0;
        border-top: 1px solid;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:hover,
    &--active {
      background-color: variables.$toolbar-bg;
    }

    &--expanded {
      background-color: variables.$toolbar-bg;
      border-color: variables.$addable__sidebar__group--border-color--active;
    }
  }

  //Add new group Button
  &__add-new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    flex-shrink: 0;
    background-color: transparent;
    border: 2px solid variables.$addable-border-color;
    border-radius: 0.25rem;
    margin: 0 30px;
    height: 76px;
    opacity: 1;
    transition-property: color, background-color, border-color;
    color: variables.$addable__sidebar__add_button__text-color;

    &:hover {
      border-color: variables.$addable__sidebar__add_button--active;
      color: variables.$addable__sidebar__add_button--active;
    }
  }

  &__extra-label {
    color: variables.$control-color--active;
    white-space: nowrap;
  }
}
