@use "../../variables";

// Toggle icon
.brz-ed .brz-ed-option__toggle {
  transition: color 0.2s linear;

  &:hover {
    transition: color 0.2s linear;
    color: variables.$toolbar__item-color--hover;
  }
}
