.brz-ed-border {
  position: relative;

  // Button
  &__button {
    position: absolute;
    top: -0.44em;
    z-index: z("cloneable-bar") + 1;
    width: 1em;
    height: 1em;
    font-size: 16px;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    background-color: #999;
    color: #fff;
    transition: 0.2s linear font-size, 0.2s linear opacity;
    will-change: font-size;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      left: 50%;
      margin-top: -14px;
      margin-left: -14px;
      opacity: 0;
      border-width: 3px;
      border-style: solid;
      border-radius: 50%;
    }

    &--top-right {
      right: -0.44em;
    }
    &--top-left {
      left: -0.44em;
    }

    // Row Special Case (show border on button hover)
    &--row {
      &:hover + .brz-ed-border__inner {
        border-style: dotted;
      }
    }
    .brz-icon-svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-0.5em, -0.5em);
      line-height: 1;
      font-size: 8px;
      transition: 0.2s linear font-size, 0.2s linear opacity;
    }
    &:hover,
    &--active {
      font-size: 28px;

      .brz-icon-svg {
        font-size: 14px;
      }
    }
  }

  // Inner
  &__inner {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: z("cloneable-bar");
    border-width: 2px;
    border-color: transparent;
    transition: 0.2s linear border-color, 0.2s linear border-style;
    pointer-events: none;
  }

  // Border Style
  &--none {
    border-style: none;
  }
  &--solid {
    border-style: solid;
  }
  &--dotted {
    border-style: dotted;
  }

  // Section CollapsibleToolbar
  > .brz-ed-collapsible--section.brz-ed-collapsible--opened {
    opacity: 1;
  }
}

// Border Style Active
.brz-ed-border--active > {
  .brz-ed-border--active-none {
    border-style: none;
  }
  .brz-ed-border--active-solid {
    border-style: solid;
  }
  .brz-ed-border--active-dotted {
    border-style: dotted;
  }
}

// Colors
.brz-ed-border--grey > .brz-ed-border__button {
  background-color: $by__block__border__grey;
}
.brz-ed-border--blue > .brz-ed-border__button {
  background-color: $by__block__border__blue;
}
.brz-ed-border--red > .brz-ed-border__button {
  background-color: $by__block__border__red;
}
.brz-ed-border:hover,
.brz-ed-border--hovered,
.brz-ed-border--active {
  &.brz-ed-border--grey > .brz-ed-border__inner {
    border-color: $by__block__border__grey;
  }
  &.brz-ed-border--blue > .brz-ed-border__inner {
    border-color: $by__block__border__blue;
  }
  &.brz-ed-border--red > .brz-ed-border__inner {
    border-color: $by__block__border__red;
  }
}

// Hover + Active
.brz-ed-border:hover >,
.brz-ed-border--hovered >,
.brz-ed-border--active > {
  // Button
  .brz-ed-border__button {
    opacity: 1;
    visibility: visible;
    font-size: 8px;
    pointer-events: all;
  }

  // Column Draggable
  .brz-ed-draggable__column {
    opacity: 1;
    visibility: visible;
  }

  // Section CollapsibleToolbar
  .brz-ed-collapsible--section {
    opacity: 1;
  }
}

// With data
[data-brz-border] {
  position: relative;

  // Section CollapsibleToolbar
  > .brz-ed-collapsible--section.brz-ed-collapsible--opened {
    opacity: 1;
  }
}

// Border Style
[data-brz-border--none] {
  border-style: none;
}
[data-brz-border--solid] {
  border-style: solid;
}
[data-brz-border--dotted] {
  border-style: dotted;
}

// Border Style Active
[data-brz-border--active] > {
  .brz-ed-border--active-none {
    border-style: none;
  }
  .brz-ed-border--active-solid {
    border-style: solid;
  }
  .brz-ed-border--active-dotted {
    border-style: dotted;
  }
}
[data-brz-border]:hover,
[data-brz-border--hovered],
[data-brz-border--active] {
  &[data-brz-border--grey] > .brz-ed-border__inner {
    border-color: $by__block__border__grey;
  }
  &[data-brz-border--blue] > .brz-ed-border__inner {
    border-color: $by__block__border__blue;
  }
  &[data-brz-border--red] > .brz-ed-border__inner {
    border-color: $by__block__border__red;
  }
}

// Colors
[data-brz-border--grey] > .brz-ed-border__button {
  background-color: $by__block__border__grey;
}
[data-brz-border--blue] > .brz-ed-border__button {
  background-color: $by__block__border__blue;
}
[data-brz-border--red] > .brz-ed-border__button {
  background-color: $by__block__border__red;
}
[data-brz-border]:hover,
[data-brz-border--hovered],
[data-brz-border--active] {
  &[data-brz-border--grey] > .brz-ed-border__inner {
    border-color: $by__block__border__grey;
  }
  &[data-brz-border--blue] > .brz-ed-border__inner {
    border-color: $by__block__border__blue;
  }
  &[data-brz-border--red] > .brz-ed-border__inner {
    border-color: $by__block__border__red;
  }
}

// Hover + Active
[data-brz-border]:hover >,
[data-brz-border--hovered] >,
[data-brz-border--active] > {
  // Button
  .brz-ed-border__button {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // Column Draggable
  .brz-ed-draggable__column {
    opacity: 1;
    visibility: visible;
  }

  // Section CollapsibleToolbar
  .brz-ed-collapsible--section {
    opacity: 1;
  }
}

// CollapsibleToolbar for section
[data-brz-border--hidden] >,
[data-brz-border--hidden]:hover > {
  .brz-ed-collapsible--section {
    opacity: 0;
    pointer-events: none;
  }
}
