// Shortcode Carousel
.brz-carousel {
  > .slick-slider > .slick-list > .slick-track > .slick-slide {
    > div > .brz-columns > .brz-ed-border {
      > .brz-ed-border__inner {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
  > .slick-slider > .slick-list > .slick-track > .slick-active + .slick-active {
    > div > .brz-columns > .brz-ed-border {
      > .brz-ed-border__inner {
        left: -2px;
      }
    }
  }
}
