// DropDown Field
.brz-ed-dropdown {
  display: inline-block;
  position: relative;
  background: #999;
}

.brz-ed-dropdown-options {
  background: #999;
  position: absolute;
  min-width: 100%;
  left: 0;
  top: 100%;
  z-index: 50;

  >div>div:first-child {
    border-right-width: 0 !important;
  }

  // ScrollPane
  .brz-ed-tall-track {
    top: 13px !important;
    height: 218px !important;
    margin-left: -10px;
    width: 6px;
  }

  .brz-ed-tall-track .brz-ed-tall-thumb {
    width: 6px;
    border-radius: 3px;
    background: #44474b;
  }
}

.brz-ed-dropdown-current {
  cursor: pointer;
}

.brz-ed-dropdown-option-item {
  font-family: $default-font-family;
  cursor: pointer;
  color: #fff;
  padding-left: 24px;
}

.brz-ed-dropdown-option-item:hover,
.brz-ed-dropdown-option-item.brz-ed-dropdown-option-item-active {
  color: #34beea;
}
