&#ecwid_body {
  @media screen and (max-width: 767px) {
    & {
      overflow: auto !important;
    }
  }
}

.brz-ecwid-search-wrapper {
  input,
  select {
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    .ec-store {
      .ec-filters.ec-filters--popup {
        display: none;
      }
    }
  }
}
