.brz-ecwid-wrapper.brz-ecwid-product-wrapper {
  .product-details {
    &__sidebar {
      .product-details-module {
        &__content {
          .details-product-purchase__controls
            .details-product-purchase__bag-controls
            .details-product-purchase__add-buttons {
            display: flex !important;
            flex-wrap: wrap;

            .form-control {
              display: flex !important;

              .form-control__button {
                min-height: 1px !important;
              }
            }

            .details-product-purchase__add-more {
              position: relative !important;
            }
          }
        }
      }

      .product-details-module.product-details__action-panel {
        .details-product-purchase__controls {
          .details-product-purchase__checkout-controls {
            display: flex !important;
            width: 100% !important;

            .form-control {
              display: flex !important;
              margin-top: 0 !important;

              .form-control__button {
                min-height: 0 !important;
              }
            }
          }
        }
      }

      .product-details-module.product-details__product-like.favorite-product {
        margin-bottom: 0 !important;

        .product-details-module__content {
          display: flex !important;
          flex-wrap: wrap !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          .form-control {
            display: flex !important;
            max-width: 100% !important;
            min-height: 0 !important;

            .form-control__button {
              display: inline-flex !important;
              justify-content: center;
              min-height: 0 !important;

              &-svg {
                float: none !important;
                margin-top: auto !important;
                margin-bottom: auto !important;

                .svg-icon {
                  top: auto !important;
                  margin: 0 !important;
                }
              }

              &-text {
                align-self: center;
                padding-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
