// Image
.brz-image {
  overflow: initial;

  object {
    width: 100% !important;
  }
}
.brz-ed-image__content {
  position: relative;
  width: 100%;
}
.brz-ed-image__wrapper-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.brz-ed-image__wrapper {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .dynamic-image {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
  }
  .brz-img {
    max-width: none;
    user-select: none;
    display: block;
  }
  .brz-picture:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-radius: inherit;
  }
}

// Only Story
// Image
.brz-image--story {
  font-size: 0;

  .brz-ed-border,
  .brz-d-xs-flex {
    display: inline-block;
  }
}
