.brz-ed-component__label {
  font-family: $font-family-1;
  font-size: $options-item-font-size;
  color: $options-label-color;
  font-weight: 600;
  flex-basis: auto;
  margin-right: 17px;
  margin-bottom: 6px;
  display: flex;
  line-height: 1.3;
}
