.brz-ed-component__label {
  font-family: $default-font-family;
  font-size: $options__item-font-size;
  color: $options__label-color;
  font-weight: 600;
  flex-basis: auto;
  margin-right: 17px;
  margin-bottom: 6px;
  display: flex;
  line-height: 1.3;
}
