.brz-menu__editor {
  .brz-menu__item--opened > {
    .brz-menu__sub-menu,
    .brz-mega-menu {
      visibility: visible;
      opacity: 1;
      z-index: z("mega-menu");
      transition: 0.2s visibility linear, 0.2s opacity linear,
        0.2s transform linear;
    }
    .brz-menu__sub-menu {
      transform: translateX(0);
    }
  }
}

// MMenu
&.brz-mm-wrapper_opened {
  .brz-root__container {
    position: relative;
  }

  // Popups
  .brz-section__header,
  .brz-root__container {
    z-index: 1;
  }
  .brz-popup,
  .brz-popup2,
  .brz-section__header--animated {
    z-index: 2;
  }
}

&.brz-ed--desktop {
  .brz-mm-menu--desktop {
    position: fixed;
  }
}
&.brz-ed--tablet {
  .brz-mm-menu--tablet {
    position: fixed;
  }
}
