// Editor Shortcode Menu
.brz-menu__editor {
  .brz-menu__item--opened > .brz-menu__sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: z("mega-menu");
    transition: 0.2s visibility linear, 0.2s opacity linear;
  }

  // Custom Navbar title in Editor Mode
  .brz-mm-panel_has-navbar {
    padding-top: 0;

    & > .brz-mm-navbar {
      display: none;
    }
  }
}

// MMenu
&.brz-mm-wrapper_opened {
  .brz-root__container {
    position: relative;
  }

  // Popups
  .brz-section__header,
  .brz-root__container {
    z-index: 1;
  }
  .brz-popup,
  .brz-popup2,
  .brz-section__header--animated {
    z-index: 2;
  }
}
.brz-mm-menu__item-empty .brz-mm-btn,
.brz-mm-menu__item-mega-menu .brz-mm-menu__sub-menu,
.brz-mm-menu__item-dropdown .brz-mega-menu__mmenu {
  display: none;
}

// Fixed by devices
&.brz-ed--desktop {
  .brz-mm-menu--desktop {
    position: fixed;
  }
}
&.brz-ed--tablet {
  .brz-mm-menu--tablet {
    position: fixed;
  }
}
