.brz-eventLayout {
  .brz-eventLayout--filters {
    .brz-eventLayout--filters-form,
    .brz-eventLayout--filters-form-search {
      pointer-events: none;
    }
  }

  .brz-eventLayout--list-item,
  .brz-eventLayout--calendar-item {
    display: block !important;
  }

  .brz-eventLayout--list-item:not(:first-child) {
    display: none !important;
  }

  .brz-eventLayout--calendar-item:not(:first-child) {
    display: none !important;
  }
}
