.brz-ed-portal__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 8, 15, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 30px;
  z-index: 1100;

  .brz-icon-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
