// Columns Border
@for $i from 1 through 6 {
  .brz-posts__col-#{$i} > {
    .brz-columns:nth-child(#{$i}n + 1) > {
      .brz-ed-border > {
        .brz-ed-border__inner {
          left: -2px;
        }
      }
    }
  }
}
.brz-posts ul.page-numbers li {
  pointer-events: none;
}
