// Columns Border
@for $i from 1 through 6 {
  .brz-posts__col-#{$i} > {
    .brz-columns:nth-child(#{$i}n + 1) > {
      .brz-ed-border > {
        .brz-ed-border__inner {
          left: -2px;
        }
      }
    }
  }
}

.brz-posts__pagination a.page-numbers {
  pointer-events: none;
}

.brz-ecwid-product-placeholder {
  svg.brz-icon-svg {
    width: auto;
    height: auto;

    use {
      color: #0e0736 !important;
      transform: scale(0.55);
      transform-origin: center;
    }
  }
}
