.brz-ed-scroll-pane {
  position: relative;

  > div {
    border-color: transparent;
  }
  .brz-ed-wide-track {
    position: absolute;
    height: 8px;
    background: transparent;
  }
  .brz-ed-wide-thumb {
    height: 100%;
    width: 0;
    background-color: #34beea;
  }
  .brz-ed-tall-track {
    position: absolute;
    right: 0;
    width: 8px;
    background: transparent;
  }
  .brz-ed-tall-thumb {
    width: 100%;
    height: 0;
    background-color: #34beea;
  }
}

// Small
.brz-ed-scroll--small {
  .brz-ed-tall-track {
    width: 4px;
    right: 4px;
  }
  .brz-ed-wide-track {
    height: 4px;
  }
}

// Medium
.brz-ed-scroll--medium {
  .brz-ed-tall-track {
    width: 6px;
    right: 5px;
  }
  .brz-ed-wide-track {
    height: 6px;
  }
}

// Dark
.brz-ed-scroll--dark {
  .brz-ed-wide-thumb {
    background-color: rgba(#44474b, 0.5);
    border-radius: 4px;
  }
  .brz-ed-tall-thumb {
    background-color: rgba(#44474b, 0.5);
    border-radius: 4px;
  }
}

// Darker
.brz-ed-scroll--darker {
  .brz-ed-wide-thumb {
    background-color: #3f4652;
    border-radius: 4px;
  }
  .brz-ed-tall-thumb {
    background-color: #3f4652;
    border-radius: 4px;
  }
}

// New Dark for New Blocks
.brz-ed-scroll--new-dark {
  .brz-ed-wide-thumb {
    background-color: #818a91;
    border-radius: 3px;
  }
  .brz-ed-tall-thumb {
    background-color: rgba(129, 138, 145, 0.5);
    border-radius: 3px;
  }
}
