.brz-rich-text {
  .link--anchor,
  .link--external,
  .link--popup {
    &:not(.is-empty) {
      text-decoration: $link-is-not-empty;

      @include hover {
        text-decoration: $link-is-not-empty;
      }
    }
    &.is-empty {
      text-decoration: $link-is-empty;

      @include hover {
        text-decoration: $link-is-empty;
      }
    }
  }
}
