.brz-rich-text {
  .link--anchor,
  .link--external,
  .link--popup {
    &:not(.is-empty) {
      text-decoration: $link-is-not-empty;

      @include hover {
        text-decoration: $link-is-not-empty;
      }
    }
    &.is-empty {
      text-decoration: $link-is-empty;

      @include hover {
        text-decoration: $link-is-empty;
      }
    }
  }
}

.brz-story {
  .brz-rich-text {
    p {
      width: 100%;
      font-size: calc(16% * 0.23);
    }
    .brz-ed-box__resizer {
      font-size: inherit;
    }
    .brz-ed-box__resizer {
      font-size: inherit;
    }
  }
}
