.brz-rich-text {
  .link--anchor,
  .link--story,
  .link--external,
  .link--upload,
  .link--popup {
    &:not(.is-empty) {

      @include hover {
        text-decoration: $link-is-not-empty;
      }
    }
    &.is-empty {

      @include hover {
        text-decoration: $link-is-empty;
      }
    }
  }
  
  .link--page,
  .link--dynamic {
    text-decoration: $link-is-not-empty;
  }

  // Text Reset
  [contenteditable="true"] > h1,
  [contenteditable="true"] > h2,
  [contenteditable="true"] > h3,
  [contenteditable="true"] > h4,
  [contenteditable="true"] > h5,
  [contenteditable="true"] > h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-transform: initial;
    text-decoration: initial;

    &:before {
      display: none;
    }
  }

  [contenteditable="true"] > p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: initial;
    text-decoration: initial;
  }
}

// With Dynamic content Excerpt
.brz-rich-text__population-cloud {
  a {
    text-decoration: $link-is-not-empty;

    @include hover {
      text-decoration: $link-is-not-empty;
    }
  }
}

.brz-story {
  .brz-rich-text {
    p {
      width: 100%;
    }
    .brz-ed-box__resizer {
      font-size: inherit;
    }
  }
}
