.brz-custom-video{
  padding-bottom: 0;

  > .brz-ed-box__resizer {
    padding-bottom: 50px;
  }
  &.off-controls-hidden{
    > .brz-ed-box__resizer {
      padding-bottom: 0;
    }
  }
  .brz-video-content {
    .brz-shortcode__placeholder {
      z-index: 999;
    }
    .brz-video__cover-icon {
      z-index: 999;
    }
  }
  .progress {
    width: 25%;
  }
}
