// --- Imports Options

// Select
@import "controls/select";

// Switch
@import "controls/switch";
@import "controls/switch2";

// Range UI Slider
@import "controls/slider";

@import "controls/slider2";

@import "controls/number-slider";

// Stepper
@import "controls/stepper";

// Radio
@import "controls/radio";

// Tabs
@import "controls/tabs";

// Smart Input
@import "controls/smart-input";

@import "controls/number-unit";

// Multi Picker
@import "controls/multi-picker";

// Select Single
@import "controls/select-single";
// Multi Select
@import "controls/multi-select";

// Radio Group
@import "controls/radio-group";
@import "controls/radio-group2";

// Tooltip
@import "controls/tooltip";

// Focal Point
@import "controls/image-setter";

// Icon Setter
@import "controls/icon-setter";

// Input
@import "controls/input";

@import "controls/input2";

// Textarea
@import "controls/textarea";

// ColorPalette
@import "controls/color-palette";

// ColorPicker
@import "controls/color-picker";
@import "controls/color-picker2";
@import "controls/color-picker3";
@import "controls/color-picker-select";
@import "controls/color-picker-inputs";

// Dowhshift
@import "controls/listbox";

// Select2 Downshift
@import "controls/select2";

// Input Placeholder
@import "controls/input-placeholder";

// Font Style
@import "controls/font-style";

// Typography
@import "controls/typography";

// Code
@import "controls/code-mirror";

// Border
@import "controls/border";

// Popover
@import "controls/popover";

// Background Color
@import "controls/background-color";

// Number
@import "controls/number";

// Population
@import "controls/population";
