/* Font Icons */
.brz-font-icon {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
