// Imports
// Icon
@import "prompts/icon";

// Adder
@import "prompts/adder";

// Popup
@import "prompts/popup";

// Blocks
@import "prompts/blocks";

// Integrations
@import "prompts/integration";

// Hot Keys
@import "prompts/hot-keys";

// Recaptcha
@import "prompts/recaptcha";

// Fonts
@import "prompts/fonts";

// Conditions
@import "prompts/conditions";

// Authorization
@import "prompts/authorization";
