// --- Sidebar
.brz-ed-sidebar {
  font-family: $font-family-1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebar-size;
  color: $sidebar-font-color;
  z-index: z("sidebar") + 1;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &__edit-button {
    color: #fff;
    font-family: $font-family-1;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
    }
  }

  .brz-ed-sidebar__add-elements--separator-title {
    width: 182px;
    margin: 11px auto 15px 49px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: $font-family-1;
    font-weight: 600;
    color: #818a91;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    &::before,
    &::after {
      content: "";
      height: 1px;
      background: rgba(255, 255, 255, 0.1);
      margin-top: -1px;
    }

    &::before {
      min-width: 11px;
      margin-right: 5px;
    }
    &::after {
      width: 100%;
      margin-left: 7px;
    }
  }

  // Control
  &__control {
    background: $sidebar-bg;
    box-shadow: $sidebar-shadow;
    height: 100%;
    position: relative;
    z-index: 1;

    &__item {
      font-size: $sidebar-font-size;
      color: #fff;
      width: $sidebar-size;
      max-height: (
        $sidebar-font-size + ($sidebar-item-padding * 2) + 1
      ); // 1 is border-bottom

      padding-top: $sidebar-item-padding;
      padding-bottom: $sidebar-item-padding;
      line-height: 1;
      cursor: pointer;
      text-align: center;
      transition: color 0.25s ease;
      border-bottom: 1px solid $sidebar-item-separator-1;

      &:hover,
      &--active {
        color: $brand-primary;
      }
      &__device {
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 0;

        &:first-child {
          padding-top: 20px;
        }
        &:nth-child(3) {
          padding-bottom: 20px;
        }
      }
      &__menu {
        border-top: 1px solid $sidebar-item-separator-1;
        border-bottom: 0;
      }
      .brz-a {
        color: #fff;
        transition: color 0.25s ease;

        &:hover,
        &:active {
          color: $brand-primary;
        }
      }
    }
    &--bottom {
      position: absolute;
      bottom: 0;
      z-index: 2;
      border-top: 1px solid $sidebar-item-separator-1;
    }
    &__options .brz-ed-sidebar__control__options {
      .brz-ed-sidebar__control__item {
        cursor: auto;
        width: auto;
        max-height: none;
      }
    }
  }

  // Control Bottom
  &__control--bottom {
    > .brz-ed-sidebar__control__item:last-child {
      border-bottom-color: transparent;
    }
  }

  // Content
  &__content {
    position: absolute;
    top: 0;
    left: $sidebar-size;
    width: $sidebar-content-size;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $sidebar-content-bg;

    &.active {
      animation-name: brz-ed-shadow-animation;
      animation-fill-mode: forwards;
      animation-duration: 150ms;
      animation-delay: 200ms;
    }

    // Sidebar Content Box shadow animation
    @keyframes brz-ed-shadow-animation {
      from {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
      to {
        box-shadow: $sidebar-content-shadow;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: $sidebar-size;
    background-color: $sidebar-header-bg;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__header__title {
    font-size: $sidebar-header-font-size !important;
    font-family: $font-family-1 !important;
    font-weight: 600 !important;
  }
  &__main {
    flex-grow: 1;
    height: 100%;
  }

  // Popover
  &__popover {
    position: relative;

    &-content {
      position: absolute;
      bottom: 10px;
      left: 58px;
      max-width: 190px;
      min-width: 190px;
      border-radius: $toolbar-border-radius;
      background-color: $sidebar-bg;
      box-shadow: $toolbar-box-shadow;

      &:before {
        content: "";
        position: absolute;
        left: -$toolbar-arrow-size;
        bottom: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $toolbar-arrow-size $toolbar-arrow-size
          $toolbar-arrow-size 0;
        border-color: transparent $sidebar-bg transparent transparent;
      }
    }

    // Custom position popover
    &--deviceMode {
      .brz-ed-sidebar__popover-content {
        bottom: -25px;
        min-width: 130px;

        &:before {
          bottom: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &__item {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 13px;
      color: #fff;
      font-family: $font-family-1;
      font-weight: 600;
      padding: 10px 25px;
      transition: all 0.3s linear;
      white-space: nowrap;
      border-bottom: 1px solid $brand-options-border;

      &:last-child {
        border-bottom-color: transparent;
      }
      .brz-icon-svg {
        margin-right: 12px;
        font-size: 12px;
      }
      &:hover {
        cursor: pointer;
        color: $brand-primary;
      }
      &--active {
        color: $brand-primary;
      }
      .brz-span {
        position: relative;
        top: 1px;
      }
      .brz-a {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s linear;

        &:hover {
          color: $brand-primary;
        }
      }
    }

    // Popover Button
    &__btn {
      border-radius: 2px;
      background-color: #0085ba;
      border-bottom: 2px solid #006799;
      padding: 8px 14px 6px;
      font-size: 13px;
      line-height: 1;
      font-family: $font-family-1;
      text-decoration: none;
      color: #fff;

      &.brz-a:hover,
      &.brz-a:focus {
        color: #fff;
      }
    }
  }

  // Button
  &__btn {
    height: $sidebar-size;
    color: #fff;
    flex-basis: 50%;
    font-size: 12px;
    font-family: $font-family-1;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: $sidebar-size;

    &--active {
      background-color: $sidebar-btn-bg;
    }

    &:hover {
      color: #fff;
    }
  }

  // Ordering
  &-sortable {
    padding-top: 27px;

    &--sorting {
      cursor: move !important;

      .brz-ed-sidebar-block-item {
        border-color: transparent !important;

        .brz-ed-sidebar-block-image {
          cursor: move !important;
        }
        .brz-ed-sidebar-block-remove {
          display: none !important;
        }
        .brz-ed-sidebar-block-layout {
          opacity: 0 !important;
        }
      }
    }
  }

  // Blocks
  &-block {
    // Block Item
    &-item {
      position: relative;
      padding: 8px 0;
      margin-top: -1px;
      border-top: 1px dashed rgba(0, 0, 0, 0);
      border-bottom: 1px dashed rgba(0, 0, 0, 0);

      &:first-child {
        margin-top: 12px;
      }
      &:hover {
        border-top-color: #286b85;
        border-bottom-color: #286b85;

        .brz-ed-sidebar-block-remove {
          display: block;
        }
        .brz-ed-sidebar-block-layout {
          opacity: 1;
        }
      }

      &.brz-ed-sidebar-block-item-helper {
        cursor: move;
        z-index: 9999;
      }
    }

    // Item Image
    &-image {
      position: relative;
      width: 185px;
      border: 5px solid #474c55;
      margin: 0 auto;
      cursor: move;
      background-size: cover;
      background-position: center;

      &-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #474c55;
        color: white;
      }

      > .brz-img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 100%;
      }
    }

    // Item Remove Icon
    &-remove {
      display: none;
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      outline: none;
      cursor: pointer;
      font-size: 20px;
      line-height: 1;
      height: 20px;
      color: #34beea;

      svg {
        fill: #34beea;
      }
    }

    // Layout
    &-layout {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-right: 1px;
      background: rgba(255, 255, 255, 0.7);
      text-align: center;
      font-size: 10px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms;

      > .brz-span {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
      }
    }

    // Drag and Drop
    &-drag {
      display: block;
      height: 32px;
      width: 132px;
      margin: -16px auto 0;
      border-radius: 16px;
      background: rgba(17, 17, 41, 0.85);
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.01em;
    }
  }

  // Styling
  &__styling {
    padding: 30px;
    height: 100%;

    .brz-ed-sidebar-options > [class^="brz-ed-option"] {
      margin-bottom: 30px;
    }
    .brz-ed-sidebar-options {
      .brz-ed-option__select {
        border-bottom: 1px solid #3a3f47;
        padding-bottom: 30px;
      }
      .brz-ed-option__select > div,
      .brz-control__select {
        width: 100%;
      }
    }
  }

  // Variants
  &-variants {
    height: $sidebar-size;
    background-color: $sidebar-content-footer-bg;
  }

  // WP Page Template
  &__wp-template {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-top: 14px;
    padding-bottom: 17px;

    // label
    .brz-ed-option__label {
      margin-bottom: 6px;
    }

    // Select
    .brz-control__select {
      width: 100%;
    }
    .brz-control__select-current {
      .brz-control__select-option {
        width: calc(100% - 10px);
      }
      .brz-control__select--arrow {
        font-size: 8px;
        margin-right: 0;
      }
    }
    .brz-control__select-option {
      width: 100%;
      text-align: left;
      font-weight: normal;
    }
  }

  // WP Feature Image
  &__wp-feature__image {
    height: auto;
    display: block;
    padding-top: 14px;
    padding-bottom: 17px;

    .brz-ed-control__focal-point {
      display: inline-block;
    }
    .brz-ed-control__focal-point__delete {
      .brz-icon-svg {
        margin: 0;
      }
    }
    .brz-ed-option__label {
      margin-bottom: 6px;
    }
  }

  // Add Elements
  &__add-elements {
    display: flex;
    flex-wrap: wrap;
    margin-left: 38px;

    &--base {
      padding-bottom: 0;
    }
    &__item {
      position: relative;
      padding: 7px 11px 14px;
      text-align: center;
      line-height: 1;
      font-size: 0;

      @include hover-focus-active() {
        cursor: move;

        .brz-ed-sidebar__add-elements__icon {
          border-color: $brand-primary;
          color: $brand-primary;
        }
        .brz-ed-sidebar__add-elements__text {
          color: $brand-primary;
        }
      }

      // Show Tooltip on hover
      &:hover {
        .brz-ed-sidebar__add-elements__tooltip {
          opacity: 1;
          visibility: visible;
          transition-delay: 750ms;
        }
      }
      &-edit:hover {
        .brz-ed-sidebar__add-elements__icon {
          border-color: #818a91;
          color: #fff;
        }
        .brz-ed-sidebar__add-elements__text {
          color: #fff;
        }
      }
    }
    &__icon {
      width: 46px;
      height: 46px;
      border: 2px solid rgba(60, 66, 77, 1);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      transition: all 0.2s ease-out;
      font-size: 16px;
      margin-bottom: 6px;
    }
    &__text {
      font-size: 12px;
      font-family: $font-family-1;
      font-weight: 600;
      letter-spacing: 0.1px;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.2s ease-out;
      margin: 0 -5px;
      max-width: 54px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &--separator {
      margin: 8px 49px 18px;
      border: 0;
      border-top: 1px solid #3c424d;
    }
    &__tooltip {
      margin-bottom: -7px;
      transition: opacity 0.15s linear;

      @extend .brz-ed-toolbar__item__tooltip;
    }
    &:last-child {
      padding-bottom: 40px;
    }
  }
  &__checked {
    width: 16px;
    height: 16px;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 8px;
    background: #000;

    .brz-icon-svg {
      color: rgb(34, 175, 218);
    }
  }
  &__edit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;

    .brz-ed-sidebar__checked {
      border: 1px solid rgba(129, 138, 145, 0.6);
    }
    .brz-icon-svg {
      opacity: 0;
    }

    &--checked {
      .brz-ed-sidebar__checked {
        border: 0;
        background-color: #0085ba;
      }
      .brz-icon-svg {
        opacity: 1;
      }
    }
  }
  &__search {
    width: 182px;
    margin: 48px auto 18px 49px;
    position: relative;
    font-size: 12px;

    .brz-input {
      width: 100%;
      background: transparent;
      border: 0;
      outline: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-left: 31px;
      padding-top: 1px;
      padding-bottom: 12px;
      color: #fff;
      font-size: 14px;
      font-family: $font-family-1;

      &::placeholder {
        color: #818a91;
        font-style: italic;
      }
    }
  }
  &__button-search {
    position: absolute;
    top: 2px;
    left: 6px;

    .brz-icon-svg {
      color: #818a91;
    }
  }
}

// Sidebar Right
@import "sidebar/sidebar-right";

// Sidebar Options
@import "sidebar/sidebar-options";

// CMS
@import "sidebar/cms";
