// --- Sidebar
@import "@brizy/builder-ui-components/src/HelpSidebar/style/index";

.brz-ed-sidebar {
  font-family: $default-font-family;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebar-size;
  color: $sidebar-color;
  z-index: z("sidebar");
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &__ai-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .brz-ed-arrow::after {
      border-top-color: $right_sidebar__tooltip-bg;
    }

    &-tooltip {
      font-size: 12px;
      line-height: 1;
      font-family: $default-font-family;
      height: 27px;
      width: auto;
      min-width: 60px;
      white-space: nowrap;
      background-color: $right_sidebar__tooltip-bg;
      color: $right_sidebar__tooltip-color;
      text-align: center;
      padding: 7px 10px;
      border-radius: 14px;
      z-index: 1;
      transition: opacity 0.15s linear;
    }

    &-button {
      margin-inline-start: 3px;
      width: 24px;
      height: 24px;
      border: none;
      color: $icon-color;
      background: var(--inputs-bg, #383e48);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: var(--active-color, #3dbfe8);
      }
    }

    &-title {
      width: 182px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 10px;
      font-family: $default-font-family;
      font-weight: 600;
      color: $left_sidebar__main__separator__title-color;
      text-transform: uppercase;
      letter-spacing: 0.8px;

      &::before,
      &::after {
        content: "";
        height: 1px;
        background: $left_sidebar__main__separator__line-bg;
        margin-top: -1px;
      }

      &::before {
        min-width: 11px;
        margin-inline-end: 5px;
      }

      &::after {
        width: 100%;
        margin-inline-start: 7px;
      }
    }
  }

  .brz-ed-sidebar__add-elements--separator-title {
    width: 182px;
    margin: 11px auto 15px 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-family: $default-font-family;
    font-weight: 600;
    color: $left_sidebar__main__separator__title-color;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    cursor: pointer;

    span {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .brz-icon-svg {
      font-size: 8px;
      transition: all 0.2s ease;
      transform: rotate(-90deg);
      color: $left_sidebar__main__separator__arrow-color;
    }

    &--opened {
      .brz-icon-svg {
        transform: rotate(-180deg);
      }
    }

    span::after {
      content: "";
      display: flex;
      height: 1px;
      background: $left_sidebar__main__separator__line-bg;
      margin-top: -1px;
      width: 100%;
      margin-inline-start: 7px;
      margin-inline-end: 5px;
    }
  }

  // Control
  &__control {
    background: $sidebar-bg;
    box-shadow: 0 1px 8px 1px $sidebar-box-shadow;
    height: 100%;
    position: relative;
    z-index: 2;

    &__item {
      font-size: $sidebar-font-size;
      color: $left_sidebar__elements-color;
      width: $sidebar-size;
      max-height: (
        $sidebar-font-size + ($sidebar__item-padding * 2) + 1
      ); // 1 is border-bottom

      padding-top: $sidebar__item-padding;
      padding-bottom: $sidebar__item-padding;
      line-height: 1;
      cursor: pointer;
      text-align: center;
      transition: color 0.25s ease;
      border-bottom: 1px solid $sidebar__item__separator-border;

      &:hover,
      &--active {
        color: $left_sidebar__elements-color--active;
      }

      &__device {
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 0;

        &:first-child {
          padding-top: 20px;
        }

        &:nth-child(3) {
          padding-bottom: 20px;
        }
      }

      &__menu {
        border-top: 1px solid $sidebar__item__separator-border;
        border-bottom: 0;
      }

      .brz-a {
        color: $sidebar__popover__item-color;
        transition: color 0.25s ease;

        &:hover,
        &:active {
          color: $brand__primary;
        }
      }
    }

    &--bottom {
      position: absolute;
      bottom: 0;
      z-index: 2;
      border-top: 1px solid $sidebar__item__separator-border;
    }

    &__options .brz-ed-sidebar__control__options {
      .brz-ed-sidebar__control__item {
        width: auto;
        max-height: none;
      }
    }

    &-cms {
      > .brz-ed-sidebar__control__options {
        > .brz-ed-sidebar__control__item {
          padding-top: 20px;
          padding-bottom: 20px;
          max-height: none;
          border-bottom-width: 0;
        }

        &.brz-ed-sidebar__control {
          &--top {
            > .brz-ed-sidebar__control__item {
              &:first-child {
                border-bottom-width: 1px;
              }
            }
          }

          &--bottom {
            border-top-width: 0;

            > .brz-ed-sidebar__control__item {
              &:last-child {
                border-top-width: 1px;
              }

              &:nth-child(2) {
                border-bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }

  // Control Bottom
  &__control--bottom {
    > .brz-ed-sidebar__control__item:last-child {
      border-bottom-color: transparent;
    }
  }

  &__right__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $sidebar-color;
  }

  // Popover
  &__popover {
    &-content {
      max-width: fit-content;
      min-width: 190px;
      border-radius: $toolbar-border-radius;
      background-color: $sidebar__popover-bg;
      box-shadow: 0 0 5px 0 $sidebar__popover-box-shadow;
    }

    // Custom position popover
    &--deviceMode {
      .brz-ed-sidebar__popover-content {
        min-width: 130px;
        max-width: fit-content;
      }
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 13px;
      color: $sidebar__popover__item-color;
      font-family: $default-font-family;
      font-weight: 600;
      padding: 10px 25px;
      transition: all 0.3s linear;
      white-space: nowrap;
      border-bottom: 1px solid $sidebar__popover__item-border-bottom-color;

      &:last-child {
        border-bottom-color: transparent;
      }

      .brz-icon-svg {
        margin-inline-end: 12px;
        font-size: 12px;
        vertical-align: top;
      }

      &:hover {
        cursor: pointer;
        color: $sidebar__popover__item-color--hover;
      }

      &--active {
        color: $sidebar__popover__item-color--hover;
      }

      .brz-span {
        position: relative;
      }

      .brz-a {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s linear;

        &:hover {
          color: $brand__primary;
        }
      }
    }

    // Popover Button
    &__btn {
      border-radius: 2px;
      background-color: #0085ba;
      border-bottom: 2px solid #006799;
      padding: 8px 14px 6px;
      font-size: 13px;
      line-height: 1;
      font-family: $default-font-family;
      text-decoration: none;
      color: #fff;

      &.brz-a:hover,
      &.brz-a:focus {
        color: #fff;
      }
    }
  }

  // Ordering
  &-sortable {
    padding-top: 27px;

    &--sorting {
      cursor: move !important;

      .brz-ed-sidebar-block-item {
        border-color: transparent !important;

        .brz-ed-sidebar-block-image {
          cursor: move !important;
        }

        .brz-ed-sidebar-block-remove {
          display: none !important;
        }

        .brz-ed-sidebar-block-layout {
          opacity: 0 !important;
        }
      }
    }
  }

  // Blocks
  &-block {
    // Block Item
    &-item {
      position: relative;
      padding: 8px 0;
      margin-top: -1px;
      border-top: 1px dashed rgba(0, 0, 0, 0);
      border-bottom: 1px dashed rgba(0, 0, 0, 0);

      &:first-child {
        margin-top: 12px;
      }

      &:hover {
        border-top-color: $sidebar__block-border--hover;
        border-bottom-color: $sidebar__block-border--hover;

        .brz-ed-sidebar-block-remove {
          display: block;
        }

        .brz-ed-sidebar-block-layout {
          opacity: 1;
        }
      }

      &.brz-ed-sidebar-block-item-helper {
        cursor: move;
        z-index: 9999;
      }
    }

    // Item Image
    &-image {
      position: relative;
      width: 185px;
      border: 5px solid $sidebar__block-border;
      margin: 0 auto;
      cursor: move;
      background-size: cover;
      background-position: center;

      &-loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #474c55;
        color: white;
      }

      > .brz-img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 100%;
      }
    }

    // Item Remove Icon
    &-remove {
      display: none;
      position: absolute;
      top: 50%;
      inset-inline-end: 14px;
      transform: translateY(-50%);
      outline: none;
      cursor: pointer;
      font-size: 20px;
      line-height: 1;
      height: 20px;
      color: $sidebar__block__icon-color;

      svg {
        fill: $sidebar__block__icon-color;
      }
    }

    // Layout
    &-layout {
      position: absolute;
      inset: 0;
      padding-inline-end: 1px;
      background: $sidebar__block-bg;
      text-align: center;
      font-size: 10px;
      color: $sidebar__block__drag-color;
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms;

      > .brz-span {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    // Drag and Drop
    &-drag {
      display: block;
      height: 32px;
      width: 132px;
      margin: -16px auto 0;
      border-radius: 16px;
      background: $sidebar__block__drag-bg;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.01em;
    }
  }

  // Styling
  &__styling .brz-ui-editable-select {
    &-dots {
      margin-left: unset;
      margin-inline-start: 5px;
    }

    &__options {
      right: unset;
      inset-inline-end: -40px;
    }
  }

  // WP Page Template
  &__wp-template {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-top: 14px;
    padding-bottom: 17px;
    cursor: auto !important;

    // label
    .brz-ed-option__label {
      margin-bottom: 6px;
    }

    // Select
    .brz-control__select {
      width: 100%;
    }

    .brz-control__select-current {
      .brz-control__select-option {
        width: calc(100% - 10px);
      }

      .brz-control__select--arrow {
        font-size: 8px;
        margin-inline-end: 0;
      }
    }

    .brz-control__select-option {
      width: 100%;
      text-align: start;
      font-weight: normal;
    }
  }

  // WP Feature Image
  &__wp-feature__image {
    height: auto;
    display: block;
    padding-top: 14px;
    padding-bottom: 17px;
    cursor: auto !important;

    .brz-ed-control__focal-point {
      display: inline-block;
    }

    .brz-ed-control__focal-point__delete {
      .brz-icon-svg {
        margin: 0;
      }
    }

    .brz-ed-option__label {
      margin-bottom: 6px;
    }
  }

  // Add Elements
  &__add-elements {
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: 38px;

    &--base {
      padding-bottom: 0;
    }

    &__item {
      position: relative;
      padding: 7px 11px 14px;
      text-align: center;
      line-height: 1;
      font-size: 0;

      @include hover-focus-active() {
        cursor: move;

        .brz-ed-sidebar__add-elements__icon {
          border-color: $left_sidebar__elements-color--active;
          color: $left_sidebar__elements-color--active;
        }

        .brz-ed-sidebar__add-elements__text {
          color: $left_sidebar__elements-color--active;
        }
      }

      &-pro {
        &:hover,
        &:active {
          cursor: pointer;

          .brz-ed-sidebar__add-elements__icon {
            border-color: $options__item-color--hover;
            color: #fff;
          }

          .brz-ed-sidebar__add-elements__text {
            color: rgba(255, 255, 255, 0.6);
          }
        }

        .brz-ed-sidebar__add-elements__icon:before {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          inset-inline-start: -3px;
          top: -3px;
          border-radius: 5px;
          background-color: $brand__primary__pro;
        }
      }

      // Show Tooltip on hover
      &:hover {
        .brz-ed-sidebar__add-elements__tooltip {
          opacity: 1;
          visibility: visible;
          transition-delay: 750ms;
        }
      }

      &-edit:hover {
        .brz-ed-sidebar__add-elements__icon {
          border-color: $left_sidebar__elements-border;
          color: $left_sidebar__elements-color;
        }

        .brz-ed-sidebar__add-elements__text {
          color: $left_sidebar__elements__content-color;
        }
      }

      &--disabled {
        opacity: 0.5;

        @include hover-focus-active() {
          cursor: not-allowed;

          .brz-ed-sidebar__add-elements__icon {
            border-color: $left_sidebar__elements-border;
            color: $left_sidebar__elements-color;
          }

          .brz-ed-sidebar__add-elements__text {
            color: $left_sidebar__elements__content-color;
          }
        }

        .brz-ed-sidebar__edit {
          cursor: not-allowed;
        }
      }
    }

    &__icon {
      width: 46px;
      height: 46px;
      border: 2px solid $left_sidebar__elements-border;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $left_sidebar__elements-color;
      background-color: $left_sidebar__elements-bg;
      transition: all 0.2s ease-out;
      font-size: 16px;
      margin-bottom: 6px;
    }

    &__text {
      font-size: 12px;
      font-family: $default-font-family;
      font-weight: 600;
      letter-spacing: 0.1px;
      text-transform: capitalize;
      color: $left_sidebar__elements__content-color;
      transition: color 0.2s ease-out;
      margin: 0 -5px;
      max-width: 54px;
      display: block;

      &--truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &--separator {
      margin: 8px 49px 18px;
      border: 0;
      border-top: 1px solid #3c424d;
    }

    &__tooltip {
      margin-bottom: -7px;
      transition: opacity 0.15s linear;

      @extend .brz-ed-toolbar__item__tooltip;
    }

    &:last-child {
      padding-bottom: 40px;
    }
  }

  &__checked {
    width: 16px;
    height: 16px;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    inset-inline-start: 8px;
    background: $sidebar__edit__unchecked-bg;

    .brz-icon-svg {
      color: $sidebar__edit__checked__icon-color;
    }
  }

  &__edit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    z-index: 10;
    cursor: pointer;

    .brz-ed-sidebar__checked {
      border: 1px solid $sidebar__edit__unchecked-border;
    }

    .brz-icon-svg {
      opacity: 0;
    }

    &--checked {
      .brz-ed-sidebar__checked {
        border: 0;
        background-color: $sidebar__edit__checked__icon-bg;
      }

      .brz-icon-svg {
        opacity: 1;
      }
    }
  }

  &__search {
    width: 182px;
    margin: 48px auto 18px 49px;
    position: relative;
    font-size: 12px;

    .brz-input {
      width: 100%;
      background: transparent;
      border: 0;
      outline: none;
      border-bottom: 1px solid $left_sidebar__main__search-border-bottom-color;
      padding-inline-start: 31px;
      padding-top: 1px;
      padding-bottom: 12px;
      color: $left_sidebar__main__search-text-color;
      font-size: 14px;
      font-family: $default-font-family;

      &::placeholder {
        color: $left_sidebar__main__search__placeholder-color;
        font-style: italic;
      }
    }
  }

  &__button-search {
    position: absolute;
    top: 2px;
    inset-inline-start: 6px;

    .brz-icon-svg {
      color: $left_sidebar__main__search-color;
    }
  }
}

$sidebar: "brz-ed-sidebar-drawer";

.#{$sidebar} {
  @apply z-[1];
  @apply left-[47px] #{!important};
  box-shadow: 0 0 10px 0 $sidebar__content-box-shadow;

  .brz-ui-card {
    @apply overflow-visible;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 0;
  }

  &--align-left {
    @apply text-start #{!important};
    .brz-ed-sidebar-drawer__body {
      @apply mb-0 pb-[30px];
    }
  }

  &__head {
    @apply flex justify-between items-center px-[30px];
    height: $sidebar-size;
    background-color: $sidebar__header-bg;
    color: $sidebar-color;

    &__title {
      @apply text-inherit m-0;
      font-size: $sidebar__header-font-size !important;
      font-family: $default-font-family !important;
      font-weight: 600 !important;
    }

    &__icon__tooltip {
      @apply text-[12px] leading-none text-center text-white whitespace-nowrap;
      @apply h-[27px] w-auto min-w-[60px] rounded-[14px] z-[1];
      @apply py-[7px] px-[10px];
      @apply transition-opacity ease-linear duration-150;
      font-family: $default-font-family;
      background-color: $black-10;
    }

    &__controls {
      @apply flex items-end justify-between;

      .brz-ed-icon-svg {
        @apply text-[12px] font-semibold;
        @apply cursor-pointer ml-[12px];
        @apply transition-[color] ease-out duration-200;
        color: $left_sidebar__elements-color;

        &:hover {
          color: $left_sidebar__elements-color--active;
        }
      }

      .brz-ed-tooltip__overlay {
        @apply bg-transparent ml-[5px] mt-[-5px];
        box-shadow: none;

        .brz-ed-arrow::after {
          border-bottom-color: $black-10;
        }
      }
    }
  }

  &__body {
    @apply flex-grow flex flex-col mb-[90px];
  }

  // Styling  (type of specialized drawer for styling)
  .brz-ed-sidebar__styling {
    @apply flex flex-col pt-[30px] gap-[30px];
    .brz-ed-option-wrapper:not(.brz-ed--scrollable) {
      @apply px-[30px];
    }
  }
}

// Sidebar Right
@import "sidebar/sidebar-right";

// Sidebar Options
@import "sidebar/sidebar-options";
