// Flex variation
//
// Custom styles for additional flex alignment options.
.brz-d-block {
  display: block !important;
}
.brz-d-inline-block {
  display: inline-block !important;
}
.brz-d-inline {
  display: inline !important;
}
.brz-d-none {
  display: none !important;
}
.brz-d-table {
  width: 100%;
  display: table;
  position: relative;
}
.brz-d-table-cell {
  display: table-cell;
}

// Block blocked
.brz-blocked {
  pointer-events: none;
}

.brz-enabled {
  pointer-events: all !important;
}

// Responsive Display flex
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    // Display Flex/inline-flex
    @if $enable-flex {
      .brz-d-#{$breakpoint}-flex {
        display: flex;
        min-width: 0;
      }
      .brz-d-#{$breakpoint}-inline-flex {
        display: inline-flex;
      }
    }
  }
}
