// Font weight
.brz-fw-100 {
  font-weight: 100 !important;
}
.brz-fw-200 {
  font-weight: 200 !important;
}
.brz-fw-300 {
  font-weight: 300 !important;
}
.brz-fw-400 {
  font-weight: 400 !important;
}
.brz-fw-500 {
  font-weight: 500 !important;
}
.brz-fw-600 {
  font-weight: 600 !important;
}
.brz-fw-700 {
  font-weight: 700 !important;
}
.brz-fw-800 {
  font-weight: 800 !important;
}
.brz-fw-900 {
  font-weight: 900 !important;
}
.brz-typography-inherit {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
