//
// Visibility utilities
//
.brz-invisible {
  visibility: hidden !important;
}
.brz-visible {
  visibility: visible !important;
}
.brz-hidden {
  display: none !important;
}

// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.
.brz-visible-print-block {
  display: none !important;

  @media print {
    display: block !important;
  }
}
.brz-visible-print-inline {
  display: none !important;

  @media print {
    display: inline !important;
  }
}
.brz-visible-print-inline-block {
  display: none !important;

  @media print {
    display: inline-block !important;
  }
}

// Hidden print
.brz-hidden-print {
  @media print {
    display: none !important;
  }
}
