@use "sass:math";

@tailwind base;
// Range UI Slider
// UI Slider
$slider-horizontal-width: 100%;
$slider-horizontal-height: 4px;
$slider-vertical-width: 4px;
$slider-vertical-height: 63px;
$slider-handle-size: 18px; // 18
$slider-handle-icon: 7px; // 7

// React Slider

.brz-ed-control__range {
  @apply mb-[10px];

  //**global styles start for rc slider (not all)**
  // global styles but here I put it only for <Range />
  // so there wouldn't conflicts
  .rc-slider {
    @apply relative;
    @apply h-[14px];
    @apply py-[5px] px-0;
    @apply touch-none;
    @apply box-border;
    @apply w-[calc(100%-18px)];
    margin-left: math.div($slider-handle-size, 2);
    border-radius: $slider-horizontal-height;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .rc-slider * {
    @apply box-border;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .rc-slider-rail {
    @apply relative;
    @apply block;
    @apply bg-slider__control-bg;
    @apply -left-[9px];
    @apply w-[calc(100%+18px)];
    height: $slider-horizontal-height;
    border-radius: $slider-horizontal-height;
  }

  .rc-slider-track {
    @apply hidden;
  }

  .rc-slider-handle {
    @apply absolute;
    @apply inline-block;
    @apply outline-0;
    @apply top-[50%] left-[50%];
    @apply cursor-pointer;
    @apply bg-slider__control__handle-bg;
    @apply shadow-[0_2px_2px_slider__control__handle-box-shadow];
    @apply rounded-[50%];
    @apply z-[1];
    width: $slider-handle-size;
    height: $slider-handle-size;
    margin-top: -(math.div($slider-handle-size, 2));
    margin-left: -(math.div($slider-handle-size, 2));

    &:after,
    &:before {
      @apply content-[''];
      @apply absolute;
      @apply left-[50%];
      @apply -translate-x-[50%];
      @apply border-t border-slider__control__handle__line-color;
      width: $slider-handle-icon;
    }

    &:before {
      top: math.div(($slider-handle-size - $slider-handle-icon + 1), 2);
    }

    &:after {
      @apply h-[4px];
      @apply border-b border-slider__control__handle__line-color;
      top: math.div($slider-handle-size, 2);
    }
  }

  .rc-slider-handle:hover {
    @apply border-slider__control__handle-border--active;
  }

  .rc-slider-handle:active {
    @apply border-slider__control__handle-border--active;

    @apply shadow-[0_0_5px_slider__control__handle-box-shadow--active];
    @apply cursor-grabbing;
  }

  .rc-slider-handle:focus {
    @apply border-slider__control__handle-border--active;
    @apply shadow-[0_0_0_5px_slider__control__handle-box-shadow--focus];
    @apply outline-none;
  }

  //**global styles end**

  .rc-slider {
    @apply h-[12px];
    @apply p-0;

    .rc-slider-rail {
      @apply h-full;
    }

    .brz-ed-rc-slider-handle {
      @apply bg-transparent;
      @apply border-[3px] border-solid border-white;

      &:before,
      &:after {
        @apply hidden;
      }

      &--active:before {
        @apply block;
        @apply absolute;
        @apply w-0 h-0;
        @apply border-4 border-solid border-white;
        @apply top-[2px];
        @apply rounded-full;
        @apply shadow-[0_0_3px_0_#fff];
      }
    }
  }
}
