// Audio Component
.brz-audio {
  pointer-events: auto;
  min-width: fit-content;

  .brz-custom-audio {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;

    .brz-audio-play-pause-btn {
      cursor: pointer;
      z-index: 3;
    }
    .brz-audio-current-time {
      margin-left: 25px;
    }
    .brz-audio-total-time {
      margin-left: 15px;
    }
    .brz-audio-slider {
      position: relative;
      flex-grow: 1;
      cursor: pointer;

      .brz-audio-progress {
        border-radius: inherit;
        position: absolute;
        pointer-events: none;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background-repeat: no-repeat;
        opacity: 0.35;
      }
    }
    .brz-audio-controls {
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      z-index: 3;

      .brz-audio-slider {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 5px;
        height: 8px;

        .brz-audio-progress {
          height: 100%;
        }
      }
      span {
        cursor: default;
      }
    }
    .brz-audio-controls:empty {
      display: none;
    }
    .brz-audio-volume {
      position: relative;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      z-index: 3;

      .brz-audio-volume-btn {
        cursor: pointer;
      }
      .brz-audio-volume-controls {
        width: 60px;
        height: 8px;
        margin-left: 10px;
        border-radius: 5px;
        flex-direction: column;

        .brz-audio-slider {
          border-radius: 3px;

          .brz-audio-progress {
            bottom: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .brz-audio__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
    .brz-audio__cover-icon {
      position: relative;
      z-index: 1;
      color: #fff;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }
}

// Shortcode SoundCloud
.brz-soundcloud {
  position: relative;
  font-size: 0;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
  }
  .brz-soundCloud-content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    iframe {
      width: 100%;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      pointer-events: none;
    }
  }
}
