.brz-bg {
  position: relative;
}
.brz-bg-content {
  position: relative;
  flex: 1;
  min-width: 0;
}

// Media
.brz-bg-media {
  overflow: hidden;
}
.brz-bg-media,
.brz-bg-image,
.brz-bg-video,
.brz-bg-color,
.brz-bg-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Image
.brz-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

// Video & Map
.brz-iframe.brz-bg-video__cover,
.brz-iframe.brz-bg-map__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  max-width: none;
  background-repeat: no-repeat;
  background-size: cover;
}

// Color
.brz-bg-color {
  opacity: 1;
}

// Shape
.brz-bg-shape {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  pointer-events: none;
  margin: 0 -1px;

  &__top {
    top: 0;
  }
  &__bottom {
    bottom: 0;
    transform: rotateX(180deg);
  }
}

.brz-bg-image-parallax {
  width: 100%;
  background-size: cover !important;
  background-position: 50% 50%;
  left: 0;
  top: -50vh;
  height: 100vh;
  transition: all 0s ease !important;
  transform-origin: center center 0;
  transform-style: preserve-3d;
}

// Responsive
@include media-breakpoint-down(ms) {
  .brz-bg-video {
    .brz-iframe {
      display: none !important;
    }
  }
}
