.brz-calendly {
  height: inherit;

  // !important is needed beacuse "react-calendly" sets inline styles
  .calendly-inline-widget {
    height: 100% !important;
    min-width: auto !important;

    iframe {
      max-height: 100% !important;
    }
  }
}
