// Carousel
.brz-carousel {
  display: block;
  width: 100%;

  &__slider:not(.slick-initialized) {
    display: flex;
    flex-wrap: wrap;
  }
  > .slick-slider {
    overflow: hidden;

    .slick-slide {
      height: auto;
    }
    > .slick-list > .slick-track > .slick-slide > div {
      height: 100%;

      > .brz-carousel__item,
      > .brz-carousel__item > .brz-columns,
      > .brz-columns {
        height: 100%;
      }
    }
    > .brz-slick-slider__arrow {
      opacity: 1;
    }
    > .brz-slick-slider__dots {
      bottom: 10px;
    }
    .slick-slide {
      outline: none;
    }
    .slick-track {
      flex-wrap: nowrap;
    }
  }
  .brz-rich-text *,
  .brz-icon-svg {
    backface-visibility: hidden;
  }
}

// Setup min-width and min-height and fixed carousel bug for width
@include media-breakpoint-down(ms) {
  // Only Preview
  &.brz:not(.brz-ed) .slick-slider * {
    min-width: 0;
    min-height: 0;
  }
}
