// Carousel
.brz-carousel {
  display: block;
  width: 100%;

  &__slider:not(.slick-initialized) {
    display: flex;
    visibility: hidden;
  }

  &__slider.slick-initialized {
    visibility: visible;
    flex-wrap: wrap;
  }

  > .slick-slider {
    overflow: hidden;

    .slick-slide {
      height: auto;
    }
    > .slick-list > .slick-track > .slick-slide > div {
      height: 100%;

      > .brz-carousel__item,
      > .brz-carousel__item > .brz-columns,
      > .brz-columns {
        height: 100%;
      }
    }
    > .brz-slick-slider__arrow {
      opacity: 1;
    }
    > .brz-slick-slider__dots {
      position: relative;
      width: max-content;
      bottom: 10px;
    }
    .slick-slide {
      outline: none;
    }
    .slick-track {
      flex-wrap: nowrap;
    }

    .brz-slick-slider__pause{
      display: inline-flex;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .brz-rich-text *,
  .brz-icon-svg {
    backface-visibility: hidden;
  }

  // Animation fade
  > .brz-carousel__slider--fade {
    .slick-slide {
      height: auto;
      visibility: hidden;

      &.slick-active {
        visibility: visible;
      }
    }
  }
}
