.brz-chart {
  &_title {
    width: 100%;
    display: flex;
    margin-bottom: 20px !important;
  }
}

.brz-ed-sidebar-drawer.brz-ed-sidebar__addable.addable--chart
  .brz-ed-sidebar-drawer__body
  .brz-scrollbar__wrapper
  .brz-scrollbar__view {
  padding-inline: 10px;
}
