// Columns
.brz-columns {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 1px;
  flex-basis: 100%;
  will-change: flex, max-width;

  .brz-hover-animation__container {
    flex-direction: inherit;
  }

  & .brz-container-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    inset-inline-start: 0;
  }

  & > div[data-scroll-motion] > .brz-hover-animation__container > .brz-bg,
  & > :is(div[data-scroll-motion], .brz-hover-animation__container) > .brz-bg,
  & > div[data-scroll-motion] > .brz-bg,
  & > .brz-hover-animation__container > .brz-bg,
  & > .brz-bg {
    width: auto;
    height: auto;
    inset: 0;
  }

  div[data-scroll-motion] {
    display: inherit;
    flex-direction: inherit;
    height: 100%;
  }

  .brz-column__items {
    flex-direction: column;
    justify-content: inherit;
    flex: 0 1 auto;

    > div:not(.brz-ed-sortable--empty) {
      flex: 0 1 auto;
      min-width: 0;
    }
  }
}
