// Fixes Container
$containers-width: map-get($container-max-widths, "lg");

// Desktop
.brz-container,
.brz-container__wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.brz-container {
  display: flex;
  flex-direction: column;
}
.brz-container__wrap {
  display: flex;
  flex-wrap: wrap;
}
