// Fixes Container
$containers-width: map-get($container-max-widths, "lg");

// Desktop
.brz-container,
.brz-container__wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.brz-container__wrap {
  display: flex;
  flex-wrap: wrap;
}

// Mobile
@include media-breakpoint-down(ms) {
  .brz-container__wrap,
  .brz-container__wrap--fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
