@use "sass:map";

// Fixes Container
$containers-width: map.get($container-max-widths, "lg");

// Desktop
.brz-container,
.brz-container__wrap {
  width: 100%;
}
.brz-container {
  display: flex;
  flex-direction: column;
  width: var(--brz-section-container-width, 100%);
}
.brz-container__wrap {
  display: flex;
  flex-wrap: wrap;
}
