.brz-ecwid-wrapper {
  .ec-cart-widget {
    .ec-minicart {
        display: flex !important;
        align-content: center !important;

        .ec-minicart__body,
        .ec-minicart__wrap,
        .ec-minicart__counter {
          min-width: 0 !important;
        }
      }

  }
}
