.brz-ecwid-wrapper
  .ecwid
  div
  .ecwid-productBrowser
  div
  div
  div
  .ec-wrapper
  .ec-store {
  &__content-wrapper .ec-cart {
    &__body {
      &-inner {
        .ec-signin-form {
          .ec-cart-email {
            margin-bottom: 0 !important;

            &__input {
              .form-control {
                background-color: transparent !important;
                overflow: hidden;

                &__placeholder {
                  z-index: 50 !important;

                  &-inner {
                    min-height: 0 !important;
                    z-index: 1 !important;
                  }
                }

                &__text {
                  min-height: 5px !important;
                }
              }
            }

            &__text {
              margin-bottom: 0 !important;
            }
          }

          .ec-cart__checkout .ec-cart__buttons {
            width: 100% !important;

            .form-control {
              display: flex !important;

              &__button {
                min-height: 0 !important;
              }
            }
          }

          .ec-cart__email {
            margin-bottom: 0 !important;
          }

          .ec-page-title {
            margin-bottom: 0 !important;
          }
        }
      }
    }

    .ec-cart__sidebar {
      &-inner {
        .ec-page-title {
          padding: 0;
        }

        .ec-cart-step--legallinks .ec-cart-step__section .ec-cart-step__text {
          width: 100%;

          .ec-link {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .ec-cart__body {
      .ec-cart__checkout .ec-cart__agreement .ec-link {
        display: block;
      }
    }
  }
}

&.brz:not(.brz-ed) {
  .brz-ecwid-my-account-wrapper {
    .ecwid-productBrowser {
      .ec-cart-step--bag {
        .ec-cart-step__body {
          .ec-cart__products {
            pointer-events: none;

            .ec-cart-item--summary {
              .ec-cart-item-sum--cta {
                display: none !important;
              }
            }
          }
        }
      }

      .ec-cart-step--favorites {
        .ec-cart-step__body {
          .ec-cart__products {
            pointer-events: none;

            .ec-cart-item--summary {
              .ec-cart-item-sum--cta {
                display: none !important;
              }
            }
          }
        }
      }
    }

    .ecwid-productBrowser-AccountRootPage {
      background-color: inherit !important;
    }
  }
}
