// --- Embed Code
.brz-embed-code {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 20px;
  height: auto;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
    overflow: hidden;
  }
  .brz-shortcode__placeholder {
    height: 250px;
  }
  img {
    max-width: 100%;
  }
  .brz-embed-content {
    width: 100%;
  }
}
