// import datepicker from node_modules
@import "flatpickr/dist/flatpickr.min";
@import "select2/dist/css/select2.min";
@import "perfect-scrollbar/css/perfect-scrollbar";

// --- Form
.brz-forms2 {
  width: 100%;

  &__wrap,
  &__fields {
    display: flex;
    flex-wrap: wrap;
  }
  &__field {
    outline: none;
  }
  &__wrap {
    align-items: flex-end;
  }
  &__item {
    flex-grow: 1;
    flex-shrink: 0;
  }

  // Input and Textarea
  .brz-input,
  .brz-textarea {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    line-height: inherit;
    box-shadow: none;

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
  .brz-textarea {
    height: 100%;
    resize: none;
  }
  .brz-label {
    display: block;
  }
  .brz-forms2__field {
    text-align: left;
  }
  .brz-forms2__field-label {
    border: none;
    cursor: auto;
  }

  // Radio
  &__radio.brz-forms2__field {
    padding: 0;
    border: none !important;
    margin-bottom: -20px;
  }
  &__radio-option {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.2em;

    .brz-span {
      margin-left: 10px;
      margin-right: auto;
    }
    input.brz-input {
      cursor: auto;
    }
  }

  // Checkbox | Radio
  &__checkbox-options,
  &__radio-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .brz-control__check-group-icon,
  .brz-control__radio-check {
    flex-basis: 1em;
  }
  .brz-forms2__checkbox-option-name,
  .brz-forms2__radio-option-name {
    flex-basis: calc(100% - 1em - 10px);
  }

  // Checkbox
  &__checkbox.brz-forms2__field {
    padding: 0;
    border: none !important;
    margin-bottom: -20px;
  }
  &__checkbox-option {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.2em;

    .brz-forms2__checkbox-option-name {
      margin-left: 10px;
      margin-right: auto;
    }
    input.brz-input {
      cursor: auto;
    }
    .brz-control__radio-check {
      border-radius: 0;
    }
  }

  // Select | File Upload
  &__field-select,
  .brz-forms2__field-fileUpload {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
  }
  &__select-current,
  .brz-forms2__field-fileUpload .brz-label {
    flex: 1;
  }

  // button
  &__item-button {
    .brz-btn {
      outline: none;
      width: 100%;
    }
    .brz-icon-svg {
      flex-grow: 0;
    }
  }

  // Form Alert
  &__alert {
    min-height: 55px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 17px 30px;
    color: #fff;
    margin-top: 15px;

    &--success {
      background-color: #15d053;
    }
    &--error {
      background-color: #f00;
    }
  }

  // Form Errors
  &__item--error {
    .brz-control__check-group,
    .brz-control__radio {
      color: #f00 !important;
    }
  }
}
&.brz:not(.brz-ed) {
  // Checkbox on Preview
  .brz-control__check-group {
    .brz-label {
      font: inherit;
      display: inherit;
      align-items: inherit;
      width: 100%;
      cursor: pointer;
    }
    &--check {
      display: none;
    }
    .brz-input {
      display: none;

      &:checked ~ .brz-label {
        .brz-control__check-group--check {
          display: inline-block;
        }
        .brz-control__check-group--uncheck {
          display: none;
        }
      }
    }
  }

  // Radio on Preview
  .brz-control__radio {
    .brz-label {
      font: inherit;
      display: inherit;
      align-items: inherit;
      width: 100%;
      cursor: pointer;
    }
    &--check {
      display: none;
    }
    .brz-input {
      display: none;

      &:checked ~ .brz-label {
        .brz-control__radio--check {
          display: inline-block;
        }
        .brz-control__radio--uncheck {
          display: none;
        }
      }
    }
  }

  // Select on Preview
  .brz-forms2__field-select {
    padding: 0;
  }
  .brz-select {
    width: 100%;
    visibility: hidden;
  }
  .brz-forms2__field-select .select2 {
    &-dropdown {
      background-color: #fff;
      border: none;
      border-radius: 0;
    }
    &-results__option {
      margin: 0;
      padding: 12px 24px;
      font-size: 16px;
      height: 48px;
      line-height: 1.5;
      cursor: pointer;
      background-color: inherit;
    }
    .selection,
    &-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      flex: 1;
    }
    &-container,
    &-selection {
      outline: none;
    }
    &-selection--multiple,
    &-selection--single {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;

      .select2-selection__rendered {
        color: inherit;
        line-height: 1;
        padding: 0;
        flex: 1;
      }
    }
    &-selection--multiple {
      .select2-selection__rendered {
        display: flex;
        flex-wrap: wrap;
        margin: -2.5px;
      }
      .select2-selection__choice {
        margin: 2.5px;
        float: none;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        border: none;
        padding: 0 11px;
      }
      .select2-selection__choice__remove {
        display: block;
        font-size: inherit;
        font-weight: normal;
        color: inherit;
        margin-right: 0;
        margin-left: 8px;
      }
    }
    &-selection__arrow {
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
    &-selection__clear {
      margin-right: 14px;
    }
    &-search__field {
      font: inherit;
      color: inherit;
      margin: 0;

      &::placeholder {
        color: inherit;
      }
    }
    &-container .select2-search--inline {
      margin: 2.5px;
      flex: 1;
      float: none;
    }

    // Dropdown
    &-container--default {
      .select2-results > .select2-results__options {
        max-height: initial;
      }
      .select2-results__option--highlighted[aria-selected] {
        background-color: inherit;
        color: inherit;
      }
      .select2-selection--single .select2-selection__placeholder {
        color: inherit;
      }
      .select2-selection--single .select2-selection__placeholder:empty:before {
        content: "Fake content";
        visibility: hidden;
      }
      .select2-selection--single .select2-selection__arrow b {
        border-color: currentColor transparent transparent;
      }
      &.select2-container--open
        .select2-selection--single
        .select2-selection__arrow
        b {
        border-color: transparent transparent currentColor;
      }
    }
    &-container--open .select2-dropdown {
      top: 1px;
      max-height: 200px;
      overflow: hidden;
    }
    &-dropdown--below {
      background-color: transparent;
    }
  }
  .brz-forms2__field-select .ps__thumb-y {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .brz-forms2__field-select .ps .ps__rail-x:hover,
  .brz-forms2__field-select .ps .ps__rail-y:hover,
  .brz-forms2__field-select .ps .ps__rail-x:focus,
  .brz-forms2__field-select .ps .ps__rail-y:focus,
  .brz-forms2__field-select .ps .ps__rail-x.ps--clicking,
  .brz-forms2__field-select .ps .ps__rail-y.ps--clicking {
    background-color: transparent;
  }
  .brz-forms2__field-select .ps__rail-y:hover > .ps__thumb-y,
  .brz-forms2__field-select .ps__rail-y:focus > .ps__thumb-y,
  .brz-forms2__field-select .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 6px;
  }
  .brz-forms2__field-select .ps__rail-x,
  .brz-forms2__field-select .ps__rail-y,
  .brz-forms2__field-select .ps:hover > .ps__rail-x,
  .brz-forms2__field-select .ps:hover > .ps__rail-y,
  .brz-forms2__field-select .ps--focus > .ps__rail-x,
  .brz-forms2__field-select .ps--focus > .ps__rail-y,
  .brz-forms2__field-select .ps--scrolling-x > .ps__rail-x,
  .brz-forms2__field-select .ps--scrolling-y > .ps__rail-y {
    opacity: 1;
  }

  // Date & Time
  .flatpickr {
    &-calendar {
      font-family: "Lato", sans-serif;
      width: 306px;
    }
    &-calendar.hasTime {
      width: 150px;
    }
    &-calendar.open {
      max-height: 600px;
    }
    &-calendar .dayContainer {
      width: 286px;
      min-width: 286px;
      max-width: 286px;
    }
    &-calendar .numInputWrapper:hover {
      background-color: transparent;
    }
    &-months {
      padding: 10px 10px 0;
    }
    &-innerContainer {
      padding: 0 10px 10px;
    }
    &-next-month,
    &-prev-month {
      top: 7px;
    }
    &-next-month {
      right: 10px;
    }
    &-prev-month {
      left: 10px;
    }
    &-months .flatpickr-prev-month,
    &-months .flatpickr-next-month {
      color: rgba(0, 0, 0, 0.5);
    }
    &-months .flatpickr-prev-month:hover,
    &-months .flatpickr-next-month:hover {
      color: rgba(0, 0, 0, 1);
    }
    &-months .flatpickr-prev-month svg,
    &-months .flatpickr-next-month svg {
      fill: currentColor;
    }
    &-current-month input.cur-year {
      font-size: 17px;
      font-weight: 700;
    }
    &-current-month .numInputWrapper:hover,
    &-current-month span.cur-month:hover {
      background-color: transparent;
    }
    &-weekdays {
      padding: 20px 0 15px;
      height: auto;
    }
    &-weekday {
      color: rgba(0, 0, 0, 0.8);
    }
    &-days {
      width: 286px;
      font-size: 13px;
      font-weight: 700;
    }
    &-day {
      height: 36px;
      max-width: 36px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-day.today {
      border-color: #a9a9a9;
    }
    &-day:hover,
    &-day:focus {
      color: #fff;
      border-color: #a9a9a9;
      background-color: #a9a9a9;
    }
    &-day.selected {
      border-color: rgba(0, 0, 0, 0.9);
      background-color: rgba(0, 0, 0, 0.9);
    }
    &-time input {
      font-size: 15px;
      font-weight: 700;
      text-align: left;
      text-indent: 12px;
    }
    &-time input:hover,
    &-time input:focus,
    &-time .flatpickr-am-pm:hover,
    &-time .flatpickr-am-pm:focus {
      background-color: transparent;
    }
    &-am-pm {
      font-size: 14px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      width: 32.66%;
    }
    &-am-pm:hover,
    &-am-pm:focus {
      color: rgba(0, 0, 0, 1);
    }
    &-calendar.hasTime .numInputWrapper {
      width: 32.66%;
    }
    &-calendar.hasTime .numInputWrapper span.arrowUp,
    &-calendar.hasTime .numInputWrapper span.arrowDown {
      height: 10px;
      top: 50%;
    }
    &-calendar.hasTime .numInputWrapper span.arrowUp {
      margin-top: -10px;
    }
    &-calendar.hasTime .numInputWrapper span.arrowDown {
      margin-bottom: -10px;
    }
  }
}

// Upload
.brz-input__upload {
  position: relative;

  .brz-label {
    font: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1.5em;
    cursor: pointer;

    .brz-span {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .brz-span:empty:before {
      content: "Hidden Placeholder";
      visibility: hidden;
    }
  }
  .brz-input__upload-delete {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }
  .brz-input:not(.brz-input__upload-placeholder) {
    display: none;
  }
  .brz-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: 1;
    padding: 0.5em;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    outline: none !important;
  }
}

// Responsive
@include media-breakpoint-down(ms) {
  .brz-forms2 {
    &__select-item__input {
      font-size: 14px;
      padding: 10px 16px;
    }

    // Select on preview
    .brz-control__select-current {
      padding: 10px 16px;
    }
    .brz-control__select-options {
      .brz-control__select-option {
        padding: 10px 16px;
        font-size: 14px;
      }
    }
  }
}
