// --- Form
.brz-form {
  width: 100%;

  &__fields {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex-grow: 1;
    flex-shrink: 0;
  }

  // Input and Textarea
  .brz-input,
  .brz-textarea {
    display: block;
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  .brz-textarea {
    height: 100%;
    resize: none;
  }
  .brz-form__field {
    padding: 14px 24px;
  }

  // Select
  &__select {
    position: relative;
  }
  &__select-current {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__select-list {
    border: 1px solid #dcdee1;
    border-top-width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1041;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  &__select-item {
    display: flex;
    flex-wrap: nowrap;
    border: 0;
    height: 52px;

    &:not(:last-child) {
      border-bottom: 1px solid #f1f1f2;
    }
    &__input {
      flex: 1 1 auto;
      font-size: 16px;
      color: rgba(115, 119, 127, 0.7);
      line-height: 1;
      font-family: inherit;
      font-weight: inherit;
      padding: 14px 24px;

      .brz-input {
        border-width: 0;
        height: 100%;
        width: 100%;
        color: inherit;

        @include placeholder {
          color: rgba(115, 119, 127, 0.7);
          font-style: italic;
        }
        &.brz-input {
          cursor: text;
        }
      }
    }
    &__icon {
      color: rgba(115, 119, 127, 0.7);
      flex-basis: 52px;
      text-align: center;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  &__select--arrow {
    font-size: 14px;
  }

  // Form Select For Export
  .brz-control__select {
    position: relative;
  }
  .brz-control__select-current,
  .brz-control__select-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: inherit;
    color: inherit;
  }
  .brz-control__select-current {
    padding: 14px 24px;
    cursor: pointer;

    .brz-control__select-option {
      border: 0;
      flex-basis: 100%;
      height: 100%;
    }
    .brz-control__select--arrow {
      font-size: 14px;
    }
  }
  .brz-control__select-options {
    border: 1px solid #dcdee1;
    border-top-width: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1030;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;

    .brz-control__select-option {
      padding: 14px 24px;
      font-size: 16px;
      height: 52px;
      line-height: 1.5;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #f1f1f2;
      }
    }
  }

  // Form Alert
  &__alert {
    height: 55px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 17px 30px;
    color: #fff;
    margin-top: 15px;

    &--success {
      background-color: #15d053;
    }
    &--error {
      background-color: #f00;
    }
  }

  // Form Errors
  &__item--error {
    .brz-form__field,
    .brz-control__select-current {
      border-color: #f00 !important;
    }
  }
}

// Responsive
@include media-breakpoint-down(ms) {
  .brz-form {
    &__select-item__input {
      font-size: 14px;
      padding: 10px 16px;
    }
    .brz-form__field {
      padding: 10px 16px;
    }

    // Select on preview
    .brz-control__select-current {
      padding: 10px 16px;
    }
    .brz-control__select-options {
      .brz-control__select-option {
        padding: 10px 16px;
        font-size: 14px;
      }
    }
  }
}
