.brz-hover-animation__container {
  width: 100%;
  height: 100%;
  display: inherit;
  justify-content: inherit;

  > a[data-brz-link-type] {
    display: flex;
  }

  svg {
    backface-visibility: hidden;
  }
}
