// Icons
.brz-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 100%;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.brz-story {
  .brz-icon {
    display: flex;

    .brz-icon-svg {
      width: 100%;
      height: 100%;
    }
  }
}
