// --- Line
.brz-line {
  line-height: 1;
  font-size: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  display: inline-block;

  .brz-hr {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }
}
