// --- Line
.brz-line {
  position: relative;
  line-height: 1;
  font-size: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  display: inline-block;

  &-container::before,
  &-container::after {
    content: "";
    flex-grow: 1;
  }

  &-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .brz-hr {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background: none;
    width: 100%;
  }
}
