&:not(.brz-ed) {
  .brz-login {
    .brz-login-form,
    .brz-login__authorized {
      display: none;
    }
  }
}

.brz-login {
  width: 100%;

  &__authorized {
    * {
      display: inline;
    }

    p {
      margin: 0;
    }

    span {
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  .brz-input {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    line-height: inherit;
    box-shadow: none;

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }

  &__item {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__item-button {
    .brz-login__item {
      width: 100%;
      overflow: hidden;
    }

    .brz-btn {
      outline: none;
      width: 100%;

      padding-left: 0;
      padding-right: 0;
    }

    .brz-icon-svg {
      flex-grow: 0;
    }

    .brz-text__editor {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .brz-icon-svg {
      min-width: 1em;
    }
  }

  &__alert {
    min-height: 55px;
    width: 100%;
    padding: 17px 30px;
    margin-top: 15px;
    word-break: break-word;

    font-family: $default-font-family;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    font-weight: 600;

    text-transform: uppercase;
    color: #fff;

    &--success {
      background-color: #15d053;
    }

    &--error {
      background-color: #f00;
    }
  }

  &-form {
    flex-wrap: wrap !important;
    margin-top: -0 !important;

    .brz-login__field {
      .brz-login__field-empty.brz-input {
        border-color: #f00;
      }
    }
  }

  .brz-control__check-group-option {
    display: flex;
    align-items: center;

    .brz-control__check-group-icon {
      margin-inline-end: 10px;
    }
  }

  .brz-login__field-label {
    display: block;
  }

  .brz-login-form__field {
    a {
      text-decoration: none;
    }
  }

  .brz-login-form__field-lost-password,
  .brz-login-form__field-register-link,
  .brz-login-form__field-login-link {
    width: 100%;
    cursor: pointer;
  }

  .brz-login-form__field-remember-off.brz-login-form__field-Remember,
  .brz-login-form__field-registerInfo-off {
    padding: 0 !important;
  }
}
