// Shortcode Menu
@import "../default-variables";
@import "../variables";
@import "../functions/functions";
@import "../mixins";

$menuWidth: 300px;
$menuColor: #000;
$dropdown-arrow-size: 7px;

// Menu
.brz-menu {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
    width: 100%;

    .brz-mm-menu__icon:hover {
      cursor: pointer;
    }
  }

  &__ul {
    padding: 0;
    margin: 0;
    font-family: inherit;
  }

  // Menu
  &:not(.brz-mm-menu) {
    position: relative;
    width: 100%;
    justify-content: inherit;

    // DropDown
    .brz-menu__sub-menu {
      margin: 0;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      z-index: -1;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
      }

      // Item
      .brz-menu__item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }

      .brz-menu__item:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }

      // Item Dropdown
      .brz-menu__item:has(.brz-menu__sub-menu) > .brz-a {
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          inset-inline-end: 23px;
          bottom: 0;
          inset-inline-start: auto;
          width: $dropdown-arrow-size;
          height: $dropdown-arrow-size;
          border: 2px solid currentColor;
          border-right-style: none;
          border-bottom-style: none;
          margin: auto;
          transform: rotate(135deg);
          box-sizing: content-box;
          transition: border-color 0.2s linear;
        }
      }

      .brz-menu__item .brz-a {
        width: 100%;
        padding: 15px 35px 15px 15px;

        @include word-wrap;
      }
    }

    .brz-menu__item {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: inherit;

      > .brz-a {
        color: inherit;
        font-weight: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        font-size: inherit;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;
        text-decoration: $link-decoration;

        @include hover {
          text-decoration: $link-decoration;
        }
      }
    }

    // SubMenu Dropdown
    .brz-menu__item:has(.brz-menu__sub-menu) {
      position: relative;

      .brz-menu__item {
        padding: 0;
        transition:
          background-color 0.2s linear,
          border-bottom-color 0.2s linear;
      }
    }
  }

  // MMenu
  &.brz-menu__mmenu:not(.brz-mm-menu) {
    display: none;
  }

  // MMenu Styles
  &.brz-mm-menu {
    text-transform: initial;

    &.brz-mm-menu_opened {
      display: block;
    }

    .brz-mm-navbar {
      position: sticky !important;
      z-index: 1;

      a:not(.brz-btn),
      > * {
        color: inherit;
      }

      &:not(.brz-mm-listitem) {
        background-color: transparent;
      }

      span.brz-mm-close {
        flex-grow: unset;
      }
    }

    .brz-mm-navbar-sticky {
      top: 0;
    }

    .brz-menu__ul {
      & > .brz-mm-navbar {
        border-bottom-width: inherit;
        background-color: transparent;
      }

      .brz-mm-listitem_opened > .brz-mm-panel {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    .brz-mm-listitem_opened .brz-menu__sub-menu .brz-mm-panel {
      background-color: transparent;
    }

    // MMenu Item
    .brz-menu__item {
      display: flex;
      transform: none;
      padding: 0;
      position: relative;
      inset-inline-start: auto;
      top: auto;
      visibility: visible;
      opacity: 1;
      width: auto;

      &.brz-mm-listitem_vertical > .brz-mm-panel {
        padding: 0 10px;
      }

      &:has(.brz-mega-menu__mmenu) > .brz-mm-panel {
        padding: 0;
        overflow: visible;
      }

      &.brz-mm-listitem_opened {
        overflow: hidden;

        > .brz-mm-listitem__text {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid;
            border-color: inherit;
          }
        }
      }

      .brz-mm-listitem__text {
        color: inherit;
        font-weight: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        font-size: inherit;
        border-color: inherit;
        display: flex;
        align-items: center;
        padding: 10px 20px;
      }

      .brz-mm-btn_next {
        inset-inline-end: 0;
        inset-inline-start: auto;
        background: none;
        padding: 0;
        min-width: 50px;
        border: 0;
        color: inherit;
        display: flex;

        &:after {
          position: relative;
          left: auto;
          right: auto;
          border-color: inherit;
          width: $dropdown-arrow-size;
          height: $dropdown-arrow-size;
        }
      }
    }
  }

  // MMenu Navbar Title
  .brz-mm-navbar__title {
    display: flex;
    line-height: 20px;
    font-size: 13px;
    padding: 12px 20px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  // MMenu has dropdown
  &--has-dropdown.brz-mm-menu {
    .brz-mm-navbar {
      padding: 0;

      &-right {
        display: flex;
        padding-inline-end: 40px;
        flex-direction: row-reverse;
      }

      &-left {
        padding-inline-start: 40px;
      }

      &__title {
        padding: 12px 0;
      }
    }

    .brz-menu__item > .brz-mm-listitem__text {
      padding-inline-end: 50px;
    }
  }

  // Menu links
  .brz-a {
    width: 100%;
    white-space: break-spaces;
  }

  .brz-a,
  .brz-mm-btn_next {
    transition: color 0.2s linear;

    @include hover-focus-active {
      outline: none;
    }
  }

  // Error
  &__error {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 3px;
    background-color: #ececec;
    font-family: $default-font-family;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .brz-a {
      font-weight: 700;
      margin-inline-end: 5px;
      cursor: pointer;
    }
  }

  // Animation
  &.brz-mm-menu_opened ~ .brz-mm-wrapper__blocker {
    transition-delay: 0s;
  }

  .brz-mm-panels {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Mega Menu
// Reset Offset by placement
&.brz-mega-menu__portal,
.brz-mega-menu__portal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: z("mega-menu");
  transition: 0.2s linear opacity;

  &--opened {
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear opacity;
  }

  &[data-popper-placement^="right"],
  &[data-popper-placement^="left"] {
    padding-top: 0;
    padding-bottom: 0;
  }

  &[data-popper-placement^="right"] {
    padding-inline-end: 0;
  }

  &[data-popper-placement^="left"] {
    padding-inline-start: 0;
  }

  &[data-popper-placement^="top"],
  &[data-popper-placement^="bottom"] {
    padding-inline: 0;
  }

  &[data-popper-placement^="top"] {
    padding-top: 0;
  }

  &[data-popper-placement^="bottom"] {
    padding-bottom: 0;
  }
}

.brz-mega-menu__portal-inPopup {
  z-index: z("mega-menu") + 2;
}

// Dropdown offset
.brz-menu .brz-menu__sub-menu {
  &[data-popper-placement^="top"]:before {
    bottom: calc(var(--offset) * -1);
  }

  &[data-popper-placement^="bottom"]:before {
    top: calc(var(--offset) * -1);
  }

  &[data-popper-placement^="left"]:before {
    inset-inline-end: calc(var(--offset) * -1);
  }

  &[data-popper-placement^="right"]:before {
    inset-inline-start: calc(var(--offset) * -1);
  }
}

// Mega Menu in Dropdown
.brz-mega-menu__dropdown {
  width: 100%;
}

// Mega Menu
.brz-mega-menu {
  position: relative;

  & > .brz-bg {
    overflow: hidden;
  }

  & > .brz-container {
    position: relative;
  }
}

// Active without Editor
&:not(.brz-ed) {
  .brz-menu {
    &__mmenu:not(.brz-mm-menu_opened) {
      display: none;
    }

    &:not(.brz-menu__mmenu) {
      .brz-menu__item:hover > .brz-menu__sub-menu,
      .brz-menu__item:hover > .brz-mega-menu__portal,
      .brz-menu__item-dropdown--active > .brz-menu__sub-menu,
      .brz-menu__item--opened > .brz-mega-menu__portal {
        visibility: visible;
        opacity: 1;
        z-index: z("mega-menu");
        transition:
          0.2s z-index linear,
          0.2s opacity linear;
      }
    }

    &:not(.brz-menu--has-dropdown) .brz-mm-navbar__title {
      padding-left: 0;
      padding-right: 0;
    }

    .brz-mm-panel_has-navbar {
      padding-top: 44px;
    }
  }

  // Mega Menu
  .brz-mega-menu__portal {
    z-index: z("mega-menu");

    // Case when MegaMenu inside popup inside MegaMenu
    &.brz-mega-menu__portal-inPopup {
      z-index: z("section-popup-opened") + 1;
    }
  }
}

// Rewrite css rules for root div
.brz-root__container {
  &.brz-mm-page {
    position: relative;
    background: inherit;
  }

  &.brz-mm-slideout {
    transition: transform 0.4s ease;
  }
}

// mmenu
.brz-mm-menu_position-bottom.brz-mm-menu_opened,
.brz-mm-menu_position-front.brz-mm-menu_opened,
.brz-mm-menu_position-top.brz-mm-menu_opened {
  z-index: 4;
}

.brz-mm-menu_position-bottom.brz-mm-menu_opened ~ .brz-mm-wrapper__blocker,
.brz-mm-menu_position-front.brz-mm-menu_opened ~ .brz-mm-wrapper__blocker,
.brz-mm-menu_position-top.brz-mm-menu_opened ~ .brz-mm-wrapper__blocker {
  z-index: 3;
}

&.brz-mm-wrapper:not(.brz-mm-wrapper_blocking),
.brz-mm-wrapper:not(.brz-mm-wrapper_blocking) {
  overflow: visible;
}

&.brz-mm-wrapper_opened,
.brz-mm-wrapper_opened {
  .brz-root__container.brz-mm-page {
    z-index: auto;
  }

  // Normalize all section in .brz-root
  &:not(.brz-ed) .brz-root__container > .brz-section:not(.brz-section__header) {
    z-index: 1;
  }

  // Popups
  .brz-popup,
  .brz-popup2,
  .brz-section__header,
  .brz-mega-menu__portal {
    z-index: 2;
  }
}
