.brz-groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__wrapper {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    word-break: break-word;

    .brz-groupList__item {
      width: var(--columnSize)
    }
  }

  &__item {
    &--meta--title a {
      color: inherit;
    }
  }
}
