.brz-groupFeatured {
  overflow: hidden;
  &__wrapper {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &--meta--title {
      a {
        color: inherit;
      }
    }
  }
}
