.brz-groupLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  &__wrapper {
    width: 100%;
  }

  &__content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--columnCount), var(--columnSize));
    word-break: break-word;
  }

  &--item {
    &__content-detailButton {
      a {
        color: inherit;
      }
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;

    &--form {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      max-width: 100%;

      &-selectWrapper {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;

        &::after {
          content: "";
          top: calc(50% - 2px);
          right: 10px;
          position: absolute;
          width: 8px;
          height: 8px;
          border-width: 2px;
          border-style: solid;
          border-color: currentColor;
          border-left-style: none;
          border-top-style: none;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      select {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-left: 10px;
        white-space: break-spaces;

        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-family: inherit;
        font-style: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        font-variation-settings: inherit;
        text-transform: inherit;
        color: inherit;
        min-height: 36px;
        appearance: none;
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &--form-search {
      width: 180px;
      max-width: 180px;
      margin: 0;
      width: 100%;
      margin: 0 auto;
      border: 0;
      outline: none;
      padding: 0;
      line-height: 1;
      overflow: hidden;

      fieldset {
        position: relative;
        display: block;
        padding: 0 28px 0 0;
        margin: 0;
        line-height: 1;
        overflow: hidden;
        border: 1px solid black;
        height: 100%;

        input {
          display: block;
          width: 100%;
          height: 100%;
          margin-left: 0;
          margin-right: 0.5rem;
          margin-bottom: 0;
          padding-left: 10px;
          padding-top: 0;
          padding-bottom: 0;
          min-height: 36px;
          outline: none;
          opacity: 1;
          border: none;
          background: none;
        }

        button {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          width: 14px;
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          outline: none;
          border: 0;
          padding: 0;
          cursor: pointer;
          background-color: transparent !important;
        }
      }
    }
  }

  h5.brz-groupLayout-results-heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .brz-groupLayout__filters {
    &--form {
      margin: 0 auto 1rem auto;

      &-selectWrapper {
        margin-right: 0;
      }
    }

    &--form-search {
      max-width: initial;
    }
  }
}
