.brz-eventDetail {
  overflow: hidden;
  &__wrapper {
    width: 100%;
  }
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &--subscribe-event {
      display: flex;
      cursor: pointer;
      border-radius: 3px;

      a {
        padding: 12px 24px;
        color: inherit;
      }
    }
  }

  .brz-ministryBrands__item--meta--links--previous {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
