.brz-sermonDetail {
  overflow: hidden;
  ul {
    list-style: none;
  }

  &__item {
    .brz-ministryBrands__item--meta--links--previous {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--media {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      gap: 0.5rem;

      a {
        color: inherit;
      }

      li.brz-ministryBrands__item--meta--links {
        border-radius: 3px;
      }

      &--audio {
        width: 100%;
      }

      li {
        margin: 0 0.5rem 0 0;

        a {
          padding: 12px 24px;
        }
      }
    }
  }
}
