.brz-ministryBrands {
  width: 100%;
  &__item--meta--links,
  a,
  & > a {
    cursor: pointer;
    text-decoration: none;
  }

  h5,
  h6 {
    text-transform: none;
  }

  img {
    object-fit: cover;
  }

  a {
    color: unset;
  }

  a:has(.brz-ministryBrands__item--media) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  &__item--media {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    iframe,
    video,
    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    iframe,
    video {
      width: 100%;
      height: 100%;
      border: 0 !important;
    }
  }

  img,
  iframe,
  video {
    width: 100%;
    height: 100%;
  }

  &__meta--icons {
    svg {
      vertical-align: -0.125em;
    }
  }

  audio {
    width: 100%;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  &__item--meta {
    &--register-button,
    &--button {
      display: flex;
      cursor: pointer;

      a {
        color: inherit;
        padding: 12px 24px;
      }
    }
  }

  p.brz-ministryBrands__pagination {
    padding: 2rem;

    a#off {
      cursor: default;
    }

    & > span.pagination_ellipsis,
    & > a:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
