.brz-staffLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__wrapper {
    width: 100%;
  }

  ul {
    list-style: none;
  }

  &__container {
    width: 100%;
  }

  &__content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--columnCount), var(--columnSize));
    word-break: break-word;

    .brz-staffLayout__item {
      display: flex;
      flex-direction: column;
      align-items: inherit;
    }
  }

  &_social {
    &.no-image {
      display: flex;
      align-items: inherit;
    }

    li {
      margin: 0 0.25rem;

      a {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
      }
    }
  }

  .brz-staffLayout_rollover {
    position: absolute;
    inset: 0;
    overflow: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    z-index: 100;
    text-align: center;

    ul {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: center;
    }

    &:hover {
      opacity: 1;
    }

    &_inner {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      a {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;

    &--form {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      max-width: 100%;

      &-selectWrapper {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;

        &::after {
          content: "";
          top: calc(50% - 2px);
          right: 10px;
          position: absolute;
          width: 8px;
          height: 8px;
          border-width: 2px;
          border-style: solid;
          border-color: currentColor;
          border-left-style: none;
          border-top-style: none;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      select {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-left: 10px;
        white-space: break-spaces;

        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        color: inherit;
        min-height: 36px;
        appearance: none;
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &--form-search {
      width: 180px;
      max-width: 180px;
      margin: 0;
      border: 0;
      outline: none;
      padding: 0;
      line-height: 1;
      overflow: hidden;

      fieldset {
        position: relative;
        display: block;
        padding: 0 28px 0 0;
        margin: 0;
        height: 100%;

        input {
          display: block;
          width: 100%;
          height: 100%;
          margin-left: 0;
          margin-right: 0.5rem;
          margin-bottom: 0;
          padding-left: 10px;
          padding-top: 0;
          padding-bottom: 0;
          min-height: 36px;
          outline: none;
          opacity: 1;
          border: none;
          background: none;
        }

        button {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          width: 14px;
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          outline: none;
          border: 0;
          padding: 0;
          cursor: pointer;
          background-color: transparent !important;

          svg {
            height: 100%;
          }
        }
      }
    }
  }

  .brz-ministryBrands__item--media {
    position: relative;
  }

  h4.brz-staffLayout-results-heading {
    width: 100%;
    margin-bottom: 20px;
  }
}
