.brz-ministryBrands {
  width: 100%;

  &__item--meta--links,
  a,
  & > a {
    cursor: pointer;
    text-decoration: none;
  }

  h5,
  h6 {
    text-transform: none;
  }

  img {
    object-fit: cover;
  }

  a {
    color: unset;
  }

  a:has(.brz-ministryBrands__item--media) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: inherit;
  }

  img,
  iframe,
  video {
    width: 100%;
    height: 100%;
  }

  &__meta--icons {
    svg {
      vertical-align: -0.125em;
    }
  }

  audio {
    width: 100%;
  }

  p,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  &__item--meta {
    &--register-button,
    &--button {
      display: flex;
      cursor: pointer;

      a {
        color: inherit;
        padding: 12px 24px;
      }
    }
  }

  p.brz-ministryBrands__pagination {
    padding: 2rem;

    a#off {
      cursor: default;
    }

    & > span.pagination_ellipsis,
    & > a:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  p.brz-groupLayout__pagination,
  p.brz-staffList__pagination,
  p.brz-staffLayout__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1;

    & > * {
      margin: 0 0.25rem;
    }

    a#off {
      cursor: default;
    }

  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    transition: background-color 50000s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
  }
}

.brz-ministryBrands {
  .brz-ministryBrands__item--media {
    overflow: hidden;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  &:not(.brz-staffLayout):not(.brz-staffList__wrapper):not(.brz-staffDetail__wrapper):not(.brz-staffFeatured__wrapper) {
    .brz-ministryBrands__item--media {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;

      iframe,
      video,
      img {
        position: absolute;
        top: 0;
        left: 0;
      }

      iframe,
      video {
        width: 100%;
        height: 100%;
        border: 0 !important;
      }
    }
  }
}
