.brz-staffList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__wrap {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    word-break: break-word;

    & > article {
      width: var(--columnSize);
    }

    .brz-staffList__info {
      .brz-staffList_no-image {
        width: 100%;
        text-align: inherit;

        li {
          display: inline-block;
          margin: 0 0.25rem !important;

          .brz-staffList__link {
            display: flex;
            width: 32px;
            height: 32px;
            line-height: 32px;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
        }
      }
    }

    .brz-ministryBrands__item {
      &--wrapper {
        display: flex;
      }

      &--media {
        position: relative;

        .brz-staffList__rollover {
          position: absolute;
          inset: 0;
          overflow: hidden;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          opacity: 0;
          transition: 0.4s;
          z-index: 100;
          text-align: center;

          &:hover {
            opacity: 1;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
          }

          &_inner {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
          }

          .brz-staffList__detail-url {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
          }

          .brz-staffList__social {
            position: absolute !important;
            left: 0;
            bottom: 20px;
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
              display: inline-block;
              margin: 0 0.25rem !important;

              a {
                display: flex;
                width: 32px;
                height: 32px;
                line-height: 32px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
