.brz-groupDetail {
  overflow: hidden;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .brz-ministryBrands__item--meta--links--previous {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
