.brz-sermonLayout {
  overflow: hidden;

  &__wrapper {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--columnCount), var(--columnSize));
    word-break: break-word;
  }

  &__item {
    &--meta {
      &--title {
        a {
          color: inherit;
        }
      }
    }

    &--media {
      display: flex;

      li {
        margin: 0 0.5rem 0 0;

        a {
          height: auto;
          width: 100%;
          display: inline-block;
        }
      }

      &--audio {
        width: 100%;
      }

      &_videoplayer,
      &_audioplayer {
        svg {
          pointer-events: none;
        }
      }
    }

    &--detail-button {
      a {
        color: inherit;
      }
    }
  }

  ul {
    list-style-type: none;
  }

  &__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;

    &--form {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      max-width: 100%;

      &-selectWrapper {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;

        &::after {
          content: "";
          top: calc(50% - 2px);
          right: 10px;
          position: absolute;
          width: 8px;
          height: 8px;
          border-width: 2px;
          border-style: solid;
          border-color: currentColor;
          border-left-style: none;
          border-top-style: none;
          transform: translateY(-50%) rotate(45deg);
        }
      }

      select {
        flex-basis: 0%;
        flex-grow: 1;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0.5rem;
        margin-bottom: 0;
        padding-left: 10px;
        white-space: break-spaces;

        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-family: inherit;
        font-style: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        text-transform: inherit;
        font-variation-settings: inherit;
        color: inherit;
        min-height: 36px;
        appearance: none;
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &--form-search {
      width: 180px;
      max-width: 180px;
      margin: 0;
      border: 0;
      outline: none;
      padding: 0;
      line-height: 1;
      overflow: hidden;

      fieldset {
        position: relative;
        display: block;
        padding: 0 28px 0 0;
        margin: 0;
        line-height: 1;
        border-radius: 0px;
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: inherit;
        background-color: #fff;
        min-height: 36px;
        height: 100%;

        input {
          display: block;
          width: 100%;
          margin-left: 0;
          margin-right: 0.5rem;
          margin-bottom: 0;
          padding-left: 10px;
          padding-top: 0;
          padding-bottom: 0;
          border: 0;
          font-size: 16px;
          font-weight: 400;
          min-height: 36px;
          line-height: normal;
          outline: none;
          background-color: transparent;
          color: inherit;
          height: 100%;
        }

        button {
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          width: 14px;
          height: 14px;
          line-height: 14px;
          font-size: 14px;
          text-align: center;
          background: none;
          outline: none;
          border: 0;
          padding: 0;
          cursor: pointer;
          transition: 0.2s;
          color: inherit;
          background-color: transparent !important;

          svg {
            height: 100%;
          }
        }
      }
    }
  }

  .brz-ministryBrands__pagination {
    text-align: center;
  }

  h5.brz-sermonLayout-results-heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .brz-sermonLayout__filter {
    flex-direction: column;

    &--form-selectWrapper {
      width: 100%;
      margin-bottom: 1rem;
    }

    form {
      flex-direction: column;
      max-width: initial;
      width: 100%;
    }
  }
}
