.brz-sermonFeatured {
  overflow: hidden;
  &__item {
    &--media {
      width: 100%;

      &--links {
        display: flex;
        gap: 10px;
        padding: 0;
      }
    }

    li {
      list-style: none;
    }
  }
}
