.brz-articleDetail {
  overflow: hidden;

  &__item {
    &--content * {
      color: inherit;
      font-family: inherit;
    }

    .brz-ministryBrands__item--meta--links--previous {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--media {
      list-style: none;
      padding: 0;
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      gap: 0.5rem;

      a {
        color: inherit;
      }

      &--audio {
        width: 100%;
      }

      li {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
