// --- Placeholder for shortcodes
.brz-shortcode__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #373e48;
  color: #151924;

  .brz-icon-svg {
    width: calc(16px + (0.075 * 100%));
    height: calc(16px + (0.075 * 100%));
  }
}
