// Popups
.brz-popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: z("toolbar");

  &__close {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 0;
    cursor: pointer;

    .brz-icon-svg {
      font-size: 26px;
    }
  }

  & > .brz-ed-border {
    height: 100%;
  }

  .brz-container__wrap {
    position: relative;
  }

  &__inner {
    height: 100%;

    // Добавить в editor
    & > .brz-bg-content {
      max-height: 100%;
      display: flex;

      & > .brz-container__wrap {
        margin: 0;
        padding: 0;
        min-width: 300px;
      }
    }
  }

  &__vertical-align {
    transform: rotate(270deg);
  }

  &__button-go-to-editor {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 34px;
    font-size: 13px;
    font-weight: 600;
    padding: 13px 23px 13px 18px;
    color: #fff;
    background-color: rgba(3, 8, 15, 0.92);
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 9999;

    &:hover {
      color: #3dbfe8;
    }
  }

  &__icon-go-to-editor {
    vertical-align: text-top;
    margin-right: 16px;
  }
}

// Popup for preview
.brz-popup2__preview {
  z-index: -1;
  visibility: hidden;
  transform: translate(-100%);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
    0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) visibility,
    0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) z-index;

  &.brz-popup2--opened {
    z-index: z("toolbar");
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity,
      0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) visibility,
      0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) z-index;
  }
}
