.brz-wp__postinfo {
  width: auto !important;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  word-break: break-all;

  & > ul {
    margin:0;
    padding: 0;

  }

  .brz-li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:last-child{
      margin-right: 0 !important;
    }

    .brz-icon-svg {
      margin-right: 0.5em;
    }

  }
}
