// Posts
.brz-posts {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__filter {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: inherit;
    padding: 0;
    flex-wrap: wrap;

    &-wrapper {
      width: 100%;
      grid-column: 1 / -1;
      justify-content: center;
    }
    &--style-2 {
      width: fit-content;
    }
    &__item {
      cursor: pointer;
    }
    &__item:first-child {
      margin-left: 0 !important;
    }
    &__item:last-child {
      margin-right: 0 !important;
    }
  }
  &__item > .brz-columns {
    height: 100%;
  }
}

// pagination all class is from WP
.brz-posts__pagination {
  ul.page-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.page-numbers > li {
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  ul.page-numbers .page-numbers {
    position: relative;
    display: block;
    padding: 6px 10px;
    outline: none;
    color: inherit;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    transition: 0.2s linear color;

    &:hover {
      transition: 0.2s linear color;
    }
  }
}
