// --- Progress Bar
.brz-progress-bar {
  &__wrapper {
    overflow: hidden;
  }
  .brz-text__editor {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.brz-without-text .brz-progress-bar__percent {
    width: 100%;
    text-align: right;
  }
  &-style1::after,
  &-style2 .brz-progress-bar-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &-style1,
  &-style2 .brz-progress-bar-overlay {
    position: relative;
  }
  &-style2 .brz-progress-bar__percent {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    margin-bottom: 10px;
    text-align: center;
    z-index: 99999;
  }
}
