.brz-reset-psw {
  width: 100%;

  .brz-input {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    line-height: inherit;
    box-shadow: none;

    &::placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
  &__item {
    flex-grow: 1;
    flex-shrink: 0;

    &-button {
      .brz-btn {
        outline: none;
        width: 100%;
      }
      .brz-icon-svg {
        flex-grow: 0;
      }
    }
  }

  &-form {
    flex-wrap: wrap !important;
    margin-top: -0 !important;

    &__field {
      padding-top: 0 !important;

      a {
        text-decoration: none;
      }
    }

    .brz-reset-psw__field {
      &-label {
        display: block;
      }

      &-empty.brz-input {
        border-color: #f00;
      }
    }
  }
  .brz-reset-psw-form {
    .brz-reset-psw-form__field {
      .brz-reset-psw__field-empty.brz-input {
        border-color: #f00;
      }
    }
  }

  &__alert {
    min-height: 55px;
    width: 100%;
    padding: 17px 30px;
    margin-top: 15px;

    font-family: $font-family-1;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    font-weight: 600;

    text-transform: uppercase;
    color: #fff;
    background-color: #f00;
  }
}
