// Row
.brz-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;

  &__container {
    position: relative;
    text-align: center;
    justify-content: center;

    .brz-link-container {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    // align by container
    > .brz-bg {
      left: auto;
    }
  }
}
