.brz-search-container {
  display: flex;
  align-items: center;
  overflow: visible;

  &--minimal {
    overflow: hidden;

    .brz-search-form {
      padding: 0 15px;
    }
  }

  .brz-ed-box__resizer {
    height: unset;
  }
  .brz-search-form {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
  }
  .brz-btn {
    margin-left: auto;
    z-index: 1;
  }
  .brz-wrapper-clone__wrap {
    margin: 0;
  }
  .brz-search {
    background-color: transparent;
    width: 100%;
    padding: 0 15px;
    outline: none;
    border: 0;
    border-radius: 0;

    &:-webkit-autofill {
      transition: background-color 500000s ease !important;
    }
    &::placeholder {
      color: inherit;
    }
  }
}
