// --- Shape
.brz-shape {
  position: relative;
  width: 100%;
  display: flex !important;
  vertical-align: middle;

  .brz-ed-border,
  .brz-d-xs-flex {
    height: 100%;
  }

  .brz-ed-box__resizer {
    height: unset;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
  }
}
