.brz-shopify-quantity {
  width: 20%;
  line-height: 1.8;
  & > .brz-input {
    outline: none;
    letter-spacing: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    background-color: inherit;
    text-align: center;
    border-radius: inherit;
    width: 100%;
    line-height: inherit;
  }
}
