.brz-blogpostmeta {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: inherit;
  width: 100%;
  padding: 0;
  margin: 0;
  word-break: break-all;

  .brz-shopify-blogPostMeta__title > span:not(:last-child) {
    margin-right: 10px;
  }
}
