// ShopifyAddToCart
@import "shopifyAddToCart";

// ShopifyPrice
@import "shopifyPrice";

// ShopifyStampedReviews
@import "stampedReviews";

// ShopifyBlogPostMeta
@import "shopifyBlogPostMeta";

// ShopifyVariant
@import "shopifyVariant";

// ShopifyProductMetafield
@import "shopifyProductMetafield";

// ShopifyVendor
@import "shopifyVendor";

.brz-shopify {
  .brz-img {
    object-fit: cover;
  }

  a:empty,
  ul:empty,
  dl:empty,
  div:empty,
  section:empty,
  article:empty,
  p:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty {
    display: initial;
  }
}
