.brz-slick-slider {
  .brz-rich-text *,
  .brz-icon-svg {
    backface-visibility: hidden;
  }
  .brz-bg {
    width: calc(100% + 1px);
  }
  .brz-bg-color {
    transform: translateZ(0);
  }
  .slick-slide > div,
  .brz-section__content {
    outline: none;
  }

  // Animation
  &--fade .slick-slide {
    height: auto;
    visibility: hidden;

    &.slick-active {
      visibility: visible;
    }
  }
}

// Dots
.brz-slick-slider__dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  list-style: none;
  margin: 0;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  button {
    cursor: pointer;
    color: inherit;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    border: 2px solid currentColor;
    border-radius: 0;
    background-color: transparent;
    transition: transform linear 0.2s, background-color linear 0.2s;
  }
  .slick-active button {
    background-color: currentColor;
    transition: transform linear 0.2s, background-color linear 0.2s;
  }

  // Type
  &--circle button {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  &--diamond button {
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
  }
  &--square button {
    width: 10px;
    height: 10px;
  }
}

// Arrow
.brz-slick-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 30px;
  cursor: pointer;
  transition: opacity linear 0.2s;
  color: #000;
  background-color: transparent;
  border: none;
  overflow: auto;

  &:hover {
    transition: opacity linear 0.2s;
  }
  .brz-icon-svg {
    display: block;
  }
  &-prev {
    transform: translateY(-50%) rotate(-180deg);
    left: 30px;
  }
  &-next {
    right: 30px;
  }
}
