// Switcher
.brz-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__nav {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    position: relative;
    background-clip: padding-box;
    flex-wrap: nowrap;

    > * {
      cursor: pointer;
    }

    &:before {
      content: "";
      position: absolute;
      inset-inline-start: calc(50% - 2px);
      height: calc(100% - 4px);
      width: calc(50% - 2px);
      margin: 2px;
      transition-duration: 300ms;
    }

    &--item {
      width: 50%;
      height: 100%;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      text-decoration: inherit;
    }

    &--item--active {
      z-index: 1;
    }

    &--active:before {
      content: "";
      transform: translateX(-100%);
    }

    &--text {
      position: relative;
    }
  }

  &__content--tab {
    display: none;
    width: 100%;

    &--active {
      display: flex;
    }
  }
}

// Switcher style-2
.brz-switcher__nav2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &--control {
    height: 47px;
    display: flex;
    transition-duration: 300ms;
    cursor: pointer;
  }

  &--control:before {
    content: "";
    position: relative;
    inset-inline-start: calc(50% + 2px);
    margin: 2px;
    height: calc(100% - 4px);
    width: calc(50% - 5px);
    transition-duration: 300ms;
  }

  &--control--active:before {
    content: "";
    transform: translateX(calc(-100% - 8px));
  }

  &--button {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .brz-switcher__nav2--button {
    margin: 0 20px;
  }
}

.brz-switcher--style2 > .brz-switcher__nav2 > span {
  cursor: pointer;
}
