// table
.brz-table {
  display: table;
  table-layout: fixed;
  margin: 0;

  .brz-table__tr:nth-child(even) .brz-table__td {
    font-size: initial;
    font-style: inherit;
    font-family: inherit;
  }

  .brz-table__tr:nth-child(2n + 1) .brz-table__td {
    font-size: initial;
    font-style: inherit;
    font-family: inherit;
  }

  &__th--btn {
    display: flex;
    justify-content: center;
  }
}
.brz-table__th .brz-span {
  margin: auto 0;
}
