// Shortcode Text
.brz-rich-text {
  -webkit-font-smoothing: antialiased;
  flex: 1 1 auto;
  min-width: 0;

  .brz-ed-box__resizer {
    max-width: 100%;
  }

  .brz-capitalize-on {
    text-transform: uppercase;

    // rich-text can have span inside span(usually this happens with DC)
    // text-transform - doesn't apply for children
    // this way we use this hack
    span {
      text-transform: uppercase;
    }
  }

  @include word-wrap;

  > * {
    white-space: pre-wrap;
  }

  i,
  em {
    font-style: italic;
  }
  ul li,
  ol li {
    margin-left: 2em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  .ql-editor {
    white-space: pre-wrap;
  }
  .brz-text-mask,
  .brz-image-gradient {
    caret-color: #000;
    color: transparent !important;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  // Text Reset
  > div > h1,
  > div > h2,
  > div > h3,
  > div > h4,
  > div > h5,
  > div > h6 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-transform: initial;
    text-decoration: initial;

    &:before {
      display: none;
    }
  }
  > div > p,
  span {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: initial;
    text-decoration: initial;
  }
  span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
  p {
    display: block;
  }
  a,
  em,
  span {
    display: inline;
  }
  ol,
  ul,
  dl {
    margin: 0;
    padding: 0;
  }
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin: 0;
  }
  strong {
    font-weight: bold;
  }
  .link--anchor,
  .link--external,
  .link--story,
  .link--popup {
    text-decoration: $link-decoration;

    @include hover {
      text-decoration: $link-hover-decoration;
    }
  }

  .brz-tp__dc-block {
    @include clearfix;
  }
  .brz-tp__dc-block iframe,
  .brz-tp__dc-block object,
  .brz-tp__dc-block video,
  .brz-tp__dc-block img {
    max-width: 100%;
  }
}

// RichText with QuillJs
.brz-rich-text__custom {
  a {
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

    &[href] :not(.brz-ed-content-dc-link) {
      @include hover {
        text-decoration: $link-hover-decoration;
      }
    }
  }
}

// RichText with Dynamic content
.brz-rich-text__population-cloud {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: $link-decoration;

    @include hover {
      text-decoration: $link-hover-decoration;
    }
  }
  blockquote {
    border-left: 4px solid #ccc;
    margin: 5px 0 5px;
    padding: 0 0 0 16px;
  }
}

.brz-rich-text {
  // Indent
  .ql-indent-1 {
    text-indent: 3em;
  }
  .ql-indent-2 {
    text-indent: 6em;
  }
  .ql-indent-3 {
    text-indent: 9em;
  }
  .ql-indent-4 {
    text-indent: 12em;
  }
  .ql-indent-5 {
    text-indent: 15em;
  }
  .ql-indent-6 {
    text-indent: 18em;
  }
  .ql-indent-7 {
    text-indent: 21em;
  }
  .ql-indent-8 {
    text-indent: 24em;
  }
  .ql-indent-9 {
    text-indent: 27em;
  }

  // Align
  .ql-align-center {
    text-align: center;
  }
  .ql-align-right {
    text-align: right;
  }
  .ql-align-justify {
    text-align: justify;
  }
}

// Simple text
.brz-text__editor {
  min-width: 10px;

  &:empty:before {
    content: "\00a0\00a0";
  }
}
.brz-population-mask {
  &.brz-population-mask__style {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Only preview
&:not(.brz-ed) {
  .brz-population-mask {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
  }

  .brz-story .brz-rich-text > div {
    width: 100%;
  }
}
