// Video Component
.brz-video {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
  }
  .brz-video-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .brz-iframe,
  .brz-video__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  // 101% because have problems with chrome
  // have 1px white after iframe
  .brz-iframe {
    height: 101%;
    width: 101%;
  }
  .brz-video__cover {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
    .brz-video__cover-icon {
      position: relative;
      z-index: 1;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: transform 0.3s ease;

      .brz-icon-svg {
        width: 100%;
        left: 2px;
      }
      a {
        line-height: 0;
      }
    }
    &:hover {
      cursor: pointer;

      .brz-video__cover-icon {
        transform: scale(1.1);
      }
    }
  }

  // Video Placeholder
  .brz-shortcode__placeholder {
    position: absolute;
    top: 0;
  }

  // Video Player
  .brz-video-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999;
    min-width: 350px;

    video {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      z-index: 99;
    }
    .brz-video-custom-video-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      height: 50px;
      z-index: 999;
    }
    .brz-video-custom-play-pause-btn {
      display: flex;
      cursor: pointer;
      z-index: 3;
    }
    .brz-video-custom-current-time {
      margin-left: 25px;
    }
    .brz-video-custom-total-time {
      margin-left: 15px;
    }
    .brz-video-custom-slider {
      position: relative;
      flex-grow: 1;
      cursor: pointer;

      .brz-video-custom-progress {
        border-radius: inherit;
        position: absolute;
        pointer-events: none;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background-repeat: no-repeat;
        opacity: 0.35;
      }
    }
    .brz-video-custom-controls {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      z-index: 3;

      .brz-video-custom-slider {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 5px;
        height: 8px;
        overflow: hidden;

        .brz-video-custom-progress {
          height: 100%;
        }
      }
      span {
        cursor: default;
      }
    }
    .brz-video-custom-controls:empty {
      display: none;
    }
    .brz-video-custom-volume {
      position: relative;
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-items: center;
      z-index: 3;

      .brz-video-custom-fullscreen-btn {
        display: flex;
      }
      .brz-video-custom-fullscreen-icon {
        margin-right: 15px;
        cursor: pointer;
      }
      .brz-video-custom-volume-btn {
        display: flex;
        cursor: pointer;
      }
      .brz-video-custom-volume-controls {
        display: flex;
        width: 60px;
        height: 8px;
        margin-left: 10px;
        border-radius: 5px;
        flex-direction: column;
        overflow: hidden;

        .brz-video-custom-progress {
          bottom: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .brz-video-custom-fullScreen-window-show {
    video {
      padding-bottom: 50px;
    }
    .brz-video-custom-video-controls {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

// Custom Video Style
.brz-custom-video {
  min-width: 355px;

  .brz-video-content {
    overflow: hidden;

    .brz-shortcode__placeholder {
      border-radius: 0 !important;
    }
    &:hover {
      .brz-shortcode__placeholder .brz-icon-svg {
        cursor: pointer;
      }
    }
    .brz-shortcode__placeholder {
      transition: all 0.6s ease;
    }
    .brz-icon-svg {
      transition: all 0.6s ease;
    }
  }
}
.brz-custom-video.brz-video-on-controls-hidden {
  .brz-video__cover,
  .brz-shortcode__placeholder,
  video {
    padding-bottom: 50px;
  }
}
.brz-custom-video.brz-video-off-controls-hidden {
  background: inherit;
  padding-bottom: 0;
  video {
    padding-bottom: 0;
    background: inherit;
  }
  .brz-shortcode__placeholder {
    top: 0;
    padding-top: 0;
  }
  .brz-video__cover {
    padding-bottom: 0;
  }
}

// Ratio
.brz-image-fix-1-1 {
  padding-top: 100%;
}
.brz-image-fix-2-1 {
  padding-top: 50%;
}
.brz-image-fix-2-3 {
  padding-top: 150%;
}
.brz-image-fix-3-4 {
  padding-top: 125%;
}
.brz-image-fix-4-3 {
  padding-top: 75%;
}
.brz-image-fix-9-16 {
  padding-top: 177.8%;
}
.brz-image-fix-16-9 {
  padding-top: 56.25%;
}
