// Video Component
.brz-video {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;

  &__ios {
    iframe {
      opacity: 0;
    }
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    pointer-events: none;
  }

  .brz-video-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    .brz-video__lightbox {
      cursor: zoom-in;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;

      &:hover ~ .brz-video__cover .brz-video__cover-icon {
        transform: scale(1.1);
      }
    }
  }

  .brz-iframe,
  .brz-video__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .brz-iframe {
    height: 100%;
    width: 100%;
  }

  .brz-video__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      background-repeat: no-repeat;
    }

    .brz-video__cover-icon {
      position: relative;
      z-index: 1;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      .brz-icon-svg {
        width: 100%;
        left: 2px;
      }

      .brz-span {
        line-height: 0;
      }
    }

    &:hover {
      cursor: pointer;

      .brz-video__cover-icon {
        transform: scale(1.1);
      }
    }
  }

  // Video Placeholder
  .brz-shortcode__placeholder {
    position: absolute;
    top: 0;
  }

  // Video Player
  @include custom-video;
}

// Custom Video Style
.brz-custom-video {
  min-width: 150px;

  .brz-video-content {
    .brz-shortcode__placeholder {
      border-radius: 0 !important;
    }

    &:hover {
      .brz-shortcode__placeholder .brz-icon-svg {
        cursor: pointer;
      }
    }
  }
}

.brz-custom-video.brz-video-on-controls-hidden {
  .brz-video__cover {
    position: relative;
    height: calc(100% + 50px);
  }

  .brz-video-content .brz-video-elem video {
    height: calc(100% - 50px);
  }
}

.brz-custom-video.brz-video-off-controls-hidden {
  background: inherit;
  padding-bottom: 0;

  video {
    padding-bottom: 0;
    background: inherit;
  }

  .brz-shortcode__placeholder {
    top: 0;
    padding-top: 0;
  }

  .brz-video__cover {
    padding-bottom: 0;
  }

  .brz-video-content .brz-video-elem {
    height: 50px;
  }
}

&:not(.brz-ed) {
  .brz-custom-video.brz-video-off-controls-hidden {
    .brz-video-content .brz-video-elem {
      height: 0;
    }
  }
}

// this is magnific popup container class, need for video lightbox mode
.mfp-content {
  &:has(.mfp-iframe) {
    max-width: 900px;
  }

  video {
    display: block !important;
    width: 100%;
  }
}
