// WOOAdditional
.brz-wooadditional {
  width: 100%;

  & * {
    margin: 0;
    padding: 0;
  }

  &__attributes {
    display: flex;
    border-style: solid;
    border-bottom-style: none;

    &:last-child {
      border-bottom-style: solid;
    }
  }
  &__title::before {
    display: none;
  }
  &__item {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: inherit;
  }
  .brz-wooadditional__label {
      border-right-style: solid;
  }
}
