.brz-woo-add-to-cart {
  width: 100%;
  display: flex;
  justify-content: inherit;

  .hidden {
    display: none;
  }

  > div:not(.brz-shortcode__placeholder) {
    width: 100%;
    display: flex;
    justify-content: inherit;
  }

  form.cart > .quantity {
    float: none;
  }
  form:not(.variations_form) {
    display: inline-flex;
  }

  // Grouped
  form.grouped_form {
    flex-wrap: wrap;
    width: 100%;
    justify-content: inherit;

    .woocommerce-grouped-product-list {
      margin-top: 0;

      &-item td {
        padding: 0.7em 1em;
      }

      &-item__label a {
        text-decoration: unset;
        color: inherit;
      }
    }
  }

  // Variations
  form.variations_form {
    width: 100%;
    justify-content: inherit;
    display: flex;
    flex-wrap: wrap;

    table {
      margin-top: 0;
    }

    select {
      background-color: inherit;
    }
    table.variations td {
      vertical-align: middle;

      .reset-variations {
        margin-left: 15px;
      }
    }

    .single_variation_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: inherit;

      .single_variation {
        width: 100%;
        margin: 0;
        > div {
          margin-bottom: 20px;
        }
      }
    }

    .variations_button {
      display: inline-flex;
    }
  }

  .woocommerce-variation-price {
    margin-bottom: 20px;
  }

  & * {
    transition-property: color, background-color, border;
  }
  input[type="number"].input-text {
    width: 100%;
    min-height: 100%;
    padding: 0;
    text-align: center;
    outline: none;
    height: auto;
  }

  .single_add_to_cart_button {
    margin: 0;
    width: auto;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: none;
  }

  div
    .bundle_form
    .cart
    .bundle_wrap
    .bundle_button
    .single_add_to_cart_button.bundle_add_to_cart_button {
    width: max-content;
  }
}
