.brz-wp-post-content {
  width: 100%;

  > div > :first-child {
    margin-top: 0;
  }

  > div > :last-child {
    margin-bottom: 0;
  }

  > div > * {
    margin: revert;
  }
}

.brz-rich-text .brz-tp__dc-block-st1 {
  width: 100%;
  white-space: initial;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > * {
    margin-bottom: 1em;
  }
}
