// Wrapper
.brz-wrapper {
  flex-wrap: wrap;
  min-width: 0;
  min-height: 1px;
}

// Wrapper Clone
.brz-wrapper-clone {
  > div {
    flex: 1 0 100%;
    min-width: 0;
    align-items: center;
  }
  &__item {
    position: relative;
    min-height: 1px;
    flex-basis: auto;
  }
}
