// Wrapper
.brz-wrapper {
  flex-wrap: wrap;
  min-width: 0;
  min-height: 1px;

  &:has(.brz-wrapper-transform, .brz-wrapper__scrollmotion, .brz-hover-animation__container)
  :has(.brz-menu__item-dropdown--active, .brz-menu__item--opened) {
    z-index: z("menu-transform");
  }

  > .brz-wrapper-transform {
    flex: 1 0 100%;
    min-width: 0;
    display: inherit;
    justify-content: inherit;
    transition: transform 0.2s ease;

    > div.brz-wrapper__scrollmotion {
      flex: 1 0 100%;
      min-width: 0;
      display: inherit;
      justify-content: inherit;
    }
  }

  > div.brz-wrapper__scrollmotion {
    flex: 1 0 100%;
    min-width: 0;
    display: inherit;
    justify-content: inherit;
  }
}

// Wrapper Clone
.brz-wrapper-clone {
  align-items: center;
  > div {
    flex-grow: 0;
    flex-basis: content;
    min-width: 0;
    align-items: center;
    display: inline-flex;
  }

  &__item {
    position: relative;
    min-height: 1px;
    flex-basis: auto;

    .brz-icon-svg {
      min-width: 1em;
    }
  }
}
