// Wrapper
.brz-wrapper {
  flex-wrap: wrap;
  min-width: 0;
  min-height: 1px;

  > .brz-wrapper-transform {
    flex: 1 0 100%;
    min-width: 0;
    display: inherit;
    justify-content: inherit;
    transition: transform 0.2s ease;
    will-change: transform;

    > div.brz-wrapper__scrollmotion {
      flex: 1 0 100%;
      min-width: 0;
      display: inherit;
      justify-content: inherit;
    }
  }

  > div.brz-wrapper__scrollmotion {
    flex: 1 0 100%;
    min-width: 0;
    display: inherit;
    justify-content: inherit;
  }
}

// Wrapper Clone
.brz-wrapper-clone {
  > div {
    flex: 1 0 100%;
    min-width: 0;
    align-items: center;
  }
  &__item {
    position: relative;
    min-height: 1px;
    flex-basis: auto;
  }
}
