@use "../mixins/media-caption";

.brz .brz-audio {
  @include media-caption.media-caption;

  &-caption {
    position: absolute;
    bottom: 0;
    z-index: 3;

    &:empty {
      display: none;
    }
  }

  :is(
    .brz-audio-play-pause-btn,
    .brz-audio-volume-btn,
    .brz-audio-slider
  ):focus-visible {
    outline: 2px solid #2563eb;
  }
}
