.brz-pinterest {
  width: 100%;
  display: flex;
  align-items: center;

  .brz-ed-pinterest--content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &--followButton {
    span[data-pin-log="button_follow"] {
      &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }
}
