// --- Visual Bar Forms
.brz-ed-bar-form-styles {
  .brz-ed-bar-row {
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;

    .brz-ed-bar-label,
    .brz-ed-bar-field .brz-input {
      border-bottom: 1px solid $toolbar-border-color;
    }
    &:last-child {
      .brz-ed-bar-label,
      .brz-ed-bar-field .brz-input {
        border-bottom-color: transparent;
      }
    }
  }
  .brz-ed-bar-label {
    min-width: $popover-item-width;
    height: $popover-item-height;
    padding: 0 $popover-item-padding;
    margin-right: 0;
    color: $toolbar-text-color;
    text-align: center;

    i {
      font-size: $popover-form-icon-size;
      line-height: $popover-item-height;
    }
  }
  .brz-ed-bar-field .brz-input {
    width: ($popover-md-width - $popover-item-width * 2);
    height: $popover-item-height;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: $popover-form-input-font-size;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px solid $toolbar-border-color;
    padding-right: 5px;
  }
}

// Submit
.brz-ed-bar-form-submit {
  width: $popover-item-width;
  height: $popover-item-height;
  line-height: $popover-item-height;
  text-align: center;
  font-size: $popover-links-arrow-size;
  display: inline-block;
  vertical-align: top;
  color: $toolbar-text-color;
  transition: color 0.1s linear;

  &:focus,
  &:hover {
    transition: color 0.1s linear;
    color: $brand-primary;
  }
}

// Form Settings Apps
// Scroll Pane
$form-apps-scrollpane-track-width: 3px;
$form-apps-scrollpane-track-thumb: 3px;
$form-apps-scrollpane-track-background: #44474b;

// ---
.brz-ed-bar-form-apps {
  $popover-width: 288px;

  width: $popover-width;
  margin-left: -($popover-width/2 - $popover-item-width/2);
  font-family: $font-family-1;

  .brz-ed-bar-settings {
    width: 100%;
  }
  .brz-ed-bar-row {
    padding: 20px 0 18px;
  }
  .brz-ed-popup-apps-items {
    position: relative;
    margin: 8px 0 10px;
    cursor: pointer;
    width: 65px;
    text-align: center;
  }
  .brz-ed-popup-apps-items:first-child .brz-ed-popup-app-logo {
    background: #5db8d3;
  }
  .brz-ed-popup-app-logo {
    width: 47px;
    height: 47px;
    margin-bottom: 7px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

    .brz-img {
      width: 100%;
      display: block;
      overflow: hidden;
      border-radius: 5px;
    }
    .brz-ed-popup-app-active-icon {
      top: -4px;
      right: 5px;
    }
  }
  .brz-ed-popup-app-title {
    font-family: $font-family-1;
    font-size: 11px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
  }

  // ScrollPane
  .brz-ed-scroll-pane {
    .brz-ed-tall-thumb {
      width: $form-apps-scrollpane-track-width;
      background-color: transparent;
      border-radius: 3px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 3px;
        top: 10px;
        bottom: 10px;
        width: $form-apps-scrollpane-track-thumb;
        min-height: $form-apps-scrollpane-track-thumb;
        background-color: $form-apps-scrollpane-track-background;
        border-radius: 2px;
      }
    }
  }
  .brz-ed-tall-track {
    border-radius: 0 3px 3px 0;
  }
}

// Setting for Items
.brz-ed-bar-input-list {
  margin-top: 10px;
  margin-bottom: 10px;

  .brz-ed-bar-input-item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .select-icon-delete,
  .select-icon-add {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: -8px;
    cursor: pointer;
    transition: 0.2s linear color;

    i {
      line-height: 28px;
    }
    &:hover {
      transition: 0.2s linear color;
      color: $brand-primary;
    }
  }
}
