// --- Loading Content
.brz-ed-bar-loading {
  .brz-ed-bar-settings:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($content__loading-size / 2);
    margin-left: -($content__loading-size / 2);
    border: $content__loading-border-width solid $content__loading-border;
    border-top: $content__loading-border-width solid $content__loading-border-top;
    border-radius: 50%;
    width: $content__loading-size;
    height: $content__loading-size;
    animation: spin 2s linear infinite;
  }

  .brz-ed-bar-row {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
  }
}
