// --- Loading Content
.brz-ed-bar-loading {
  .brz-ed-bar-settings:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -($spinner-size / 2);
    margin-left: -($spinner-size / 2);
    border: $spinner-border-width solid $spinner-border-bg-color;
    border-top: $spinner-border-width solid $spinner-border-animate-color;
    border-radius: 50%;
    width: $spinner-size;
    height: $spinner-size;
    animation: spin 2s linear infinite;
  }
  .brz-ed-bar-row {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
  }
}
