// --- Color Picker
.brz-ed-control__colorPicker {
  .minicolors-slider,
  .minicolors-opacity-slider {
    width: 12px;
    border-radius: 3px;

    .minicolors-picker {
      margin-left: 1px;
      margin-right: 1px;
    }
  }
  .minicolors-slider {
    left: 162px;

    .minicolors-picker:after {
      height: 8px;
      margin-top: -7px;
      margin-bottom: -7px;
    }
  }
  .minicolors-opacity-slider {
    left: 184px;

    .minicolors-picker {
      position: absolute;
      top: 0;
      left: -2px;
      right: -2px;
      height: 8px;
      margin-top: -7px;
      margin-bottom: -7px;
      border-radius: 50%;
      background: 0 0;
      border: 3px solid #fff;
      box-sizing: content-box;
      box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }
  }
  .minicolors .minicolors-grid {
    border-radius: 3px;
  }
  &__footer {
    position: relative;
    padding-top: 3px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
  &__group {
    font-family: $font-family-1;
    font-size: 13px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 12px;
    }

    .brz-input {
      width: 60px;
      border: 0;
      background-color: transparent;
      text-transform: uppercase;
      color: $options-label-color;
      outline: none;
      text-align: center;
      padding: 0;
      float: none;
    }
  }
  &__opacity {
    .brz-input {
      width: 30px;
    }
  }
  &__label {
    margin-right: 3px;
    color: $options-label-color;
    font-family: $font-family-1;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-transform: capitalize;

    & + .brz-input {
      font-family: $font-family-monospace;

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        right: 0;
        width: 100%;
        border-bottom: 1px solid rgba($gray-light, 0.3);
      }
    }
  }
}
.brz-ed-popover__color-picker {
  .brz-ed-tooltip--medium {
    width: auto;
  }
}
