@import "../../variables";

// --- Fonts
$toolbar-fonts-height: 200px; //235px;
$font-item-offset: 10px;

// --
.brz-ed-toolbar__fonts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

// Font Options
.brz-ed-font {
  &__typography {
    height: $toolbar-fonts-height;
    flex-grow: 1;
    border-right: 1px solid $toolbar-border;
    overflow: hidden; // FIXME
    padding: 7px 3px 45px 0;
    position: relative;
  }

  &__typography-adder {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 14px;
    left: $font-item-offset;
    color: $toolbar__fonts__add-color;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s linear color;

    &:hover {
      color: $toolbar__fonts-color--active;
      transition: 0.2s linear color;
    }

    .brz-icon-svg {
      margin-inline-end: 10px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding: 22px 17px 0;
  }

  // Right content
  &__name {
    transition: color 0.2s linear;
    padding-bottom: 15px;
    padding-left: $font-item-offset;
    line-height: 1;
    color: $toolbar__fonts-color;
    cursor: pointer;

    &.active,
    &:hover {
      transition: color 0.2s linear;
      color: $toolbar__fonts-color--active;
    }
  }

  // Font separator
  &__separator {
    width: 50px;
    height: 1px;
    padding: 0;
    margin: 0 0 17px 27px;
    border: 0;
    background-color: $toolbar__fonts__separator-bg;
  }

  // Left content
  &-field {
    margin-bottom: 18px;
  }

  &__label {
    color: $options__label-color;
    font-size: $options__item-font-size;
    margin-bottom: 8px;
  }
}
