// --- Fonts
$scroll-pane-margin: 6px;
$toolbar-fonts-height: 217px; //235px;
$toolbar-fonts-item-active: #3ebfe8;

// --
.brz-ed-toolbar__fonts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

// Font Options
.brz-ed-font {
  &__typography {
    height: $toolbar-fonts-height;
    flex-grow: 1;
    border-right: 1px solid $toolbar-border-color;
    overflow: hidden; // FIXME
    padding: 7px 3px 45px 0;
    position: relative;

    // scrollPane need height for first render
    .brz-ed-scroll-pane {
      height: 165px;
      overflow: hidden;
    }
  }
  &__typography-adder {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 14px;
    left: 27px;
    color: #818a91;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s linear color;

    &:hover {
      color: $toolbar-fonts-item-active;
      transition: 0.2s linear color;
    }
    .brz-icon-svg {
      margin-right: 10px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    padding: 22px 17px 0;
  }

  // Right content
  &__name {
    transition: color 0.2s linear;
    padding-bottom: 15px;
    padding-left: 27px;
    line-height: 1;
    color: #fff;
    cursor: pointer;

    &.active,
    &:hover {
      transition: color 0.2s linear;
      color: $toolbar-fonts-item-active;
    }
    &:first-child {
      padding-top: 15px;
    }
  }

  // Font separator
  &__separator {
    width: 50px;
    height: 1px;
    padding: 0;
    margin: 0 0 17px 27px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  // Left content
  &-field {
    margin-bottom: 18px;
  }
  &__label {
    color: $options-label-color;
    font-size: $options-item-font-size;
    margin-bottom: 8px;
  }
}
