.contexify {
  position: fixed;
  background-color: $toolbar-bg;
  background-clip: padding-box;
  color: $options__label-color;
  border-radius: $toolbar-border-radius;
  box-shadow: 0 1px 8px 1px $toolbar-box-shadow;
  font-size: $options__item-font-size;
  font-family: $default-font-family;
  min-width: 185px;
  outline: none;
  opacity: 0;
  text-align: start;
  transition: opacity 0.2s linear;
  z-index: z("toolbar") + 1;
  padding: 4px 0;
  user-select: none;
  box-sizing: border-box;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    z-index: -1;
  }

  &_wrapper {
    width: 100%;
    height: auto;
  }

  &-title {
    height: 40px;
    margin-bottom: 7px;
    border-bottom: 1px solid $brand__options-border;
    pointer-events: none;

    .contexify_itemContent {
      color: #9ca7b0;
      justify-content: flex-start;

      .brz-icon-svg {
        margin-inline-end: 10px;
        font-size: 12px;
      }
    }
  }

  &_item {
    cursor: pointer;
    position: relative;
    padding: 7px 0;
    height: 35px;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;

    &:hover,
    &-active,
    &-selected {
      & > .contexify_itemContent {
        background-color: rgba(255, 255, 255, 0.12);
        color: $brand__primary;
      }

      .contexify_submenu-arrow {
        border-color: $brand__primary;
      }

      .contexify_submenu {
        pointer-events: initial;
        opacity: 1;
      }
    }

    &Content {
      width: 100%;
      height: 26px;
      line-height: 26px;
      padding: 6px 17px;
      text-align: start;
      font-weight: 600;
      color: $options__control-color;
      white-space: nowrap;
      position: relative;
      transition: all 0.2s linear;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .contexify_item-placeholder {
      color: #9da8b1;
    }

    // State
    &-disabled,
    &-disabled:hover {
      pointer-events: none;
      cursor: default;
    }

    &-disabled {
      .contexify_item-title {
        color: #9ca7b0;
      }
    }

    &-shortcut {
      color: #9ca7b0;
      font-weight: normal;
      font-size: 12px;
      font-family: $default-font-family;
      word-spacing: 1px;
      text-transform: capitalize;
    }

    &_submenu {
      height: 40px;
      border-top: 1px solid $brand__options-border;
      margin: 7px 0 -7px 0;
    }

    &_submenu:last-child {
      margin-bottom: 0;
    }

    @include hover-focus-active {
      outline: none;
    }
  }

  &_submenu {
    position: absolute;
    pointer-events: none;
    border-top: 1px solid $toolbar-border;
    margin-inline-start: 190px;
    margin-inline-end: 5px;

    .contexify_rightSlot {
      position: absolute;
      top: 50%;
      inset-inline-end: 17px;
      width: 6px;
      height: 6px;
      background-color: transparent;
      border-top: 1px solid $options__label-color;
      border-inline-end: 1px solid $options__label-color;
      transform: rotate(45deg) translateY(-50%);
      font-size: 0;
    }
  }

  &_rightSlot {
    display: flex;
  }
}

// Cloneable
.brz-wrapper-clone .contexify_wrapper {
  width: auto;
}

[dir="rtl"] {
  .contexify_rightSlot svg {
    transform: rotate(180deg);
  }
}
