@import "../../variables";

// --- Tooltip
.brz-ed-popover__tooltip {
  &.brz-ed-tooltip--opened .brz-ed-tooltip__content {
    color: $brand-primary;

    .brz-ed-popover__tooltip--icon-custom {
      border-color: $brand-primary;
    }
  }

  // Icon Custom
  &--icon-custom {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 2px;
    transition: border-color 0.2s linear;
  }
}
.brz-ed-tooltip__overlay {
  background-color: $toolbar-bg-color;
  box-shadow: $toolbar-box-shadow;
  border-radius: $toolbar-border-radius;

  .brz-ed-tooltip--top-start,
  .brz-ed-tooltip--right-end {
    border-radius: $toolbar-border-radius $toolbar-border-radius
      $toolbar-border-radius ($toolbar-border-radius/2);
  }

  .brz-ed-tooltip--top-end,
  .brz-ed-tooltip--left-end {
    border-radius: $toolbar-border-radius $toolbar-border-radius
      ($toolbar-border-radius/2) $toolbar-border-radius;
  }

  .brz-ed-tooltip--bottom-start,
  .brz-ed-tooltip--right-start {
    border-radius: ($toolbar-border-radius/2) $toolbar-border-radius
      $toolbar-border-radius $toolbar-border-radius;
  }

  .brz-ed-tooltip--bottom-end,
  .brz-ed-tooltip--left-start {
    border-radius: $toolbar-border-radius ($toolbar-border-radius/2)
      $toolbar-border-radius $toolbar-border-radius;
  }
}
